section.landing {
  width: 100vw;
  height: 95vh;
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 90%;
  background: linear-gradient(to bottom, black, rgb(2, 150, 169));
}

.star-cluster-white-small {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  box-shadow: 1141px 394px 0.5px 0.5px white, 1792px 1933px 0.5px 0.5px white, 1420px 1211px 0.5px 0.5px white, 23px 877px 0.5px 0.5px white, 128px 1103px 0.5px 0.5px white, 142px 798px 0.5px 0.5px white, 498px 61px 0.5px 0.5px white, 768px 417px 0.5px 0.5px white, 184px 533px 0.5px 0.5px white, 1241px 1009px 0.5px 0.5px white, 1983px 726px 0.5px 0.5px white, 1200px 50px 0.5px 0.5px white, 164px 796px 0.5px 0.5px white, 1819px 568px 0.5px 0.5px white, 1770px 842px 0.5px 0.5px white, 478px 1696px 0.5px 0.5px white, 1995px 563px 0.5px 0.5px white, 744px 1668px 0.5px 0.5px white, 977px 1355px 0.5px 0.5px white, 835px 274px 0.5px 0.5px white, 488px 33px 0.5px 0.5px white, 1415px 688px 0.5px 0.5px white, 1921px 1016px 0.5px 0.5px white, 468px 167px 0.5px 0.5px white, 882px 13px 0.5px 0.5px white, 1635px 1809px 0.5px 0.5px white, 1522px 562px 0.5px 0.5px white, 68px 460px 0.5px 0.5px white, 1763px 1582px 0.5px 0.5px white, 787px 53px 0.5px 0.5px white, 858px 1461px 0.5px 0.5px white, 1732px 1557px 0.5px 0.5px white, 1879px 1672px 0.5px 0.5px white, 790px 916px 0.5px 0.5px white, 1145px 1821px 0.5px 0.5px white, 1565px 383px 0.5px 0.5px white, 81px 592px 0.5px 0.5px white, 1005px 458px 0.5px 0.5px white, 1035px 1975px 0.5px 0.5px white, 997px 683px 0.5px 0.5px white, 893px 460px 0.5px 0.5px white, 1178px 560px 0.5px 0.5px white, 1720px 1729px 0.5px 0.5px white, 1423px 1081px 0.5px 0.5px white, 530px 232px 0.5px 0.5px white, 1304px 1973px 0.5px 0.5px white, 24px 529px 0.5px 0.5px white, 1384px 1967px 0.5px 0.5px white, 1434px 1941px 0.5px 0.5px white, 1750px 1178px 0.5px 0.5px white, 286px 373px 0.5px 0.5px white, 1379px 1150px 0.5px 0.5px white, 1681px 205px 0.5px 0.5px white, 2012px 206px 0.5px 0.5px white, 21px 1173px 0.5px 0.5px white, 1558px 1961px 0.5px 0.5px white, 1646px 1676px 0.5px 0.5px white, 1276px 340px 0.5px 0.5px white, 1923px 1028px 0.5px 0.5px white, 643px 36px 0.5px 0.5px white, 462px 316px 0.5px 0.5px white, 2045px 1149px 0.5px 0.5px white, 416px 217px 0.5px 0.5px white, 474px 1968px 0.5px 0.5px white, 504px 381px 0.5px 0.5px white, 1526px 1533px 0.5px 0.5px white, 1487px 962px 0.5px 0.5px white, 859px 236px 0.5px 0.5px white, 258px 743px 0.5px 0.5px white, 1117px 1871px 0.5px 0.5px white, 374px 861px 0.5px 0.5px white, 4px 436px 0.5px 0.5px white, 332px 874px 0.5px 0.5px white, 1971px 346px 0.5px 0.5px white, 1499px 605px 0.5px 0.5px white, 1463px 842px 0.5px 0.5px white, 1594px 1184px 0.5px 0.5px white, 1243px 1439px 0.5px 0.5px white, 280px 1528px 0.5px 0.5px white, 2021px 467px 0.5px 0.5px white, 496px 116px 0.5px 0.5px white, 1966px 1559px 0.5px 0.5px white, 510px 1386px 0.5px 0.5px white, 1436px 704px 0.5px 0.5px white, 862px 375px 0.5px 0.5px white, 1510px 436px 0.5px 0.5px white, 1311px 966px 0.5px 0.5px white, 908px 472px 0.5px 0.5px white, 1888px 676px 0.5px 0.5px white, 1546px 470px 0.5px 0.5px white, 1793px 1689px 0.5px 0.5px white, 1092px 1873px 0.5px 0.5px white, 541px 448px 0.5px 0.5px white, 1632px 30px 0.5px 0.5px white, 322px 1155px 0.5px 0.5px white, 1891px 437px 0.5px 0.5px white, 1252px 14px 0.5px 0.5px white, 1286px 1980px 0.5px 0.5px white, 1403px 837px 0.5px 0.5px white, 47px 192px 0.5px 0.5px white, 698px 542px 0.5px 0.5px white, 1699px 38px 0.5px 0.5px white, 382px 804px 0.5px 0.5px white, 1836px 406px 0.5px 0.5px white, 940px 1511px 0.5px 0.5px white, 1861px 1899px 0.5px 0.5px white, 1605px 1637px 0.5px 0.5px white, 486px 148px 0.5px 0.5px white, 1913px 114px 0.5px 0.5px white, 1754px 727px 0.5px 0.5px white, 1438px 538px 0.5px 0.5px white, 229px 304px 0.5px 0.5px white, 846px 411px 0.5px 0.5px white, 119px 365px 0.5px 0.5px white, 1377px 399px 0.5px 0.5px white, 196px 1444px 0.5px 0.5px white, 1290px 566px 0.5px 0.5px white, 996px 1499px 0.5px 0.5px white, 566px 12px 0.5px 0.5px white, 5px 734px 0.5px 0.5px white, 749px 239px 0.5px 0.5px white, 981px 1644px 0.5px 0.5px white, 997px 307px 0.5px 0.5px white, 489px 1408px 0.5px 0.5px white, 911px 1843px 0.5px 0.5px white, 450px 1725px 0.5px 0.5px white, 1135px 1543px 0.5px 0.5px white, 596px 1189px 0.5px 0.5px white, 320px 265px 0.5px 0.5px white, 1619px 362px 0.5px 0.5px white, 1792px 203px 0.5px 0.5px white, 1029px 414px 0.5px 0.5px white, 181px 104px 0.5px 0.5px white, 1800px 1347px 0.5px 0.5px white, 214px 1291px 0.5px 0.5px white, 914px 1481px 0.5px 0.5px white, 1066px 404px 0.5px 0.5px white, 1912px 445px 0.5px 0.5px white, 1343px 250px 0.5px 0.5px white, 1347px 1842px 0.5px 0.5px white, 1012px 773px 0.5px 0.5px white, 849px 1436px 0.5px 0.5px white, 1263px 654px 0.5px 0.5px white, 956px 1782px 0.5px 0.5px white, 177px 71px 0.5px 0.5px white, 613px 1033px 0.5px 0.5px white, 867px 1410px 0.5px 0.5px white, 199px 1165px 0.5px 0.5px white, 639px 1915px 0.5px 0.5px white, 1936px 1714px 0.5px 0.5px white, 1810px 1514px 0.5px 0.5px white, 1097px 1731px 0.5px 0.5px white, 60px 9px 0.5px 0.5px white, 1557px 1460px 0.5px 0.5px white, 369px 811px 0.5px 0.5px white, 1701px 1926px 0.5px 0.5px white, 1090px 1142px 0.5px 0.5px white, 865px 405px 0.5px 0.5px white, 475px 382px 0.5px 0.5px white, 1373px 967px 0.5px 0.5px white, 379px 1841px 0.5px 0.5px white, 454px 1125px 0.5px 0.5px white, 1283px 1514px 0.5px 0.5px white, 114px 1232px 0.5px 0.5px white, 896px 1143px 0.5px 0.5px white, 1543px 1632px 0.5px 0.5px white, 2004px 887px 0.5px 0.5px white, 1770px 1353px 0.5px 0.5px white, 1351px 1px 0.5px 0.5px white, 1695px 142px 0.5px 0.5px white, 837px 1294px 0.5px 0.5px white, 26px 762px 0.5px 0.5px white, 1258px 1488px 0.5px 0.5px white, 1323px 1628px 0.5px 0.5px white, 1341px 1297px 0.5px 0.5px white, 180px 723px 0.5px 0.5px white, 1821px 866px 0.5px 0.5px white, 1235px 1096px 0.5px 0.5px white, 1373px 357px 0.5px 0.5px white, 1694px 2008px 0.5px 0.5px white, 1659px 391px 0.5px 0.5px white, 1142px 1445px 0.5px 0.5px white, 732px 136px 0.5px 0.5px white, 1451px 549px 0.5px 0.5px white, 116px 596px 0.5px 0.5px white, 1979px 338px 0.5px 0.5px white, 784px 895px 0.5px 0.5px white, 1614px 635px 0.5px 0.5px white, 1223px 900px 0.5px 0.5px white, 447px 594px 0.5px 0.5px white, 664px 594px 0.5px 0.5px white, 1830px 1687px 0.5px 0.5px white, 1757px 1396px 0.5px 0.5px white, 22px 688px 0.5px 0.5px white, 1121px 231px 0.5px 0.5px white, 658px 1678px 0.5px 0.5px white, 1515px 846px 0.5px 0.5px white, 1129px 1366px 0.5px 0.5px white, 282px 1234px 0.5px 0.5px white, 1293px 51px 0.5px 0.5px white, 690px 595px 0.5px 0.5px white, 218px 1351px 0.5px 0.5px white, 1457px 1762px 0.5px 0.5px white, 1809px 1857px 0.5px 0.5px white, 1378px 891px 0.5px 0.5px white, 2027px 2037px 0.5px 0.5px white, 621px 1673px 0.5px 0.5px white, 1842px 112px 0.5px 0.5px white, 264px 1027px 0.5px 0.5px white, 163px 11px 0.5px 0.5px white, 710px 1734px 0.5px 0.5px white, 485px 947px 0.5px 0.5px white, 921px 1248px 0.5px 0.5px white, 2018px 316px 0.5px 0.5px white, 1897px 2px 0.5px 0.5px white, 1627px 1792px 0.5px 0.5px white, 607px 815px 0.5px 0.5px white, 304px 1416px 0.5px 0.5px white, 741px 242px 0.5px 0.5px white, 294px 95px 0.5px 0.5px white, 2024px 1288px 0.5px 0.5px white, 593px 1376px 0.5px 0.5px white, 1597px 1396px 0.5px 0.5px white, 834px 117px 0.5px 0.5px white, 370px 175px 0.5px 0.5px white, 517px 1695px 0.5px 0.5px white, 1395px 987px 0.5px 0.5px white, 891px 532px 0.5px 0.5px white, 1214px 1583px 0.5px 0.5px white, 704px 309px 0.5px 0.5px white, 1234px 545px 0.5px 0.5px white, 342px 511px 0.5px 0.5px white, 635px 1022px 0.5px 0.5px white, 1707px 1484px 0.5px 0.5px white, 537px 1109px 0.5px 0.5px white, 1667px 1882px 0.5px 0.5px white, 866px 1495px 0.5px 0.5px white, 2042px 7px 0.5px 0.5px white, 81px 1697px 0.5px 0.5px white, 1711px 1150px 0.5px 0.5px white, 840px 378px 0.5px 0.5px white, 1460px 1603px 0.5px 0.5px white, 170px 1032px 0.5px 0.5px white, 457px 711px 0.5px 0.5px white, 1501px 1891px 0.5px 0.5px white, 1512px 1648px 0.5px 0.5px white, 396px 484px 0.5px 0.5px white, 1163px 657px 0.5px 0.5px white, 237px 1216px 0.5px 0.5px white, 2015px 450px 0.5px 0.5px white, 594px 1090px 0.5px 0.5px white, 512px 206px 0.5px 0.5px white, 752px 1894px 0.5px 0.5px white, 1539px 987px 0.5px 0.5px white, 903px 882px 0.5px 0.5px white, 1548px 2045px 0.5px 0.5px white, 1603px 2002px 0.5px 0.5px white, 1194px 1958px 0.5px 0.5px white, 1796px 1932px 0.5px 0.5px white, 996px 1277px 0.5px 0.5px white, 1049px 1692px 0.5px 0.5px white, 1483px 1884px 0.5px 0.5px white, 563px 79px 0.5px 0.5px white, 886px 701px 0.5px 0.5px white, 548px 1025px 0.5px 0.5px white, 1105px 832px 0.5px 0.5px white, 936px 1999px 0.5px 0.5px white, 1932px 1900px 0.5px 0.5px white, 604px 283px 0.5px 0.5px white, 833px 465px 0.5px 0.5px white, 2px 874px 0.5px 0.5px white, 1443px 1321px 0.5px 0.5px white, 1371px 393px 0.5px 0.5px white, 1720px 901px 0.5px 0.5px white, 455px 1441px 0.5px 0.5px white, 819px 1369px 0.5px 0.5px white, 1852px 1857px 0.5px 0.5px white, 535px 973px 0.5px 0.5px white, 929px 933px 0.5px 0.5px white, 753px 665px 0.5px 0.5px white, 687px 1963px 0.5px 0.5px white, 1542px 298px 0.5px 0.5px white, 150px 191px 0.5px 0.5px white, 660px 1311px 0.5px 0.5px white, 1076px 1480px 0.5px 0.5px white, 1645px 1210px 0.5px 0.5px white, 1045px 1843px 0.5px 0.5px white, 1223px 118px 0.5px 0.5px white, 206px 1917px 0.5px 0.5px white, 13px 732px 0.5px 0.5px white, 699px 602px 0.5px 0.5px white, 1408px 247px 0.5px 0.5px white, 1725px 743px 0.5px 0.5px white, 270px 970px 0.5px 0.5px white, 1514px 886px 0.5px 0.5px white, 1693px 1434px 0.5px 0.5px white, 1630px 881px 0.5px 0.5px white, 435px 950px 0.5px 0.5px white, 1776px 417px 0.5px 0.5px white, 1870px 705px 0.5px 0.5px white, 528px 766px 0.5px 0.5px white, 1857px 1837px 0.5px 0.5px white, 1196px 1099px 0.5px 0.5px white, 508px 1372px 0.5px 0.5px white, 676px 1074px 0.5px 0.5px white, 3px 665px 0.5px 0.5px white, 1273px 565px 0.5px 0.5px white, 1526px 675px 0.5px 0.5px white, 390px 1169px 0.5px 0.5px white, 1881px 800px 0.5px 0.5px white, 784px 190px 0.5px 0.5px white, 729px 1368px 0.5px 0.5px white, 1252px 478px 0.5px 0.5px white, 710px 476px 0.5px 0.5px white, 1191px 184px 0.5px 0.5px white, 1845px 1928px 0.5px 0.5px white, 533px 186px 0.5px 0.5px white, 932px 1646px 0.5px 0.5px white, 1757px 115px 0.5px 0.5px white, 1214px 1034px 0.5px 0.5px white, 594px 84px 0.5px 0.5px white, 1468px 610px 0.5px 0.5px white, 1276px 1246px 0.5px 0.5px white, 1691px 1618px 0.5px 0.5px white, 927px 711px 0.5px 0.5px white, 704px 1134px 0.5px 0.5px white, 1236px 1764px 0.5px 0.5px white, 708px 2022px 0.5px 0.5px white, 1395px 1599px 0.5px 0.5px white, 937px 1393px 0.5px 0.5px white, 1980px 1835px 0.5px 0.5px white, 1474px 1238px 0.5px 0.5px white, 183px 1142px 0.5px 0.5px white, 169px 207px 0.5px 0.5px white, 815px 582px 0.5px 0.5px white, 317px 926px 0.5px 0.5px white, 1011px 1247px 0.5px 0.5px white, 438px 285px 0.5px 0.5px white, 1632px 539px 0.5px 0.5px white, 1006px 1197px 0.5px 0.5px white, 1007px 1567px 0.5px 0.5px white, 1812px 2046px 0.5px 0.5px white, 1519px 669px 0.5px 0.5px white, 1191px 1594px 0.5px 0.5px white, 1187px 1252px 0.5px 0.5px white, 1405px 875px 0.5px 0.5px white, 1022px 1957px 0.5px 0.5px white, 385px 29px 0.5px 0.5px white, 167px 1752px 0.5px 0.5px white, 594px 1295px 0.5px 0.5px white, 372px 639px 0.5px 0.5px white, 1758px 434px 0.5px 0.5px white, 1955px 1335px 0.5px 0.5px white, 1649px 931px 0.5px 0.5px white, 1707px 527px 0.5px 0.5px white, 1113px 1291px 0.5px 0.5px white, 797px 598px 0.5px 0.5px white, 1097px 464px 0.5px 0.5px white, 1160px 1773px 0.5px 0.5px white, 2031px 271px 0.5px 0.5px white, 1721px 755px 0.5px 0.5px white, 1347px 467px 0.5px 0.5px white, 832px 1758px 0.5px 0.5px white, 1262px 1041px 0.5px 0.5px white, 60px 1044px 0.5px 0.5px white, 961px 638px 0.5px 0.5px white, 396px 479px 0.5px 0.5px white, 434px 431px 0.5px 0.5px white, 835px 1456px 0.5px 0.5px white, 1434px 555px 0.5px 0.5px white, 241px 1092px 0.5px 0.5px white, 1448px 1960px 0.5px 0.5px white, 1622px 263px 0.5px 0.5px white, 1887px 1055px 0.5px 0.5px white, 1706px 442px 0.5px 0.5px white, 782px 1215px 0.5px 0.5px white, 979px 603px 0.5px 0.5px white, 1464px 271px 0.5px 0.5px white, 242px 1034px 0.5px 0.5px white, 164px 1850px 0.5px 0.5px white, 1165px 1995px 0.5px 0.5px white, 420px 1044px 0.5px 0.5px white, 1702px 683px 0.5px 0.5px white, 940px 1001px 0.5px 0.5px white, 1694px 968px 0.5px 0.5px white, 1029px 927px 0.5px 0.5px white, 360px 1349px 0.5px 0.5px white, 1801px 1339px 0.5px 0.5px white, 158px 1662px 0.5px 0.5px white, 1372px 16px 0.5px 0.5px white, 750px 165px 0.5px 0.5px white, 1142px 1865px 0.5px 0.5px white, 105px 857px 0.5px 0.5px white, 34px 283px 0.5px 0.5px white, 1547px 58px 0.5px 0.5px white, 1177px 1710px 0.5px 0.5px white, 313px 295px 0.5px 0.5px white, 862px 282px 0.5px 0.5px white, 518px 1233px 0.5px 0.5px white;
  animation: shine 5.2s 0.5s ease-in-out infinite alternate;
}

.star-cluster-white-medium {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  box-shadow: 63px 424px 0.5px 0.5px white, 1408px 441px 0.5px 0.5px white, 714px 1191px 0.5px 0.5px white, 772px 629px 0.5px 0.5px white, 1843px 263px 0.5px 0.5px white, 1645px 1425px 0.5px 0.5px white, 477px 1474px 0.5px 0.5px white, 225px 335px 0.5px 0.5px white, 698px 463px 0.5px 0.5px white, 154px 18px 0.5px 0.5px white, 1948px 61px 0.5px 0.5px white, 1680px 169px 0.5px 0.5px white, 1434px 1379px 0.5px 0.5px white, 1290px 1748px 0.5px 0.5px white, 1300px 1342px 0.5px 0.5px white, 1958px 1250px 0.5px 0.5px white, 534px 619px 0.5px 0.5px white, 566px 1922px 0.5px 0.5px white, 784px 103px 0.5px 0.5px white, 573px 1345px 0.5px 0.5px white, 1017px 1490px 0.5px 0.5px white, 1150px 781px 0.5px 0.5px white, 128px 816px 0.5px 0.5px white, 1530px 1927px 0.5px 0.5px white, 937px 1535px 0.5px 0.5px white, 668px 536px 0.5px 0.5px white, 1769px 1214px 0.5px 0.5px white, 1122px 1133px 0.5px 0.5px white, 57px 298px 0.5px 0.5px white, 1487px 1283px 0.5px 0.5px white, 1387px 1738px 0.5px 0.5px white, 12px 160px 0.5px 0.5px white, 1937px 1409px 0.5px 0.5px white, 275px 805px 0.5px 0.5px white, 1400px 1785px 0.5px 0.5px white, 309px 1310px 0.5px 0.5px white, 485px 447px 0.5px 0.5px white, 801px 1548px 0.5px 0.5px white, 1px 1301px 0.5px 0.5px white, 3px 1517px 0.5px 0.5px white, 914px 516px 0.5px 0.5px white, 1321px 1885px 0.5px 0.5px white, 938px 1594px 0.5px 0.5px white, 298px 50px 0.5px 0.5px white, 1427px 620px 0.5px 0.5px white, 480px 1206px 0.5px 0.5px white, 996px 1528px 0.5px 0.5px white, 1623px 194px 0.5px 0.5px white, 472px 618px 0.5px 0.5px white, 1215px 185px 0.5px 0.5px white, 769px 1820px 0.5px 0.5px white, 863px 978px 0.5px 0.5px white, 1718px 765px 0.5px 0.5px white, 1513px 954px 0.5px 0.5px white, 1465px 1710px 0.5px 0.5px white, 755px 717px 0.5px 0.5px white, 373px 1203px 0.5px 0.5px white, 881px 65px 0.5px 0.5px white, 331px 1634px 0.5px 0.5px white, 586px 961px 0.5px 0.5px white, 1937px 1095px 0.5px 0.5px white, 1409px 1826px 0.5px 0.5px white, 1120px 440px 0.5px 0.5px white, 1594px 1646px 0.5px 0.5px white, 800px 1913px 0.5px 0.5px white, 1871px 1123px 0.5px 0.5px white, 1377px 1914px 0.5px 0.5px white, 1545px 1107px 0.5px 0.5px white, 1365px 598px 0.5px 0.5px white, 414px 1064px 0.5px 0.5px white, 1704px 1808px 0.5px 0.5px white, 615px 50px 0.5px 0.5px white, 988px 902px 0.5px 0.5px white, 922px 965px 0.5px 0.5px white, 825px 499px 0.5px 0.5px white, 1287px 1851px 0.5px 0.5px white, 1994px 1291px 0.5px 0.5px white, 1312px 1535px 0.5px 0.5px white, 575px 1220px 0.5px 0.5px white, 828px 1961px 0.5px 0.5px white, 208px 1644px 0.5px 0.5px white, 911px 887px 0.5px 0.5px white, 1772px 1533px 0.5px 0.5px white, 1158px 523px 0.5px 0.5px white, 1763px 1119px 0.5px 0.5px white, 1927px 1929px 0.5px 0.5px white, 464px 148px 0.5px 0.5px white, 1629px 357px 0.5px 0.5px white, 422px 401px 0.5px 0.5px white, 1043px 1842px 0.5px 0.5px white, 259px 994px 0.5px 0.5px white, 48px 1558px 0.5px 0.5px white, 1907px 1330px 0.5px 0.5px white, 852px 1105px 0.5px 0.5px white, 1363px 1630px 0.5px 0.5px white, 920px 700px 0.5px 0.5px white, 434px 1859px 0.5px 0.5px white, 650px 981px 0.5px 0.5px white, 1751px 1743px 0.5px 0.5px white, 795px 185px 0.5px 0.5px white, 546px 84px 0.5px 0.5px white, 1393px 2025px 0.5px 0.5px white, 76px 1571px 0.5px 0.5px white, 768px 1713px 0.5px 0.5px white, 861px 655px 0.5px 0.5px white, 503px 391px 0.5px 0.5px white, 1187px 564px 0.5px 0.5px white, 1344px 2043px 0.5px 0.5px white, 251px 1925px 0.5px 0.5px white, 1344px 1890px 0.5px 0.5px white, 926px 1607px 0.5px 0.5px white, 360px 1166px 0.5px 0.5px white, 561px 866px 0.5px 0.5px white, 1015px 912px 0.5px 0.5px white, 374px 1760px 0.5px 0.5px white, 615px 421px 0.5px 0.5px white, 983px 398px 0.5px 0.5px white, 2012px 701px 0.5px 0.5px white, 1139px 1109px 0.5px 0.5px white, 1290px 659px 0.5px 0.5px white, 1238px 1164px 0.5px 0.5px white, 62px 956px 0.5px 0.5px white, 1187px 1551px 0.5px 0.5px white, 1052px 834px 0.5px 0.5px white, 292px 2003px 0.5px 0.5px white, 377px 639px 0.5px 0.5px white, 365px 1894px 0.5px 0.5px white, 1093px 1457px 0.5px 0.5px white, 2027px 35px 0.5px 0.5px white, 2005px 154px 0.5px 0.5px white, 1779px 1281px 0.5px 0.5px white, 1016px 1278px 0.5px 0.5px white, 1836px 383px 0.5px 0.5px white, 591px 394px 0.5px 0.5px white, 1372px 406px 0.5px 0.5px white, 1845px 502px 0.5px 0.5px white, 932px 1870px 0.5px 0.5px white, 1145px 420px 0.5px 0.5px white, 180px 392px 0.5px 0.5px white, 1304px 1395px 0.5px 0.5px white, 57px 410px 0.5px 0.5px white, 1060px 1445px 0.5px 0.5px white, 278px 540px 0.5px 0.5px white, 438px 159px 0.5px 0.5px white, 1014px 297px 0.5px 0.5px white, 105px 1497px 0.5px 0.5px white, 733px 375px 0.5px 0.5px white, 1330px 758px 0.5px 0.5px white, 870px 1161px 0.5px 0.5px white, 1331px 1870px 0.5px 0.5px white, 1944px 1924px 0.5px 0.5px white, 1032px 508px 0.5px 0.5px white, 1274px 1038px 0.5px 0.5px white, 1020px 1022px 0.5px 0.5px white, 1033px 1126px 0.5px 0.5px white, 1794px 680px 0.5px 0.5px white, 360px 741px 0.5px 0.5px white, 744px 1471px 0.5px 0.5px white, 798px 163px 0.5px 0.5px white, 532px 1136px 0.5px 0.5px white, 500px 616px 0.5px 0.5px white, 1962px 1539px 0.5px 0.5px white, 1937px 1962px 0.5px 0.5px white, 57px 140px 0.5px 0.5px white, 155px 1434px 0.5px 0.5px white, 325px 17px 0.5px 0.5px white, 1542px 1709px 0.5px 0.5px white, 923px 598px 0.5px 0.5px white, 446px 1932px 0.5px 0.5px white, 847px 1576px 0.5px 0.5px white, 1736px 1296px 0.5px 0.5px white, 195px 1727px 0.5px 0.5px white, 1911px 1107px 0.5px 0.5px white, 868px 792px 0.5px 0.5px white, 1321px 1657px 0.5px 0.5px white, 1851px 1914px 0.5px 0.5px white, 1352px 1037px 0.5px 0.5px white, 646px 61px 0.5px 0.5px white, 1035px 1333px 0.5px 0.5px white, 140px 308px 0.5px 0.5px white, 556px 1601px 0.5px 0.5px white, 1216px 484px 0.5px 0.5px white, 1942px 1647px 0.5px 0.5px white, 93px 1028px 0.5px 0.5px white, 1946px 1323px 0.5px 0.5px white, 807px 1062px 0.5px 0.5px white, 75px 1598px 0.5px 0.5px white, 72px 812px 0.5px 0.5px white, 629px 229px 0.5px 0.5px white, 1373px 48px 0.5px 0.5px white, 1602px 667px 0.5px 0.5px white, 1909px 1167px 0.5px 0.5px white, 1219px 561px 0.5px 0.5px white, 1902px 1339px 0.5px 0.5px white, 1216px 912px 0.5px 0.5px white, 1198px 1497px 0.5px 0.5px white, 1873px 1048px 0.5px 0.5px white, 1131px 841px 0.5px 0.5px white, 652px 1703px 0.5px 0.5px white, 1473px 1187px 0.5px 0.5px white, 1370px 1552px 0.5px 0.5px white, 1118px 522px 0.5px 0.5px white, 1790px 644px 0.5px 0.5px white, 1120px 926px 0.5px 0.5px white, 247px 1495px 0.5px 0.5px white, 1933px 751px 0.5px 0.5px white, 1857px 288px 0.5px 0.5px white, 380px 507px 0.5px 0.5px white, 202px 665px 0.5px 0.5px white, 573px 945px 0.5px 0.5px white, 1506px 1052px 0.5px 0.5px white, 1469px 224px 0.5px 0.5px white, 203px 438px 0.5px 0.5px white, 1313px 243px 0.5px 0.5px white, 832px 303px 0.5px 0.5px white, 625px 1364px 0.5px 0.5px white, 1032px 615px 0.5px 0.5px white, 588px 593px 0.5px 0.5px white, 1227px 196px 0.5px 0.5px white, 1331px 892px 0.5px 0.5px white, 703px 1893px 0.5px 0.5px white, 1054px 1283px 0.5px 0.5px white, 1687px 979px 0.5px 0.5px white, 514px 814px 0.5px 0.5px white, 648px 144px 0.5px 0.5px white, 1224px 267px 0.5px 0.5px white, 432px 2036px 0.5px 0.5px white, 435px 23px 0.5px 0.5px white, 1478px 864px 0.5px 0.5px white, 697px 514px 0.5px 0.5px white, 1411px 1168px 0.5px 0.5px white, 172px 366px 0.5px 0.5px white, 1036px 198px 0.5px 0.5px white, 1766px 455px 0.5px 0.5px white, 1545px 366px 0.5px 0.5px white, 1847px 1059px 0.5px 0.5px white, 970px 1322px 0.5px 0.5px white, 1322px 1449px 0.5px 0.5px white, 1955px 1308px 0.5px 0.5px white, 204px 23px 0.5px 0.5px white, 362px 192px 0.5px 0.5px white, 1488px 1644px 0.5px 0.5px white, 1849px 1792px 0.5px 0.5px white, 1906px 1568px 0.5px 0.5px white, 705px 21px 0.5px 0.5px white, 984px 10px 0.5px 0.5px white, 787px 1038px 0.5px 0.5px white, 1640px 775px 0.5px 0.5px white, 513px 634px 0.5px 0.5px white, 939px 1396px 0.5px 0.5px white, 613px 1137px 0.5px 0.5px white, 135px 260px 0.5px 0.5px white, 1877px 912px 0.5px 0.5px white, 605px 775px 0.5px 0.5px white, 721px 1363px 0.5px 0.5px white, 833px 514px 0.5px 0.5px white, 1832px 856px 0.5px 0.5px white, 690px 594px 0.5px 0.5px white, 766px 1898px 0.5px 0.5px white, 1127px 1527px 0.5px 0.5px white, 1018px 704px 0.5px 0.5px white, 1418px 1535px 0.5px 0.5px white, 1761px 296px 0.5px 0.5px white, 1958px 1169px 0.5px 0.5px white, 1395px 635px 0.5px 0.5px white, 2046px 617px 0.5px 0.5px white, 1201px 1357px 0.5px 0.5px white, 1301px 1560px 0.5px 0.5px white, 281px 727px 0.5px 0.5px white, 1266px 700px 0.5px 0.5px white, 1391px 700px 0.5px 0.5px white, 338px 310px 0.5px 0.5px white, 1275px 1523px 0.5px 0.5px white, 1549px 531px 0.5px 0.5px white, 833px 323px 0.5px 0.5px white, 79px 536px 0.5px 0.5px white, 1994px 847px 0.5px 0.5px white, 263px 1619px 0.5px 0.5px white, 1863px 1831px 0.5px 0.5px white, 723px 576px 0.5px 0.5px white, 1098px 199px 0.5px 0.5px white, 630px 1783px 0.5px 0.5px white, 1000px 210px 0.5px 0.5px white, 524px 1530px 0.5px 0.5px white, 838px 1760px 0.5px 0.5px white, 1767px 2004px 0.5px 0.5px white, 353px 1489px 0.5px 0.5px white, 929px 1728px 0.5px 0.5px white, 1429px 2032px 0.5px 0.5px white, 703px 1794px 0.5px 0.5px white, 699px 18px 0.5px 0.5px white, 217px 1110px 0.5px 0.5px white, 1666px 1743px 0.5px 0.5px white, 1166px 392px 0.5px 0.5px white, 1745px 1325px 0.5px 0.5px white, 78px 1558px 0.5px 0.5px white, 2037px 332px 0.5px 0.5px white, 470px 598px 0.5px 0.5px white, 385px 233px 0.5px 0.5px white;
  animation: shine 3.8s 0.1s ease-in-out infinite alternate;
}

.star-cluster-white-large {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: 303px 422px 0.5px 0.5px white, 1954px 730px 0.5px 0.5px white, 1281px 301px 0.5px 0.5px white, 793px 1399px 0.5px 0.5px white, 1165px 1021px 0.5px 0.5px white, 1415px 284px 0.5px 0.5px white, 234px 1681px 0.5px 0.5px white, 1434px 1554px 0.5px 0.5px white, 1241px 38px 0.5px 0.5px white, 1200px 441px 0.5px 0.5px white, 1951px 630px 0.5px 0.5px white, 1746px 812px 0.5px 0.5px white, 15px 418px 0.5px 0.5px white, 1933px 1673px 0.5px 0.5px white, 1466px 1499px 0.5px 0.5px white, 1807px 575px 0.5px 0.5px white, 1099px 686px 0.5px 0.5px white, 770px 1877px 0.5px 0.5px white, 927px 67px 0.5px 0.5px white, 692px 1211px 0.5px 0.5px white, 1659px 698px 0.5px 0.5px white, 1653px 507px 0.5px 0.5px white, 1054px 1731px 0.5px 0.5px white, 1924px 1266px 0.5px 0.5px white, 226px 621px 0.5px 0.5px white, 608px 1249px 0.5px 0.5px white, 746px 1826px 0.5px 0.5px white, 1301px 1226px 0.5px 0.5px white, 424px 1096px 0.5px 0.5px white, 612px 1535px 0.5px 0.5px white, 1351px 1406px 0.5px 0.5px white, 1436px 325px 0.5px 0.5px white, 1549px 849px 0.5px 0.5px white, 1778px 661px 0.5px 0.5px white, 45px 1719px 0.5px 0.5px white, 1101px 848px 0.5px 0.5px white, 71px 86px 0.5px 0.5px white, 1078px 88px 0.5px 0.5px white, 954px 971px 0.5px 0.5px white, 944px 1461px 0.5px 0.5px white, 1283px 1628px 0.5px 0.5px white, 58px 1895px 0.5px 0.5px white, 1515px 1646px 0.5px 0.5px white, 846px 919px 0.5px 0.5px white, 118px 1190px 0.5px 0.5px white, 468px 783px 0.5px 0.5px white, 274px 2040px 0.5px 0.5px white, 1478px 1686px 0.5px 0.5px white, 1922px 1614px 0.5px 0.5px white;
  animation: shine 3.4s 0.2s ease-in-out infinite alternate;
}

.star-cluster-red {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  box-shadow: 760px 160px 0.5px 0.5px red, 550px 1470px 0.5px 0.5px red, 2007px 1001px 0.5px 0.5px red, 1958px 1190px 0.5px 0.5px red, 855px 1321px 0.5px 0.5px red, 1422px 1880px 0.5px 0.5px red, 715px 1893px 0.5px 0.5px red, 523px 920px 0.5px 0.5px red, 1945px 528px 0.5px 0.5px red, 1489px 947px 0.5px 0.5px red, 1795px 1482px 0.5px 0.5px red, 231px 216px 0.5px 0.5px red, 291px 1373px 0.5px 0.5px red, 702px 1844px 0.5px 0.5px red, 1061px 374px 0.5px 0.5px red, 1440px 223px 0.5px 0.5px red, 1065px 320px 0.5px 0.5px red, 326px 965px 0.5px 0.5px red, 661px 1025px 0.5px 0.5px red, 523px 841px 0.5px 0.5px red, 921px 2038px 0.5px 0.5px red, 522px 1549px 0.5px 0.5px red, 1943px 329px 0.5px 0.5px red, 1304px 1232px 0.5px 0.5px red, 1878px 290px 0.5px 0.5px red, 812px 1590px 0.5px 0.5px red, 574px 274px 0.5px 0.5px red, 375px 612px 0.5px 0.5px red, 395px 1764px 0.5px 0.5px red, 1069px 1229px 0.5px 0.5px red, 924px 91px 0.5px 0.5px red, 1061px 1126px 0.5px 0.5px red, 473px 1581px 0.5px 0.5px red, 761px 757px 0.5px 0.5px red, 529px 1570px 0.5px 0.5px red, 1224px 1094px 0.5px 0.5px red, 228px 1434px 0.5px 0.5px red, 423px 1302px 0.5px 0.5px red, 1491px 472px 0.5px 0.5px red, 488px 186px 0.5px 0.5px red, 499px 305px 0.5px 0.5px red, 1444px 73px 0.5px 0.5px red, 810px 996px 0.5px 0.5px red, 162px 744px 0.5px 0.5px red, 606px 1620px 0.5px 0.5px red, 116px 1556px 0.5px 0.5px red, 1699px 1066px 0.5px 0.5px red, 222px 552px 0.5px 0.5px red, 590px 69px 0.5px 0.5px red;
  animation: shine 4.2s 0.5s ease-in-out infinite alternate;
}

.star-cluster-purple {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  box-shadow: 648px 2006px 0.5px 0.5px rgb(191, 0, 255), 52px 751px 0.5px 0.5px rgb(191, 0, 255), 493px 571px 0.5px 0.5px rgb(191, 0, 255), 1376px 243px 0.5px 0.5px rgb(191, 0, 255), 650px 394px 0.5px 0.5px rgb(191, 0, 255), 647px 1309px 0.5px 0.5px rgb(191, 0, 255), 1866px 912px 0.5px 0.5px rgb(191, 0, 255), 1004px 1839px 0.5px 0.5px rgb(191, 0, 255), 1534px 2002px 0.5px 0.5px rgb(191, 0, 255), 82px 1737px 0.5px 0.5px rgb(191, 0, 255), 264px 1915px 0.5px 0.5px rgb(191, 0, 255), 504px 1316px 0.5px 0.5px rgb(191, 0, 255), 1893px 1454px 0.5px 0.5px rgb(191, 0, 255), 1154px 235px 0.5px 0.5px rgb(191, 0, 255), 74px 1661px 0.5px 0.5px rgb(191, 0, 255), 556px 1302px 0.5px 0.5px rgb(191, 0, 255), 1050px 1226px 0.5px 0.5px rgb(191, 0, 255), 732px 1464px 0.5px 0.5px rgb(191, 0, 255), 9px 1282px 0.5px 0.5px rgb(191, 0, 255), 1025px 1067px 0.5px 0.5px rgb(191, 0, 255), 107px 1780px 0.5px 0.5px rgb(191, 0, 255), 1279px 415px 0.5px 0.5px rgb(191, 0, 255), 1783px 366px 0.5px 0.5px rgb(191, 0, 255), 1109px 1390px 0.5px 0.5px rgb(191, 0, 255), 41px 1658px 0.5px 0.5px rgb(191, 0, 255), 1961px 365px 0.5px 0.5px rgb(191, 0, 255), 476px 2027px 0.5px 0.5px rgb(191, 0, 255), 1484px 17px 0.5px 0.5px rgb(191, 0, 255), 731px 1091px 0.5px 0.5px rgb(191, 0, 255), 1713px 288px 0.5px 0.5px rgb(191, 0, 255), 1297px 1123px 0.5px 0.5px rgb(191, 0, 255), 623px 1826px 0.5px 0.5px rgb(191, 0, 255), 861px 2012px 0.5px 0.5px rgb(191, 0, 255), 1412px 1798px 0.5px 0.5px rgb(191, 0, 255), 1688px 1661px 0.5px 0.5px rgb(191, 0, 255), 1040px 194px 0.5px 0.5px rgb(191, 0, 255), 1991px 1497px 0.5px 0.5px rgb(191, 0, 255), 801px 1394px 0.5px 0.5px rgb(191, 0, 255), 1309px 76px 0.5px 0.5px rgb(191, 0, 255), 346px 301px 0.5px 0.5px rgb(191, 0, 255), 1567px 678px 0.5px 0.5px rgb(191, 0, 255), 919px 527px 0.5px 0.5px rgb(191, 0, 255), 381px 136px 0.5px 0.5px rgb(191, 0, 255), 574px 1784px 0.5px 0.5px rgb(191, 0, 255), 766px 1493px 0.5px 0.5px rgb(191, 0, 255), 1222px 1635px 0.5px 0.5px rgb(191, 0, 255), 219px 710px 0.5px 0.5px rgb(191, 0, 255), 1167px 128px 0.5px 0.5px rgb(191, 0, 255), 2013px 1579px 0.5px 0.5px rgb(191, 0, 255);
  animation: shine 3.2s 0.8s ease-in-out infinite alternate;
}

.star-cluster-blue {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  box-shadow: 20px 1204px 0.5px 0.5px rgb(4, 209, 158), 1242px 23px 0.5px 0.5px rgb(4, 209, 158), 830px 1484px 0.5px 0.5px rgb(4, 209, 158), 1429px 1752px 0.5px 0.5px rgb(4, 209, 158), 628px 1930px 0.5px 0.5px rgb(4, 209, 158), 1088px 606px 0.5px 0.5px rgb(4, 209, 158), 1686px 100px 0.5px 0.5px rgb(4, 209, 158), 15px 312px 0.5px 0.5px rgb(4, 209, 158), 1955px 1256px 0.5px 0.5px rgb(4, 209, 158), 460px 936px 0.5px 0.5px rgb(4, 209, 158), 600px 976px 0.5px 0.5px rgb(4, 209, 158), 1190px 1208px 0.5px 0.5px rgb(4, 209, 158), 352px 346px 0.5px 0.5px rgb(4, 209, 158), 1697px 1127px 0.5px 0.5px rgb(4, 209, 158), 1268px 370px 0.5px 0.5px rgb(4, 209, 158), 980px 1703px 0.5px 0.5px rgb(4, 209, 158), 1096px 1965px 0.5px 0.5px rgb(4, 209, 158), 325px 898px 0.5px 0.5px rgb(4, 209, 158), 1021px 1508px 0.5px 0.5px rgb(4, 209, 158), 1267px 1722px 0.5px 0.5px rgb(4, 209, 158), 972px 844px 0.5px 0.5px rgb(4, 209, 158), 820px 1498px 0.5px 0.5px rgb(4, 209, 158), 1929px 1120px 0.5px 0.5px rgb(4, 209, 158), 1476px 135px 0.5px 0.5px rgb(4, 209, 158), 647px 691px 0.5px 0.5px rgb(4, 209, 158), 867px 1162px 0.5px 0.5px rgb(4, 209, 158), 1797px 1508px 0.5px 0.5px rgb(4, 209, 158), 1784px 2003px 0.5px 0.5px rgb(4, 209, 158), 1192px 1514px 0.5px 0.5px rgb(4, 209, 158), 1467px 1870px 0.5px 0.5px rgb(4, 209, 158), 855px 1234px 0.5px 0.5px rgb(4, 209, 158), 522px 1230px 0.5px 0.5px rgb(4, 209, 158), 1371px 628px 0.5px 0.5px rgb(4, 209, 158), 1159px 1154px 0.5px 0.5px rgb(4, 209, 158), 648px 45px 0.5px 0.5px rgb(4, 209, 158), 1384px 1247px 0.5px 0.5px rgb(4, 209, 158), 633px 333px 0.5px 0.5px rgb(4, 209, 158), 271px 539px 0.5px 0.5px rgb(4, 209, 158), 1369px 1114px 0.5px 0.5px rgb(4, 209, 158), 1634px 1632px 0.5px 0.5px rgb(4, 209, 158), 1075px 1711px 0.5px 0.5px rgb(4, 209, 158), 607px 987px 0.5px 0.5px rgb(4, 209, 158), 471px 865px 0.5px 0.5px rgb(4, 209, 158), 784px 1102px 0.5px 0.5px rgb(4, 209, 158), 686px 1796px 0.5px 0.5px rgb(4, 209, 158), 1091px 1808px 0.5px 0.5px rgb(4, 209, 158), 337px 376px 0.5px 0.5px rgb(4, 209, 158), 949px 66px 0.5px 0.5px rgb(4, 209, 158), 10px 46px 0.5px 0.5px rgb(4, 209, 158), 853px 1096px 0.5px 0.5px rgb(4, 209, 158), 1151px 1243px 0.5px 0.5px rgb(4, 209, 158), 485px 271px 0.5px 0.5px rgb(4, 209, 158), 1364px 714px 0.5px 0.5px rgb(4, 209, 158), 1360px 1659px 0.5px 0.5px rgb(4, 209, 158), 1431px 460px 0.5px 0.5px rgb(4, 209, 158), 226px 1888px 0.5px 0.5px rgb(4, 209, 158), 1389px 502px 0.5px 0.5px rgb(4, 209, 158), 616px 506px 0.5px 0.5px rgb(4, 209, 158), 444px 9px 0.5px 0.5px rgb(4, 209, 158), 1983px 110px 0.5px 0.5px rgb(4, 209, 158), 1703px 29px 0.5px 0.5px rgb(4, 209, 158), 731px 1155px 0.5px 0.5px rgb(4, 209, 158), 1894px 343px 0.5px 0.5px rgb(4, 209, 158), 278px 1140px 0.5px 0.5px rgb(4, 209, 158), 595px 902px 0.5px 0.5px rgb(4, 209, 158), 2042px 1122px 0.5px 0.5px rgb(4, 209, 158), 48px 1912px 0.5px 0.5px rgb(4, 209, 158), 1938px 1223px 0.5px 0.5px rgb(4, 209, 158), 449px 1275px 0.5px 0.5px rgb(4, 209, 158), 120px 623px 0.5px 0.5px rgb(4, 209, 158), 1206px 473px 0.5px 0.5px rgb(4, 209, 158), 1929px 2007px 0.5px 0.5px rgb(4, 209, 158), 807px 921px 0.5px 0.5px rgb(4, 209, 158), 1549px 1820px 0.5px 0.5px rgb(4, 209, 158), 1271px 1197px 0.5px 0.5px rgb(4, 209, 158), 1449px 173px 0.5px 0.5px rgb(4, 209, 158), 103px 1886px 0.5px 0.5px rgb(4, 209, 158), 107px 76px 0.5px 0.5px rgb(4, 209, 158), 265px 320px 0.5px 0.5px rgb(4, 209, 158), 649px 1773px 0.5px 0.5px rgb(4, 209, 158), 339px 1076px 0.5px 0.5px rgb(4, 209, 158), 791px 1968px 0.5px 0.5px rgb(4, 209, 158), 1660px 407px 0.5px 0.5px rgb(4, 209, 158), 1196px 1310px 0.5px 0.5px rgb(4, 209, 158), 290px 563px 0.5px 0.5px rgb(4, 209, 158), 1822px 1136px 0.5px 0.5px rgb(4, 209, 158), 1990px 462px 0.5px 0.5px rgb(4, 209, 158), 581px 216px 0.5px 0.5px rgb(4, 209, 158), 235px 192px 0.5px 0.5px rgb(4, 209, 158), 1150px 1720px 0.5px 0.5px rgb(4, 209, 158), 1625px 815px 0.5px 0.5px rgb(4, 209, 158), 457px 272px 0.5px 0.5px rgb(4, 209, 158), 1889px 500px 0.5px 0.5px rgb(4, 209, 158), 1487px 51px 0.5px 0.5px rgb(4, 209, 158), 510px 1760px 0.5px 0.5px rgb(4, 209, 158), 1532px 323px 0.5px 0.5px rgb(4, 209, 158), 396px 2009px 0.5px 0.5px rgb(4, 209, 158), 1592px 1909px 0.5px 0.5px rgb(4, 209, 158), 1132px 470px 0.5px 0.5px rgb(4, 209, 158);
  animation: shine 2.2s 0.5s ease-in-out infinite alternate;
}

@keyframes shine {
  0%, 28%, 45%, 76%, 95% {
    opacity: 1;
  }
  15%, 60%, 84%, 100% {
    opacity: 0.2;
  }
}
.shooting-star-white {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 3px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.82);
  border-radius: 50%;
  animation: shooting-star-path 15s 10s linear infinite forwards;
  animation-iteration-count: 1;
}
.shooting-star-white:after {
  content: "";
  display: block;
  width: 5px;
  height: 100px;
  background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.82));
  opacity: 0.5;
  transform: translate(-2px, -100px) rotate(-45deg);
  transform-origin: bottom;
}
@media screen and (max-width: 500px) {
  .shooting-star-white {
    animation: shooting-star-path-mobile 15s 10s linear infinite forwards;
  }
}

.shooting-star-purple {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 4px;
  height: 4px;
  background-color: rgb(251, 17, 173);
  border-radius: 50%;
  animation: shooting-star-path 15s 40s linear infinite forwards;
  animation-iteration-count: 1;
}
.shooting-star-purple:after {
  content: "";
  display: block;
  width: 5px;
  height: 100px;
  background: linear-gradient(to bottom, transparent, rgb(251, 17, 173));
  opacity: 0.5;
  transform: translate(-2px, -100px) rotate(-45deg);
  transform-origin: bottom;
}
@media screen and (max-width: 500px) {
  .shooting-star-purple {
    animation: shooting-star-path-mobile 15s 40s linear infinite forwards;
  }
}

.shooting-star-blue {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 3px;
  height: 3px;
  background-color: rgb(4, 209, 158);
  border-radius: 50%;
  animation: shooting-star-path 20s 80s linear infinite forwards;
  animation-iteration-count: 1;
}
.shooting-star-blue:after {
  content: "";
  display: block;
  width: 5px;
  height: 100px;
  background: linear-gradient(to bottom, transparent, rgb(4, 209, 158));
  opacity: 0.5;
  transform: translate(-2px, -100px) rotate(-45deg);
  transform-origin: bottom;
}
@media screen and (max-width: 500px) {
  .shooting-star-blue {
    animation: shooting-star-path-mobile 20s 80s linear infinite forwards;
  }
}

.shooting-star-test {
  width: 50px;
  height: 50px;
  background-color: white;
  animation: shooting-star-path 10s 1s linear infinite;
}

@keyframes shooting-star-path {
  0% {
    transform: translate(-20px, -20px);
  }
  100% {
    transform: translate(70vw, 110vh);
  }
}
@keyframes shooting-star-path-mobile {
  0% {
    transform: translate(-20px, 20px);
  }
  100% {
    transform: translate(120vw, 60vh);
  }
}
.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

svg text {
  font-size: 55px;
  fill: transparent;
  animation: stroke-animation 3s forwards;
}

@keyframes stroke-animation {
  0% {
    stroke: white;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 1;
  }
  50% {
    fill: transparent;
  }
  70% {
    stroke: white;
  }
  80% {
    stroke: white;
    stroke-width: 1;
  }
  100% {
    fill: white;
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}
.svg-smiley {
  stroke: white;
  animation: fade-in 2s ease-in;
}

.bio {
  margin: 30px 0;
  color: rgb(190, 190, 190);
  animation: fade-in 2s ease-in;
}

.bio {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bio .divider {
  position: relative;
  display: block;
  width: 3px;
  height: 40px;
  background-color: white;
  transform: rotate(-90deg) scaleY(0);
  animation: divider-spin 1s 2s ease-in-out forwards;
}
.bio .divider:nth-of-type(1) .divider--top {
  position: absolute;
  top: 0;
}
.bio .divider:nth-of-type(1) .divider--top::before {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: right;
  animation: divider-scale 1s 3s ease-in forwards;
}
.bio .divider:nth-of-type(1) .divider--top::after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 50px;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  animation: divider-scale 1s 3s ease-in forwards;
}
.bio .divider:nth-of-type(1) .divider--bottom {
  position: absolute;
  bottom: 0;
}
.bio .divider:nth-of-type(1) .divider--bottom::before {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 80px;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: right;
  animation: divider-scale 1s 3s ease-in forwards;
}
.bio .divider:nth-of-type(1) .divider--bottom::after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 120px;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  animation: divider-scale 1s 3s ease-in forwards;
}
.bio .divider:nth-of-type(2) .divider--top {
  position: absolute;
  top: 0;
}
.bio .divider:nth-of-type(2) .divider--top::before {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 80px;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: right;
  animation: divider-scale 1s 3s ease-in forwards;
}
.bio .divider:nth-of-type(2) .divider--top::after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 80px;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  animation: divider-scale 1s 3s ease-in forwards;
}
.bio .divider:nth-of-type(2) .divider--bottom {
  position: absolute;
  bottom: 0;
}
.bio .divider:nth-of-type(2) .divider--bottom::before {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 20px;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: right;
  animation: divider-scale 1s 3s ease-in forwards;
}
.bio .divider:nth-of-type(2) .divider--bottom::after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 40px;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  animation: divider-scale 1s 3s ease-in forwards;
}
.bio .bio-item {
  color: rgb(244, 244, 244);
  overflow: hidden;
}
.bio .bio-item .role {
  padding: 20px;
}
.bio .bio-item:nth-of-type(1) .role {
  transform: translateX(100%);
  animation: role-slide-left 0.5s 3s ease-in forwards;
}
.bio .bio-item:nth-of-type(2) .role {
  opacity: 0;
  animation: fade-in 0.5s 3s ease-in forwards;
}
.bio .bio-item:nth-of-type(3) .role {
  transform: translateX(-100%);
  animation: role-slide-right 0.5s 3s ease-in forwards;
}

@keyframes divider-spin {
  0% {
    transform: rotate(-90deg) scaleY(0);
  }
  50% {
    transform: rotate(-90deg) scaleY(1);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes divider-scale {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes role-slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes role-slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navigation-links a {
  text-decoration: none;
  padding: 15px;
  border-radius: 50%;
  border: 1px solid rgb(204, 204, 204);
  color: white;
  font-size: 26px;
  margin: 20px;
  opacity: 0;
  animation: slide-in 1s ease-in forwards;
}
.navigation-links a:hover {
  color: rgb(128, 199, 253);
}

.navigation-links a:nth-child(1) {
  animation-delay: 4s;
}

.navigation-links a:nth-child(2) {
  animation-delay: 4.3s;
}

.navigation-links a:nth-child(3) {
  animation-delay: 4.6s;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(300%);
  }
  60% {
    opacity: 1;
    transform: scaleY(1) translateY(-80%);
  }
  61% {
    transform: scaleY(0.8) translateY(-80%);
  }
  100% {
    opacity: 1;
    transform: scaleY(1) translateY(0%);
  }
}
@media screen and (max-width: 500px) {
  section.landing {
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 70%;
  }
  .svg-text {
    padding: 0 20px;
  }
  .svg-text text {
    font-size: 40px;
  }
}

/*# sourceMappingURL=landing.css.map */
