section.landing {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom, black, rgb(2, 150, 169));
}

.star-cluster-white-small {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  box-shadow: 194px 1251px 0.5px 0.5px white, 1021px 1844px 0.5px 0.5px white, 1686px 1328px 0.5px 0.5px white, 867px 2018px 0.5px 0.5px white, 450px 245px 0.5px 0.5px white, 1493px 1703px 0.5px 0.5px white, 1635px 267px 0.5px 0.5px white, 197px 233px 0.5px 0.5px white, 1979px 1236px 0.5px 0.5px white, 610px 491px 0.5px 0.5px white, 686px 386px 0.5px 0.5px white, 69px 162px 0.5px 0.5px white, 1322px 1671px 0.5px 0.5px white, 2042px 1498px 0.5px 0.5px white, 2035px 1353px 0.5px 0.5px white, 1660px 213px 0.5px 0.5px white, 1095px 1145px 0.5px 0.5px white, 1696px 1296px 0.5px 0.5px white, 108px 369px 0.5px 0.5px white, 2035px 590px 0.5px 0.5px white, 163px 1176px 0.5px 0.5px white, 281px 793px 0.5px 0.5px white, 292px 1585px 0.5px 0.5px white, 528px 668px 0.5px 0.5px white, 809px 961px 0.5px 0.5px white, 1250px 439px 0.5px 0.5px white, 789px 532px 0.5px 0.5px white, 971px 1756px 0.5px 0.5px white, 1px 1278px 0.5px 0.5px white, 20px 985px 0.5px 0.5px white, 654px 654px 0.5px 0.5px white, 88px 1057px 0.5px 0.5px white, 1464px 611px 0.5px 0.5px white, 1270px 339px 0.5px 0.5px white, 1713px 185px 0.5px 0.5px white, 193px 904px 0.5px 0.5px white, 7px 310px 0.5px 0.5px white, 270px 679px 0.5px 0.5px white, 467px 1560px 0.5px 0.5px white, 764px 1132px 0.5px 0.5px white, 1611px 584px 0.5px 0.5px white, 1157px 1411px 0.5px 0.5px white, 803px 1940px 0.5px 0.5px white, 1302px 1979px 0.5px 0.5px white, 547px 1092px 0.5px 0.5px white, 457px 666px 0.5px 0.5px white, 229px 1520px 0.5px 0.5px white, 1917px 1434px 0.5px 0.5px white, 607px 1724px 0.5px 0.5px white, 175px 991px 0.5px 0.5px white, 1164px 835px 0.5px 0.5px white, 1434px 1187px 0.5px 0.5px white, 1167px 1005px 0.5px 0.5px white, 644px 1301px 0.5px 0.5px white, 1384px 1097px 0.5px 0.5px white, 1005px 349px 0.5px 0.5px white, 1020px 1099px 0.5px 0.5px white, 1939px 1752px 0.5px 0.5px white, 565px 1180px 0.5px 0.5px white, 1682px 1831px 0.5px 0.5px white, 700px 369px 0.5px 0.5px white, 1538px 1262px 0.5px 0.5px white, 1361px 1311px 0.5px 0.5px white, 1923px 509px 0.5px 0.5px white, 1792px 1638px 0.5px 0.5px white, 356px 247px 0.5px 0.5px white, 2048px 498px 0.5px 0.5px white, 1551px 1631px 0.5px 0.5px white, 1405px 1939px 0.5px 0.5px white, 1394px 1505px 0.5px 0.5px white, 815px 1703px 0.5px 0.5px white, 1795px 1468px 0.5px 0.5px white, 73px 1283px 0.5px 0.5px white, 1337px 1733px 0.5px 0.5px white, 1185px 2037px 0.5px 0.5px white, 1972px 65px 0.5px 0.5px white, 1501px 966px 0.5px 0.5px white, 1679px 507px 0.5px 0.5px white, 126px 1705px 0.5px 0.5px white, 868px 1209px 0.5px 0.5px white, 127px 1866px 0.5px 0.5px white, 1048px 1686px 0.5px 0.5px white, 250px 1364px 0.5px 0.5px white, 1546px 1003px 0.5px 0.5px white, 1036px 1121px 0.5px 0.5px white, 713px 447px 0.5px 0.5px white, 793px 1951px 0.5px 0.5px white, 1425px 2013px 0.5px 0.5px white, 380px 676px 0.5px 0.5px white, 1434px 1959px 0.5px 0.5px white, 1153px 906px 0.5px 0.5px white, 287px 925px 0.5px 0.5px white, 938px 459px 0.5px 0.5px white, 1146px 1964px 0.5px 0.5px white, 53px 622px 0.5px 0.5px white, 840px 143px 0.5px 0.5px white, 992px 1352px 0.5px 0.5px white, 483px 1221px 0.5px 0.5px white, 1447px 1757px 0.5px 0.5px white, 1382px 1605px 0.5px 0.5px white, 1845px 687px 0.5px 0.5px white, 88px 1558px 0.5px 0.5px white, 1827px 538px 0.5px 0.5px white, 962px 884px 0.5px 0.5px white, 79px 982px 0.5px 0.5px white, 348px 750px 0.5px 0.5px white, 903px 1327px 0.5px 0.5px white, 918px 1901px 0.5px 0.5px white, 140px 782px 0.5px 0.5px white, 181px 140px 0.5px 0.5px white, 639px 1665px 0.5px 0.5px white, 1702px 1281px 0.5px 0.5px white, 297px 1840px 0.5px 0.5px white, 773px 409px 0.5px 0.5px white, 1500px 1185px 0.5px 0.5px white, 1854px 339px 0.5px 0.5px white, 1598px 846px 0.5px 0.5px white, 1025px 1939px 0.5px 0.5px white, 181px 1374px 0.5px 0.5px white, 218px 1599px 0.5px 0.5px white, 1311px 845px 0.5px 0.5px white, 897px 1132px 0.5px 0.5px white, 1367px 1328px 0.5px 0.5px white, 312px 900px 0.5px 0.5px white, 1969px 303px 0.5px 0.5px white, 1145px 1401px 0.5px 0.5px white, 129px 846px 0.5px 0.5px white, 1018px 1701px 0.5px 0.5px white, 2005px 1645px 0.5px 0.5px white, 1403px 657px 0.5px 0.5px white, 1957px 649px 0.5px 0.5px white, 1903px 282px 0.5px 0.5px white, 2045px 207px 0.5px 0.5px white, 1013px 1777px 0.5px 0.5px white, 1088px 1472px 0.5px 0.5px white, 1902px 1200px 0.5px 0.5px white, 1404px 46px 0.5px 0.5px white, 198px 591px 0.5px 0.5px white, 2040px 507px 0.5px 0.5px white, 68px 1993px 0.5px 0.5px white, 1034px 1976px 0.5px 0.5px white, 748px 1539px 0.5px 0.5px white, 1245px 1709px 0.5px 0.5px white, 2033px 1011px 0.5px 0.5px white, 729px 1562px 0.5px 0.5px white, 720px 1759px 0.5px 0.5px white, 1282px 789px 0.5px 0.5px white, 1880px 730px 0.5px 0.5px white, 1367px 1734px 0.5px 0.5px white, 878px 480px 0.5px 0.5px white, 1936px 538px 0.5px 0.5px white, 181px 755px 0.5px 0.5px white, 1060px 1324px 0.5px 0.5px white, 1815px 1791px 0.5px 0.5px white, 300px 1965px 0.5px 0.5px white, 1598px 1166px 0.5px 0.5px white, 420px 667px 0.5px 0.5px white, 1759px 194px 0.5px 0.5px white, 1729px 493px 0.5px 0.5px white, 380px 366px 0.5px 0.5px white, 139px 1976px 0.5px 0.5px white, 1197px 777px 0.5px 0.5px white, 489px 882px 0.5px 0.5px white, 595px 445px 0.5px 0.5px white, 794px 1073px 0.5px 0.5px white, 1489px 530px 0.5px 0.5px white, 1905px 1405px 0.5px 0.5px white, 923px 435px 0.5px 0.5px white, 1716px 953px 0.5px 0.5px white, 390px 411px 0.5px 0.5px white, 495px 1275px 0.5px 0.5px white, 1731px 844px 0.5px 0.5px white, 619px 938px 0.5px 0.5px white, 1896px 1380px 0.5px 0.5px white, 281px 1541px 0.5px 0.5px white, 1591px 93px 0.5px 0.5px white, 1225px 107px 0.5px 0.5px white, 1536px 1803px 0.5px 0.5px white, 608px 51px 0.5px 0.5px white, 1493px 273px 0.5px 0.5px white, 910px 1597px 0.5px 0.5px white, 1986px 1429px 0.5px 0.5px white, 146px 808px 0.5px 0.5px white, 271px 693px 0.5px 0.5px white, 436px 1499px 0.5px 0.5px white, 1615px 1148px 0.5px 0.5px white, 1788px 1339px 0.5px 0.5px white, 720px 37px 0.5px 0.5px white, 1610px 1801px 0.5px 0.5px white, 828px 66px 0.5px 0.5px white, 1435px 905px 0.5px 0.5px white, 350px 1259px 0.5px 0.5px white, 1306px 243px 0.5px 0.5px white, 433px 1192px 0.5px 0.5px white, 1097px 438px 0.5px 0.5px white, 602px 358px 0.5px 0.5px white, 1796px 1367px 0.5px 0.5px white, 179px 182px 0.5px 0.5px white, 1461px 76px 0.5px 0.5px white, 1437px 1826px 0.5px 0.5px white, 1447px 499px 0.5px 0.5px white, 547px 263px 0.5px 0.5px white, 1865px 163px 0.5px 0.5px white, 1596px 316px 0.5px 0.5px white, 700px 204px 0.5px 0.5px white, 944px 289px 0.5px 0.5px white, 888px 1504px 0.5px 0.5px white, 1411px 1155px 0.5px 0.5px white, 560px 1084px 0.5px 0.5px white, 1173px 1714px 0.5px 0.5px white, 1016px 432px 0.5px 0.5px white, 1042px 92px 0.5px 0.5px white, 1189px 1168px 0.5px 0.5px white, 875px 1200px 0.5px 0.5px white, 183px 1166px 0.5px 0.5px white, 890px 1746px 0.5px 0.5px white, 487px 1595px 0.5px 0.5px white, 1523px 1471px 0.5px 0.5px white, 1337px 1100px 0.5px 0.5px white, 1579px 1945px 0.5px 0.5px white, 1990px 1574px 0.5px 0.5px white, 541px 1920px 0.5px 0.5px white, 1101px 782px 0.5px 0.5px white, 1804px 1761px 0.5px 0.5px white, 1134px 1870px 0.5px 0.5px white, 1690px 287px 0.5px 0.5px white, 335px 1017px 0.5px 0.5px white, 72px 36px 0.5px 0.5px white, 1076px 1107px 0.5px 0.5px white, 89px 196px 0.5px 0.5px white, 1052px 238px 0.5px 0.5px white, 1045px 943px 0.5px 0.5px white, 271px 1019px 0.5px 0.5px white, 312px 380px 0.5px 0.5px white, 699px 963px 0.5px 0.5px white, 1924px 1592px 0.5px 0.5px white, 1263px 1797px 0.5px 0.5px white, 999px 1148px 0.5px 0.5px white, 1900px 207px 0.5px 0.5px white, 996px 1220px 0.5px 0.5px white, 419px 101px 0.5px 0.5px white, 142px 406px 0.5px 0.5px white, 1575px 474px 0.5px 0.5px white, 1179px 142px 0.5px 0.5px white, 2030px 253px 0.5px 0.5px white, 186px 1837px 0.5px 0.5px white, 1069px 1827px 0.5px 0.5px white, 978px 656px 0.5px 0.5px white, 52px 783px 0.5px 0.5px white, 310px 432px 0.5px 0.5px white, 1821px 1940px 0.5px 0.5px white, 890px 292px 0.5px 0.5px white, 294px 865px 0.5px 0.5px white, 1879px 1834px 0.5px 0.5px white, 1111px 1599px 0.5px 0.5px white, 707px 195px 0.5px 0.5px white, 605px 599px 0.5px 0.5px white, 1040px 1981px 0.5px 0.5px white, 582px 1509px 0.5px 0.5px white, 1977px 690px 0.5px 0.5px white, 1616px 1779px 0.5px 0.5px white, 1408px 592px 0.5px 0.5px white, 746px 957px 0.5px 0.5px white, 688px 1927px 0.5px 0.5px white, 1071px 1307px 0.5px 0.5px white, 942px 782px 0.5px 0.5px white, 431px 1486px 0.5px 0.5px white, 30px 1108px 0.5px 0.5px white, 1776px 349px 0.5px 0.5px white, 850px 805px 0.5px 0.5px white, 64px 309px 0.5px 0.5px white, 186px 1771px 0.5px 0.5px white, 720px 1967px 0.5px 0.5px white, 318px 884px 0.5px 0.5px white, 1078px 1929px 0.5px 0.5px white, 909px 1330px 0.5px 0.5px white, 1358px 147px 0.5px 0.5px white, 385px 1987px 0.5px 0.5px white, 1173px 40px 0.5px 0.5px white, 745px 768px 0.5px 0.5px white, 1299px 1066px 0.5px 0.5px white, 1929px 922px 0.5px 0.5px white, 1745px 402px 0.5px 0.5px white, 983px 1761px 0.5px 0.5px white, 274px 125px 0.5px 0.5px white, 1086px 1626px 0.5px 0.5px white, 1436px 1161px 0.5px 0.5px white, 584px 1057px 0.5px 0.5px white, 1331px 1267px 0.5px 0.5px white, 102px 816px 0.5px 0.5px white, 189px 1557px 0.5px 0.5px white, 162px 419px 0.5px 0.5px white, 1662px 1275px 0.5px 0.5px white, 687px 1975px 0.5px 0.5px white, 195px 311px 0.5px 0.5px white, 507px 1355px 0.5px 0.5px white, 1870px 437px 0.5px 0.5px white, 80px 581px 0.5px 0.5px white, 1123px 2048px 0.5px 0.5px white, 740px 1913px 0.5px 0.5px white, 1237px 2001px 0.5px 0.5px white, 2047px 1176px 0.5px 0.5px white, 1505px 367px 0.5px 0.5px white, 1218px 1011px 0.5px 0.5px white, 2004px 224px 0.5px 0.5px white, 419px 1599px 0.5px 0.5px white, 782px 312px 0.5px 0.5px white, 1563px 1191px 0.5px 0.5px white, 1703px 264px 0.5px 0.5px white, 1546px 1837px 0.5px 0.5px white, 1478px 467px 0.5px 0.5px white, 2042px 1997px 0.5px 0.5px white, 1450px 1476px 0.5px 0.5px white, 1415px 603px 0.5px 0.5px white, 577px 985px 0.5px 0.5px white, 868px 1575px 0.5px 0.5px white, 886px 1946px 0.5px 0.5px white, 399px 315px 0.5px 0.5px white, 1229px 1546px 0.5px 0.5px white, 177px 1650px 0.5px 0.5px white, 1780px 169px 0.5px 0.5px white, 464px 935px 0.5px 0.5px white, 316px 35px 0.5px 0.5px white, 553px 839px 0.5px 0.5px white, 218px 969px 0.5px 0.5px white, 91px 2048px 0.5px 0.5px white, 1937px 214px 0.5px 0.5px white, 739px 1384px 0.5px 0.5px white, 897px 653px 0.5px 0.5px white, 873px 1697px 0.5px 0.5px white, 79px 1445px 0.5px 0.5px white, 874px 76px 0.5px 0.5px white, 178px 877px 0.5px 0.5px white, 835px 1245px 0.5px 0.5px white, 50px 1292px 0.5px 0.5px white, 758px 1535px 0.5px 0.5px white, 751px 1265px 0.5px 0.5px white, 798px 1373px 0.5px 0.5px white, 691px 1177px 0.5px 0.5px white, 1535px 646px 0.5px 0.5px white, 1405px 410px 0.5px 0.5px white, 61px 1884px 0.5px 0.5px white, 1913px 71px 0.5px 0.5px white, 1211px 1296px 0.5px 0.5px white, 1510px 150px 0.5px 0.5px white, 947px 441px 0.5px 0.5px white, 1274px 1649px 0.5px 0.5px white, 1082px 37px 0.5px 0.5px white, 608px 1226px 0.5px 0.5px white, 290px 1237px 0.5px 0.5px white, 627px 105px 0.5px 0.5px white, 385px 1524px 0.5px 0.5px white, 688px 1503px 0.5px 0.5px white, 1653px 863px 0.5px 0.5px white, 2042px 1323px 0.5px 0.5px white, 1607px 271px 0.5px 0.5px white, 52px 108px 0.5px 0.5px white, 1315px 1612px 0.5px 0.5px white, 918px 928px 0.5px 0.5px white, 411px 843px 0.5px 0.5px white, 491px 1791px 0.5px 0.5px white, 1102px 1164px 0.5px 0.5px white, 435px 1925px 0.5px 0.5px white, 1615px 1331px 0.5px 0.5px white, 1840px 1316px 0.5px 0.5px white, 893px 243px 0.5px 0.5px white, 949px 594px 0.5px 0.5px white, 832px 226px 0.5px 0.5px white, 1057px 680px 0.5px 0.5px white, 1303px 1553px 0.5px 0.5px white, 1592px 23px 0.5px 0.5px white, 723px 425px 0.5px 0.5px white, 1875px 1757px 0.5px 0.5px white, 326px 759px 0.5px 0.5px white, 986px 510px 0.5px 0.5px white, 408px 1423px 0.5px 0.5px white, 1536px 300px 0.5px 0.5px white, 1820px 900px 0.5px 0.5px white, 728px 833px 0.5px 0.5px white, 726px 582px 0.5px 0.5px white, 1179px 1423px 0.5px 0.5px white, 1304px 2002px 0.5px 0.5px white, 864px 1809px 0.5px 0.5px white, 1809px 2034px 0.5px 0.5px white, 749px 1803px 0.5px 0.5px white, 1755px 1651px 0.5px 0.5px white, 1248px 714px 0.5px 0.5px white, 987px 637px 0.5px 0.5px white, 1215px 1929px 0.5px 0.5px white, 1105px 579px 0.5px 0.5px white, 1844px 1740px 0.5px 0.5px white, 484px 2023px 0.5px 0.5px white, 440px 757px 0.5px 0.5px white, 757px 1865px 0.5px 0.5px white, 1422px 1791px 0.5px 0.5px white, 805px 1217px 0.5px 0.5px white, 1027px 1720px 0.5px 0.5px white, 1390px 632px 0.5px 0.5px white, 817px 948px 0.5px 0.5px white;
  animation: shine 5.2s 0.5s ease-in-out infinite alternate;
}

.star-cluster-white-medium {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  box-shadow: 1595px 1276px 0.5px 0.5px white, 1582px 779px 0.5px 0.5px white, 2008px 1673px 0.5px 0.5px white, 1280px 911px 0.5px 0.5px white, 1060px 1946px 0.5px 0.5px white, 1002px 241px 0.5px 0.5px white, 462px 1513px 0.5px 0.5px white, 1905px 857px 0.5px 0.5px white, 361px 2001px 0.5px 0.5px white, 270px 536px 0.5px 0.5px white, 262px 1946px 0.5px 0.5px white, 1138px 1752px 0.5px 0.5px white, 1177px 546px 0.5px 0.5px white, 1627px 1846px 0.5px 0.5px white, 1446px 1654px 0.5px 0.5px white, 113px 269px 0.5px 0.5px white, 478px 1278px 0.5px 0.5px white, 1840px 994px 0.5px 0.5px white, 2025px 405px 0.5px 0.5px white, 489px 1286px 0.5px 0.5px white, 737px 280px 0.5px 0.5px white, 1777px 1389px 0.5px 0.5px white, 757px 672px 0.5px 0.5px white, 303px 373px 0.5px 0.5px white, 688px 1284px 0.5px 0.5px white, 286px 794px 0.5px 0.5px white, 1695px 441px 0.5px 0.5px white, 1554px 1943px 0.5px 0.5px white, 1823px 219px 0.5px 0.5px white, 1889px 1691px 0.5px 0.5px white, 34px 1761px 0.5px 0.5px white, 115px 741px 0.5px 0.5px white, 701px 592px 0.5px 0.5px white, 1568px 45px 0.5px 0.5px white, 1987px 1113px 0.5px 0.5px white, 2039px 871px 0.5px 0.5px white, 268px 1599px 0.5px 0.5px white, 2px 1443px 0.5px 0.5px white, 350px 150px 0.5px 0.5px white, 692px 707px 0.5px 0.5px white, 728px 1497px 0.5px 0.5px white, 476px 1403px 0.5px 0.5px white, 1355px 747px 0.5px 0.5px white, 973px 443px 0.5px 0.5px white, 1410px 778px 0.5px 0.5px white, 981px 1806px 0.5px 0.5px white, 1636px 1536px 0.5px 0.5px white, 1787px 1534px 0.5px 0.5px white, 362px 790px 0.5px 0.5px white, 1655px 684px 0.5px 0.5px white, 1636px 1027px 0.5px 0.5px white, 1902px 1374px 0.5px 0.5px white, 741px 1939px 0.5px 0.5px white, 1059px 881px 0.5px 0.5px white, 88px 1169px 0.5px 0.5px white, 236px 1253px 0.5px 0.5px white, 1133px 1389px 0.5px 0.5px white, 1744px 428px 0.5px 0.5px white, 1161px 1429px 0.5px 0.5px white, 1208px 1745px 0.5px 0.5px white, 1299px 1310px 0.5px 0.5px white, 1208px 789px 0.5px 0.5px white, 309px 1390px 0.5px 0.5px white, 420px 1790px 0.5px 0.5px white, 1456px 1601px 0.5px 0.5px white, 1237px 812px 0.5px 0.5px white, 104px 56px 0.5px 0.5px white, 590px 1569px 0.5px 0.5px white, 341px 774px 0.5px 0.5px white, 2048px 858px 0.5px 0.5px white, 461px 1332px 0.5px 0.5px white, 805px 1878px 0.5px 0.5px white, 104px 781px 0.5px 0.5px white, 1994px 2032px 0.5px 0.5px white, 1902px 302px 0.5px 0.5px white, 470px 672px 0.5px 0.5px white, 110px 830px 0.5px 0.5px white, 787px 37px 0.5px 0.5px white, 300px 1644px 0.5px 0.5px white, 820px 1430px 0.5px 0.5px white, 1197px 236px 0.5px 0.5px white, 1396px 1473px 0.5px 0.5px white, 1259px 1298px 0.5px 0.5px white, 1161px 622px 0.5px 0.5px white, 1519px 1219px 0.5px 0.5px white, 238px 1730px 0.5px 0.5px white, 1313px 1600px 0.5px 0.5px white, 729px 1866px 0.5px 0.5px white, 1336px 1753px 0.5px 0.5px white, 356px 1745px 0.5px 0.5px white, 442px 1100px 0.5px 0.5px white, 1180px 1977px 0.5px 0.5px white, 6px 1490px 0.5px 0.5px white, 198px 306px 0.5px 0.5px white, 1698px 420px 0.5px 0.5px white, 125px 1295px 0.5px 0.5px white, 1923px 69px 0.5px 0.5px white, 690px 1661px 0.5px 0.5px white, 1167px 1381px 0.5px 0.5px white, 1084px 1153px 0.5px 0.5px white, 270px 334px 0.5px 0.5px white, 1750px 1893px 0.5px 0.5px white, 1403px 1332px 0.5px 0.5px white, 1523px 518px 0.5px 0.5px white, 2027px 329px 0.5px 0.5px white, 552px 841px 0.5px 0.5px white, 226px 1320px 0.5px 0.5px white, 1918px 1756px 0.5px 0.5px white, 159px 455px 0.5px 0.5px white, 1939px 1182px 0.5px 0.5px white, 1400px 1450px 0.5px 0.5px white, 1747px 1630px 0.5px 0.5px white, 821px 1380px 0.5px 0.5px white, 1914px 1377px 0.5px 0.5px white, 1512px 1764px 0.5px 0.5px white, 726px 2043px 0.5px 0.5px white, 722px 1341px 0.5px 0.5px white, 1349px 708px 0.5px 0.5px white, 67px 1728px 0.5px 0.5px white, 1354px 1070px 0.5px 0.5px white, 1861px 268px 0.5px 0.5px white, 474px 402px 0.5px 0.5px white, 1235px 1589px 0.5px 0.5px white, 953px 1275px 0.5px 0.5px white, 1037px 1160px 0.5px 0.5px white, 939px 1541px 0.5px 0.5px white, 1988px 28px 0.5px 0.5px white, 1494px 1411px 0.5px 0.5px white, 934px 1281px 0.5px 0.5px white, 765px 1228px 0.5px 0.5px white, 1701px 32px 0.5px 0.5px white, 1288px 2019px 0.5px 0.5px white, 184px 817px 0.5px 0.5px white, 895px 1848px 0.5px 0.5px white, 1788px 1026px 0.5px 0.5px white, 1230px 1478px 0.5px 0.5px white, 124px 592px 0.5px 0.5px white, 576px 1270px 0.5px 0.5px white, 1991px 901px 0.5px 0.5px white, 193px 1718px 0.5px 0.5px white, 927px 701px 0.5px 0.5px white, 1862px 1699px 0.5px 0.5px white, 734px 1986px 0.5px 0.5px white, 1833px 196px 0.5px 0.5px white, 1309px 65px 0.5px 0.5px white, 1166px 1184px 0.5px 0.5px white, 828px 1075px 0.5px 0.5px white, 713px 1428px 0.5px 0.5px white, 1621px 20px 0.5px 0.5px white, 1296px 1854px 0.5px 0.5px white, 461px 1248px 0.5px 0.5px white, 12px 1804px 0.5px 0.5px white, 133px 43px 0.5px 0.5px white, 560px 1503px 0.5px 0.5px white, 1920px 1074px 0.5px 0.5px white, 1308px 890px 0.5px 0.5px white, 826px 1401px 0.5px 0.5px white, 1676px 1348px 0.5px 0.5px white, 227px 2043px 0.5px 0.5px white, 1016px 1667px 0.5px 0.5px white, 391px 1596px 0.5px 0.5px white, 945px 1415px 0.5px 0.5px white, 286px 338px 0.5px 0.5px white, 316px 1795px 0.5px 0.5px white, 143px 1312px 0.5px 0.5px white, 273px 882px 0.5px 0.5px white, 1327px 971px 0.5px 0.5px white, 1544px 1271px 0.5px 0.5px white, 1374px 630px 0.5px 0.5px white, 670px 766px 0.5px 0.5px white, 1179px 695px 0.5px 0.5px white, 52px 1794px 0.5px 0.5px white, 884px 1685px 0.5px 0.5px white, 600px 1435px 0.5px 0.5px white, 1210px 1442px 0.5px 0.5px white, 2006px 1088px 0.5px 0.5px white, 1452px 1928px 0.5px 0.5px white, 105px 1591px 0.5px 0.5px white, 379px 1457px 0.5px 0.5px white, 670px 1372px 0.5px 0.5px white, 413px 1718px 0.5px 0.5px white, 725px 1515px 0.5px 0.5px white, 496px 110px 0.5px 0.5px white, 1822px 55px 0.5px 0.5px white, 528px 233px 0.5px 0.5px white, 77px 1413px 0.5px 0.5px white, 824px 704px 0.5px 0.5px white, 779px 148px 0.5px 0.5px white, 1065px 1509px 0.5px 0.5px white, 318px 349px 0.5px 0.5px white, 1578px 1655px 0.5px 0.5px white, 1102px 1037px 0.5px 0.5px white, 1148px 750px 0.5px 0.5px white, 1497px 1756px 0.5px 0.5px white, 443px 351px 0.5px 0.5px white, 1095px 1334px 0.5px 0.5px white, 1923px 158px 0.5px 0.5px white, 512px 1044px 0.5px 0.5px white, 1003px 1600px 0.5px 0.5px white, 2039px 1709px 0.5px 0.5px white, 852px 1855px 0.5px 0.5px white, 1395px 1129px 0.5px 0.5px white, 1186px 771px 0.5px 0.5px white, 1961px 1992px 0.5px 0.5px white, 1614px 1458px 0.5px 0.5px white, 1147px 1366px 0.5px 0.5px white, 470px 529px 0.5px 0.5px white, 619px 1519px 0.5px 0.5px white, 2027px 632px 0.5px 0.5px white, 1085px 1825px 0.5px 0.5px white, 157px 678px 0.5px 0.5px white, 1455px 634px 0.5px 0.5px white, 1190px 678px 0.5px 0.5px white, 794px 787px 0.5px 0.5px white, 1170px 683px 0.5px 0.5px white, 1958px 1050px 0.5px 0.5px white, 1263px 1363px 0.5px 0.5px white, 1375px 919px 0.5px 0.5px white, 211px 1613px 0.5px 0.5px white, 1160px 631px 0.5px 0.5px white, 99px 169px 0.5px 0.5px white, 1354px 800px 0.5px 0.5px white, 1747px 1605px 0.5px 0.5px white, 857px 1735px 0.5px 0.5px white, 994px 129px 0.5px 0.5px white, 1861px 78px 0.5px 0.5px white, 630px 1313px 0.5px 0.5px white, 1341px 407px 0.5px 0.5px white, 250px 1215px 0.5px 0.5px white, 875px 502px 0.5px 0.5px white, 815px 834px 0.5px 0.5px white, 1702px 1446px 0.5px 0.5px white, 142px 690px 0.5px 0.5px white, 1003px 778px 0.5px 0.5px white, 2031px 896px 0.5px 0.5px white, 1865px 1532px 0.5px 0.5px white, 649px 1911px 0.5px 0.5px white, 1887px 1467px 0.5px 0.5px white, 1341px 1532px 0.5px 0.5px white, 2013px 750px 0.5px 0.5px white, 1400px 771px 0.5px 0.5px white, 67px 947px 0.5px 0.5px white, 1727px 318px 0.5px 0.5px white, 1013px 1737px 0.5px 0.5px white, 993px 1948px 0.5px 0.5px white, 913px 1427px 0.5px 0.5px white, 1812px 1767px 0.5px 0.5px white, 182px 1638px 0.5px 0.5px white, 160px 600px 0.5px 0.5px white, 126px 779px 0.5px 0.5px white, 697px 915px 0.5px 0.5px white, 1892px 1835px 0.5px 0.5px white, 1639px 646px 0.5px 0.5px white, 1044px 1449px 0.5px 0.5px white, 2007px 964px 0.5px 0.5px white, 133px 1537px 0.5px 0.5px white, 350px 484px 0.5px 0.5px white, 110px 1225px 0.5px 0.5px white, 1190px 1197px 0.5px 0.5px white, 1828px 700px 0.5px 0.5px white, 432px 1618px 0.5px 0.5px white, 549px 1822px 0.5px 0.5px white, 604px 355px 0.5px 0.5px white, 1169px 620px 0.5px 0.5px white, 2034px 294px 0.5px 0.5px white, 1872px 1351px 0.5px 0.5px white, 1512px 964px 0.5px 0.5px white, 79px 367px 0.5px 0.5px white, 1757px 1408px 0.5px 0.5px white, 886px 1756px 0.5px 0.5px white, 1868px 547px 0.5px 0.5px white, 1214px 210px 0.5px 0.5px white, 1666px 2023px 0.5px 0.5px white, 1845px 483px 0.5px 0.5px white, 363px 1850px 0.5px 0.5px white, 1229px 462px 0.5px 0.5px white, 641px 1416px 0.5px 0.5px white, 1065px 1562px 0.5px 0.5px white, 360px 1355px 0.5px 0.5px white, 998px 716px 0.5px 0.5px white, 826px 239px 0.5px 0.5px white, 274px 1590px 0.5px 0.5px white, 191px 1195px 0.5px 0.5px white, 1867px 1174px 0.5px 0.5px white, 116px 1033px 0.5px 0.5px white, 1748px 2px 0.5px 0.5px white, 1361px 1699px 0.5px 0.5px white, 1658px 47px 0.5px 0.5px white, 2009px 472px 0.5px 0.5px white, 1622px 132px 0.5px 0.5px white, 142px 966px 0.5px 0.5px white, 10px 503px 0.5px 0.5px white, 53px 1649px 0.5px 0.5px white, 1925px 1899px 0.5px 0.5px white, 1124px 314px 0.5px 0.5px white, 728px 1896px 0.5px 0.5px white, 586px 1644px 0.5px 0.5px white, 1422px 396px 0.5px 0.5px white, 210px 227px 0.5px 0.5px white;
  animation: shine 3.8s 0.1s ease-in-out infinite alternate;
}

.star-cluster-white-large {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: 1670px 14px 0.5px 0.5px white, 1308px 1450px 0.5px 0.5px white, 1683px 53px 0.5px 0.5px white, 868px 990px 0.5px 0.5px white, 648px 143px 0.5px 0.5px white, 1649px 856px 0.5px 0.5px white, 536px 948px 0.5px 0.5px white, 2029px 1507px 0.5px 0.5px white, 1373px 652px 0.5px 0.5px white, 356px 371px 0.5px 0.5px white, 829px 1190px 0.5px 0.5px white, 1033px 1620px 0.5px 0.5px white, 1980px 1124px 0.5px 0.5px white, 1773px 420px 0.5px 0.5px white, 1318px 1052px 0.5px 0.5px white, 1918px 1041px 0.5px 0.5px white, 829px 1554px 0.5px 0.5px white, 213px 79px 0.5px 0.5px white, 83px 894px 0.5px 0.5px white, 1047px 130px 0.5px 0.5px white, 1311px 273px 0.5px 0.5px white, 764px 1127px 0.5px 0.5px white, 1151px 1732px 0.5px 0.5px white, 468px 39px 0.5px 0.5px white, 15px 1689px 0.5px 0.5px white, 982px 474px 0.5px 0.5px white, 1479px 1250px 0.5px 0.5px white, 89px 1379px 0.5px 0.5px white, 1407px 11px 0.5px 0.5px white, 697px 256px 0.5px 0.5px white, 1224px 1791px 0.5px 0.5px white, 150px 204px 0.5px 0.5px white, 1088px 1847px 0.5px 0.5px white, 645px 502px 0.5px 0.5px white, 166px 1716px 0.5px 0.5px white, 938px 1171px 0.5px 0.5px white, 1005px 1881px 0.5px 0.5px white, 316px 278px 0.5px 0.5px white, 1359px 1910px 0.5px 0.5px white, 981px 1289px 0.5px 0.5px white, 784px 52px 0.5px 0.5px white, 1359px 188px 0.5px 0.5px white, 1928px 1254px 0.5px 0.5px white, 1294px 77px 0.5px 0.5px white, 1924px 1224px 0.5px 0.5px white, 1138px 1147px 0.5px 0.5px white, 1151px 793px 0.5px 0.5px white, 1259px 206px 0.5px 0.5px white, 363px 358px 0.5px 0.5px white;
  animation: shine 3.4s 0.2s ease-in-out infinite alternate;
}

.star-cluster-red {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  box-shadow: 1167px 1385px 0.5px 0.5px red, 1964px 1989px 0.5px 0.5px red, 335px 185px 0.5px 0.5px red, 1811px 218px 0.5px 0.5px red, 1980px 1004px 0.5px 0.5px red, 944px 1287px 0.5px 0.5px red, 1828px 1587px 0.5px 0.5px red, 111px 897px 0.5px 0.5px red, 977px 92px 0.5px 0.5px red, 508px 610px 0.5px 0.5px red, 1871px 990px 0.5px 0.5px red, 71px 1705px 0.5px 0.5px red, 1408px 493px 0.5px 0.5px red, 1564px 1617px 0.5px 0.5px red, 571px 246px 0.5px 0.5px red, 1365px 1145px 0.5px 0.5px red, 74px 530px 0.5px 0.5px red, 544px 315px 0.5px 0.5px red, 360px 1213px 0.5px 0.5px red, 526px 1998px 0.5px 0.5px red, 1896px 400px 0.5px 0.5px red, 151px 181px 0.5px 0.5px red, 346px 1754px 0.5px 0.5px red, 1799px 320px 0.5px 0.5px red, 553px 42px 0.5px 0.5px red, 1592px 1135px 0.5px 0.5px red, 188px 1613px 0.5px 0.5px red, 1656px 135px 0.5px 0.5px red, 1494px 553px 0.5px 0.5px red, 1338px 649px 0.5px 0.5px red, 1307px 1003px 0.5px 0.5px red, 1753px 1799px 0.5px 0.5px red, 467px 1951px 0.5px 0.5px red, 185px 1965px 0.5px 0.5px red, 1765px 647px 0.5px 0.5px red, 1930px 624px 0.5px 0.5px red, 1425px 1536px 0.5px 0.5px red, 1214px 1768px 0.5px 0.5px red, 1508px 1284px 0.5px 0.5px red, 1247px 1222px 0.5px 0.5px red, 895px 1342px 0.5px 0.5px red, 460px 1398px 0.5px 0.5px red, 1247px 337px 0.5px 0.5px red, 1647px 1687px 0.5px 0.5px red, 1565px 500px 0.5px 0.5px red, 1700px 1352px 0.5px 0.5px red, 1908px 2039px 0.5px 0.5px red, 669px 1213px 0.5px 0.5px red, 439px 2017px 0.5px 0.5px red;
  animation: shine 4.2s 0.5s ease-in-out infinite alternate;
}

.star-cluster-purple {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  box-shadow: 507px 345px 0.5px 0.5px rgb(191, 0, 255), 1464px 1364px 0.5px 0.5px rgb(191, 0, 255), 121px 36px 0.5px 0.5px rgb(191, 0, 255), 2029px 1451px 0.5px 0.5px rgb(191, 0, 255), 1689px 1606px 0.5px 0.5px rgb(191, 0, 255), 516px 1040px 0.5px 0.5px rgb(191, 0, 255), 1330px 1434px 0.5px 0.5px rgb(191, 0, 255), 976px 876px 0.5px 0.5px rgb(191, 0, 255), 1715px 1276px 0.5px 0.5px rgb(191, 0, 255), 916px 1796px 0.5px 0.5px rgb(191, 0, 255), 1547px 1524px 0.5px 0.5px rgb(191, 0, 255), 1887px 910px 0.5px 0.5px rgb(191, 0, 255), 815px 1310px 0.5px 0.5px rgb(191, 0, 255), 701px 1540px 0.5px 0.5px rgb(191, 0, 255), 783px 509px 0.5px 0.5px rgb(191, 0, 255), 574px 1936px 0.5px 0.5px rgb(191, 0, 255), 1468px 1055px 0.5px 0.5px rgb(191, 0, 255), 1756px 150px 0.5px 0.5px rgb(191, 0, 255), 2011px 98px 0.5px 0.5px rgb(191, 0, 255), 1806px 449px 0.5px 0.5px rgb(191, 0, 255), 146px 998px 0.5px 0.5px rgb(191, 0, 255), 1826px 923px 0.5px 0.5px rgb(191, 0, 255), 845px 1182px 0.5px 0.5px rgb(191, 0, 255), 487px 569px 0.5px 0.5px rgb(191, 0, 255), 1906px 692px 0.5px 0.5px rgb(191, 0, 255), 1849px 108px 0.5px 0.5px rgb(191, 0, 255), 995px 1595px 0.5px 0.5px rgb(191, 0, 255), 1883px 1021px 0.5px 0.5px rgb(191, 0, 255), 1909px 508px 0.5px 0.5px rgb(191, 0, 255), 967px 138px 0.5px 0.5px rgb(191, 0, 255), 1370px 207px 0.5px 0.5px rgb(191, 0, 255), 993px 1018px 0.5px 0.5px rgb(191, 0, 255), 999px 340px 0.5px 0.5px rgb(191, 0, 255), 786px 497px 0.5px 0.5px rgb(191, 0, 255), 1634px 511px 0.5px 0.5px rgb(191, 0, 255), 107px 1179px 0.5px 0.5px rgb(191, 0, 255), 182px 948px 0.5px 0.5px rgb(191, 0, 255), 510px 1271px 0.5px 0.5px rgb(191, 0, 255), 1230px 360px 0.5px 0.5px rgb(191, 0, 255), 1135px 1547px 0.5px 0.5px rgb(191, 0, 255), 1245px 1176px 0.5px 0.5px rgb(191, 0, 255), 1032px 1393px 0.5px 0.5px rgb(191, 0, 255), 1662px 1646px 0.5px 0.5px rgb(191, 0, 255), 754px 954px 0.5px 0.5px rgb(191, 0, 255), 1736px 141px 0.5px 0.5px rgb(191, 0, 255), 1605px 780px 0.5px 0.5px rgb(191, 0, 255), 399px 800px 0.5px 0.5px rgb(191, 0, 255), 767px 971px 0.5px 0.5px rgb(191, 0, 255), 617px 1478px 0.5px 0.5px rgb(191, 0, 255);
  animation: shine 3.2s 0.8s ease-in-out infinite alternate;
}

.star-cluster-blue {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  box-shadow: 1547px 723px 0.5px 0.5px rgb(4, 209, 158), 1047px 1534px 0.5px 0.5px rgb(4, 209, 158), 1299px 767px 0.5px 0.5px rgb(4, 209, 158), 307px 1306px 0.5px 0.5px rgb(4, 209, 158), 1095px 527px 0.5px 0.5px rgb(4, 209, 158), 166px 1480px 0.5px 0.5px rgb(4, 209, 158), 951px 779px 0.5px 0.5px rgb(4, 209, 158), 657px 231px 0.5px 0.5px rgb(4, 209, 158), 733px 1246px 0.5px 0.5px rgb(4, 209, 158), 723px 615px 0.5px 0.5px rgb(4, 209, 158), 213px 1083px 0.5px 0.5px rgb(4, 209, 158), 1108px 470px 0.5px 0.5px rgb(4, 209, 158), 537px 851px 0.5px 0.5px rgb(4, 209, 158), 469px 815px 0.5px 0.5px rgb(4, 209, 158), 518px 1010px 0.5px 0.5px rgb(4, 209, 158), 960px 1583px 0.5px 0.5px rgb(4, 209, 158), 1740px 1300px 0.5px 0.5px rgb(4, 209, 158), 1750px 672px 0.5px 0.5px rgb(4, 209, 158), 54px 927px 0.5px 0.5px rgb(4, 209, 158), 344px 2045px 0.5px 0.5px rgb(4, 209, 158), 1299px 1057px 0.5px 0.5px rgb(4, 209, 158), 115px 478px 0.5px 0.5px rgb(4, 209, 158), 1199px 1627px 0.5px 0.5px rgb(4, 209, 158), 1947px 857px 0.5px 0.5px rgb(4, 209, 158), 1484px 1417px 0.5px 0.5px rgb(4, 209, 158), 1587px 1787px 0.5px 0.5px rgb(4, 209, 158), 205px 675px 0.5px 0.5px rgb(4, 209, 158), 653px 9px 0.5px 0.5px rgb(4, 209, 158), 1278px 399px 0.5px 0.5px rgb(4, 209, 158), 874px 1512px 0.5px 0.5px rgb(4, 209, 158), 670px 976px 0.5px 0.5px rgb(4, 209, 158), 578px 441px 0.5px 0.5px rgb(4, 209, 158), 188px 2008px 0.5px 0.5px rgb(4, 209, 158), 238px 1501px 0.5px 0.5px rgb(4, 209, 158), 308px 706px 0.5px 0.5px rgb(4, 209, 158), 1329px 1026px 0.5px 0.5px rgb(4, 209, 158), 1406px 1717px 0.5px 0.5px rgb(4, 209, 158), 1192px 403px 0.5px 0.5px rgb(4, 209, 158), 988px 1451px 0.5px 0.5px rgb(4, 209, 158), 1072px 1345px 0.5px 0.5px rgb(4, 209, 158), 430px 653px 0.5px 0.5px rgb(4, 209, 158), 1345px 33px 0.5px 0.5px rgb(4, 209, 158), 132px 318px 0.5px 0.5px rgb(4, 209, 158), 1526px 2039px 0.5px 0.5px rgb(4, 209, 158), 1727px 1274px 0.5px 0.5px rgb(4, 209, 158), 1183px 472px 0.5px 0.5px rgb(4, 209, 158), 710px 230px 0.5px 0.5px rgb(4, 209, 158), 237px 1516px 0.5px 0.5px rgb(4, 209, 158), 1389px 937px 0.5px 0.5px rgb(4, 209, 158), 1764px 648px 0.5px 0.5px rgb(4, 209, 158), 1846px 1308px 0.5px 0.5px rgb(4, 209, 158), 1269px 1737px 0.5px 0.5px rgb(4, 209, 158), 509px 513px 0.5px 0.5px rgb(4, 209, 158), 538px 456px 0.5px 0.5px rgb(4, 209, 158), 1388px 835px 0.5px 0.5px rgb(4, 209, 158), 481px 1157px 0.5px 0.5px rgb(4, 209, 158), 1579px 501px 0.5px 0.5px rgb(4, 209, 158), 109px 1355px 0.5px 0.5px rgb(4, 209, 158), 519px 1779px 0.5px 0.5px rgb(4, 209, 158), 268px 1411px 0.5px 0.5px rgb(4, 209, 158), 1613px 1753px 0.5px 0.5px rgb(4, 209, 158), 386px 1106px 0.5px 0.5px rgb(4, 209, 158), 1043px 2004px 0.5px 0.5px rgb(4, 209, 158), 1706px 1071px 0.5px 0.5px rgb(4, 209, 158), 227px 328px 0.5px 0.5px rgb(4, 209, 158), 1810px 900px 0.5px 0.5px rgb(4, 209, 158), 1517px 151px 0.5px 0.5px rgb(4, 209, 158), 1816px 291px 0.5px 0.5px rgb(4, 209, 158), 1594px 1895px 0.5px 0.5px rgb(4, 209, 158), 1124px 548px 0.5px 0.5px rgb(4, 209, 158), 394px 1724px 0.5px 0.5px rgb(4, 209, 158), 580px 1545px 0.5px 0.5px rgb(4, 209, 158), 1456px 1732px 0.5px 0.5px rgb(4, 209, 158), 1094px 1681px 0.5px 0.5px rgb(4, 209, 158), 44px 1611px 0.5px 0.5px rgb(4, 209, 158), 1418px 1946px 0.5px 0.5px rgb(4, 209, 158), 28px 1012px 0.5px 0.5px rgb(4, 209, 158), 1235px 1103px 0.5px 0.5px rgb(4, 209, 158), 585px 68px 0.5px 0.5px rgb(4, 209, 158), 769px 151px 0.5px 0.5px rgb(4, 209, 158), 1340px 83px 0.5px 0.5px rgb(4, 209, 158), 533px 773px 0.5px 0.5px rgb(4, 209, 158), 2002px 228px 0.5px 0.5px rgb(4, 209, 158), 122px 847px 0.5px 0.5px rgb(4, 209, 158), 1186px 98px 0.5px 0.5px rgb(4, 209, 158), 588px 1118px 0.5px 0.5px rgb(4, 209, 158), 866px 2017px 0.5px 0.5px rgb(4, 209, 158), 386px 1986px 0.5px 0.5px rgb(4, 209, 158), 615px 1321px 0.5px 0.5px rgb(4, 209, 158), 788px 1016px 0.5px 0.5px rgb(4, 209, 158), 1069px 1629px 0.5px 0.5px rgb(4, 209, 158), 1780px 1955px 0.5px 0.5px rgb(4, 209, 158), 47px 49px 0.5px 0.5px rgb(4, 209, 158), 1946px 1493px 0.5px 0.5px rgb(4, 209, 158), 827px 1921px 0.5px 0.5px rgb(4, 209, 158), 389px 487px 0.5px 0.5px rgb(4, 209, 158), 814px 1724px 0.5px 0.5px rgb(4, 209, 158), 1198px 372px 0.5px 0.5px rgb(4, 209, 158), 1640px 18px 0.5px 0.5px rgb(4, 209, 158);
  animation: shine 2.2s 0.5s ease-in-out infinite alternate;
}

@keyframes shine {
  0%, 28%, 45%, 76%, 95% {
    opacity: 1;
  }
  15%, 60%, 84%, 100% {
    opacity: 0.2;
  }
}
.shooting-star-white {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 3px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.82);
  border-radius: 50%;
  animation: shooting-star-path 15s 10s linear infinite forwards;
  animation-iteration-count: 1;
}
.shooting-star-white:after {
  content: "";
  display: block;
  width: 5px;
  height: 100px;
  background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.82));
  opacity: 0.5;
  transform: translate(-2px, -100px) rotate(-45deg);
  transform-origin: bottom;
}
@media screen and (max-width: 500px) {
  .shooting-star-white {
    animation: shooting-star-path-mobile 15s 10s linear infinite forwards;
  }
}

.shooting-star-purple {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 4px;
  height: 4px;
  background-color: rgb(251, 17, 173);
  border-radius: 50%;
  animation: shooting-star-path 15s 40s linear infinite forwards;
  animation-iteration-count: 1;
}
.shooting-star-purple:after {
  content: "";
  display: block;
  width: 5px;
  height: 100px;
  background: linear-gradient(to bottom, transparent, rgb(251, 17, 173));
  opacity: 0.5;
  transform: translate(-2px, -100px) rotate(-45deg);
  transform-origin: bottom;
}
@media screen and (max-width: 500px) {
  .shooting-star-purple {
    animation: shooting-star-path-mobile 15s 40s linear infinite forwards;
  }
}

.shooting-star-blue {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 3px;
  height: 3px;
  background-color: rgb(4, 209, 158);
  border-radius: 50%;
  animation: shooting-star-path 20s 80s linear infinite forwards;
  animation-iteration-count: 1;
}
.shooting-star-blue:after {
  content: "";
  display: block;
  width: 5px;
  height: 100px;
  background: linear-gradient(to bottom, transparent, rgb(4, 209, 158));
  opacity: 0.5;
  transform: translate(-2px, -100px) rotate(-45deg);
  transform-origin: bottom;
}
@media screen and (max-width: 500px) {
  .shooting-star-blue {
    animation: shooting-star-path-mobile 20s 80s linear infinite forwards;
  }
}

.shooting-star-test {
  width: 50px;
  height: 50px;
  background-color: white;
  animation: shooting-star-path 10s 1s linear infinite;
}

@keyframes shooting-star-path {
  0% {
    transform: translate(-20px, -20px);
  }
  100% {
    transform: translate(70vw, 110vh);
  }
}
@keyframes shooting-star-path-mobile {
  0% {
    transform: translate(-20px, 20px);
  }
  100% {
    transform: translate(120vw, 60vh);
  }
}
.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

svg text {
  font-size: 55px;
  fill: transparent;
  animation: stroke-animation 3s forwards;
}

.svg-smiley {
  stroke: white;
  animation: fade-in 2s ease-in;
}

.bio {
  margin: 20px;
  color: rgb(190, 190, 190);
  animation: fade-in 2s ease-in;
}

.bio-new {
  margin: 30px;
  color: rgb(250, 250, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  overflow: hidden;
}
.bio-new .bio-item {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bio-new .bio-item .bar {
  position: absolute;
  top: 0;
  background-color: white;
  width: 100%;
  height: 3px;
}
.bio-new .bio-item .role {
  margin: 0px 30px;
}
@media screen and (max-width: 500px) {
  .bio-new .bio-item .role {
    margin: 0px 10px;
  }
}
.bio-new .bio-item:nth-of-type(1) .bar {
  transform-origin: right;
  animation: bar-animation 1s 2s ease-out forwards;
}
.bio-new .bio-item:nth-of-type(1) .role {
  transform: translateY(-50px);
  animation: role-slide-down 1s 1s ease-in forwards;
}
.bio-new .bio-item:nth-of-type(2) .bar {
  transform-origin: right;
  animation: bar-slide-down 0.5s 1s ease-out forwards, bar-slide-down-after 1s 2s ease-out forwards;
}
.bio-new .bio-item:nth-of-type(2) .role {
  transform: translateY(50px);
  animation: role-slide-up 1s 1s ease-in forwards;
}
.bio-new .bio-item:nth-of-type(3) .bar {
  transform-origin: left;
  animation: bar-animation 1s 2s ease-out forwards;
}
.bio-new .bio-item:nth-of-type(3) .role {
  transform: translateY(-50px);
  animation: role-slide-down 1s 1s ease-in forwards;
}
.bio-new .divider-1 {
  width: 3px;
  height: 50px;
  background-color: white;
  position: relative;
  transform: scaleY(0.06);
  transform-origin: top;
  animation: divider-scale 0.5s 1s ease-out forwards;
}
.bio-new .divider-1::before {
  content: "";
  display: block;
  position: absolute;
  left: -80px;
  width: 80px;
  height: 3px;
  background-color: white;
}
.bio-new .divider-1::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 20px;
  height: 3px;
  background-color: white;
}
.bio-new .divider-2 {
  width: 3px;
  height: 50px;
  background-color: white;
  position: relative;
  transform: scaleY(0.06);
  transform-origin: top;
  animation: divider-scale 0.5s 1s ease-out forwards;
}
.bio-new .divider-2::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: white;
}
.bio-new .divider-2::after {
  content: "";
  display: block;
  position: absolute;
  left: -120px;
  bottom: 0;
  width: 120px;
  height: 3px;
  background-color: white;
}

@keyframes bar-slide-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(47px);
  }
}
@keyframes bar-slide-down-after {
  0% {
    transform: translateY(47px) scaleX(1);
  }
  100% {
    transform: translateY(47px) scaleX(0);
  }
}
@keyframes bar-animation {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes role-slide-down {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes role-slide-up {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes divider-scale {
  0% {
    transform: scaleY(0.06);
  }
  100% {
    transform: scaleY(1);
  }
}
.navigation-links a {
  text-decoration: none;
  padding: 15px;
  border-radius: 50%;
  border: 1px solid rgb(204, 204, 204);
  color: white;
  font-size: 26px;
  margin: 20px;
  opacity: 0;
  animation: slide-in 2s ease-in forwards;
}

.navigation-links a:nth-child(1) {
  animation-delay: 0s;
}

.navigation-links a:nth-child(2) {
  animation-delay: 0.3s;
}

.navigation-links a:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes stroke-animation {
  0% {
    stroke: white;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 1;
  }
  50% {
    fill: transparent;
  }
  70% {
    stroke: white;
  }
  80% {
    stroke: white;
    stroke-width: 1;
  }
  100% {
    fill: white;
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@media screen and (max-width: 500px) {
  .svg-text {
    padding: 0 20px;
  }
  .svg-text text {
    font-size: 40px;
  }
}

/*# sourceMappingURL=landing.css.map */
