section.landing {
  width: 100vw;
  height: 95vh;
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 90%;
  background: linear-gradient(to bottom, black, rgb(2, 150, 169));
}
section.landing::before {
  position: absolute;
  left: 0;
  bottom: -20px;
  content: "";
  display: block;
  width: 80%;
  height: 120px;
  background-color: aliceblue;
  opacity: 0.3;
  border-radius: 100%;
}
section.landing::after {
  position: absolute;
  right: 0;
  bottom: -50px;
  content: "";
  display: block;
  width: 80%;
  height: 150px;
  background-color: aliceblue;
  opacity: 0.5;
  border-radius: 100%;
  transform: rotate(-15deg);
}

.star-cluster-white-small {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  box-shadow: 543px 1316px 0.5px 0.5px white, 951px 318px 0.5px 0.5px white, 563px 241px 0.5px 0.5px white, 1856px 1436px 0.5px 0.5px white, 1447px 971px 0.5px 0.5px white, 1566px 1192px 0.5px 0.5px white, 691px 731px 0.5px 0.5px white, 285px 1054px 0.5px 0.5px white, 1466px 1965px 0.5px 0.5px white, 227px 1344px 0.5px 0.5px white, 42px 627px 0.5px 0.5px white, 452px 1132px 0.5px 0.5px white, 360px 726px 0.5px 0.5px white, 2028px 992px 0.5px 0.5px white, 2034px 1916px 0.5px 0.5px white, 1959px 944px 0.5px 0.5px white, 720px 802px 0.5px 0.5px white, 1230px 1998px 0.5px 0.5px white, 545px 346px 0.5px 0.5px white, 246px 488px 0.5px 0.5px white, 101px 691px 0.5px 0.5px white, 1895px 1881px 0.5px 0.5px white, 1922px 1991px 0.5px 0.5px white, 1137px 66px 0.5px 0.5px white, 955px 165px 0.5px 0.5px white, 1409px 73px 0.5px 0.5px white, 1168px 295px 0.5px 0.5px white, 1825px 1358px 0.5px 0.5px white, 845px 1153px 0.5px 0.5px white, 2038px 495px 0.5px 0.5px white, 888px 1039px 0.5px 0.5px white, 538px 972px 0.5px 0.5px white, 732px 1605px 0.5px 0.5px white, 1349px 320px 0.5px 0.5px white, 506px 1218px 0.5px 0.5px white, 980px 1417px 0.5px 0.5px white, 426px 1628px 0.5px 0.5px white, 1878px 813px 0.5px 0.5px white, 108px 1049px 0.5px 0.5px white, 208px 1319px 0.5px 0.5px white, 1537px 209px 0.5px 0.5px white, 1716px 1415px 0.5px 0.5px white, 1670px 1018px 0.5px 0.5px white, 233px 384px 0.5px 0.5px white, 448px 655px 0.5px 0.5px white, 240px 796px 0.5px 0.5px white, 1217px 431px 0.5px 0.5px white, 535px 739px 0.5px 0.5px white, 952px 274px 0.5px 0.5px white, 1868px 801px 0.5px 0.5px white, 1548px 1196px 0.5px 0.5px white, 1434px 418px 0.5px 0.5px white, 2027px 700px 0.5px 0.5px white, 1313px 915px 0.5px 0.5px white, 1223px 752px 0.5px 0.5px white, 1658px 1132px 0.5px 0.5px white, 1371px 1961px 0.5px 0.5px white, 162px 1212px 0.5px 0.5px white, 1803px 685px 0.5px 0.5px white, 857px 1242px 0.5px 0.5px white, 1555px 404px 0.5px 0.5px white, 986px 1347px 0.5px 0.5px white, 1705px 1271px 0.5px 0.5px white, 1466px 1923px 0.5px 0.5px white, 62px 263px 0.5px 0.5px white, 1090px 240px 0.5px 0.5px white, 1055px 790px 0.5px 0.5px white, 31px 909px 0.5px 0.5px white, 1685px 1853px 0.5px 0.5px white, 1104px 922px 0.5px 0.5px white, 600px 1193px 0.5px 0.5px white, 440px 1179px 0.5px 0.5px white, 1607px 690px 0.5px 0.5px white, 1867px 1164px 0.5px 0.5px white, 831px 1074px 0.5px 0.5px white, 1447px 237px 0.5px 0.5px white, 1815px 1649px 0.5px 0.5px white, 492px 406px 0.5px 0.5px white, 908px 281px 0.5px 0.5px white, 850px 667px 0.5px 0.5px white, 1790px 1485px 0.5px 0.5px white, 1638px 293px 0.5px 0.5px white, 311px 1254px 0.5px 0.5px white, 1360px 1620px 0.5px 0.5px white, 1674px 575px 0.5px 0.5px white, 407px 1323px 0.5px 0.5px white, 1379px 422px 0.5px 0.5px white, 301px 1304px 0.5px 0.5px white, 1817px 1682px 0.5px 0.5px white, 1824px 358px 0.5px 0.5px white, 78px 1573px 0.5px 0.5px white, 89px 1277px 0.5px 0.5px white, 676px 1758px 0.5px 0.5px white, 87px 1251px 0.5px 0.5px white, 1706px 1803px 0.5px 0.5px white, 122px 436px 0.5px 0.5px white, 1295px 1922px 0.5px 0.5px white, 157px 1550px 0.5px 0.5px white, 1756px 1534px 0.5px 0.5px white, 1291px 1094px 0.5px 0.5px white, 312px 1931px 0.5px 0.5px white, 1367px 1852px 0.5px 0.5px white, 276px 711px 0.5px 0.5px white, 1014px 776px 0.5px 0.5px white, 311px 473px 0.5px 0.5px white, 806px 87px 0.5px 0.5px white, 824px 374px 0.5px 0.5px white, 107px 835px 0.5px 0.5px white, 1924px 309px 0.5px 0.5px white, 1266px 1022px 0.5px 0.5px white, 1582px 1788px 0.5px 0.5px white, 1865px 1235px 0.5px 0.5px white, 347px 1483px 0.5px 0.5px white, 1202px 1959px 0.5px 0.5px white, 1407px 1991px 0.5px 0.5px white, 1773px 1277px 0.5px 0.5px white, 112px 410px 0.5px 0.5px white, 1889px 1009px 0.5px 0.5px white, 1619px 1285px 0.5px 0.5px white, 1484px 1044px 0.5px 0.5px white, 1497px 351px 0.5px 0.5px white, 1267px 1066px 0.5px 0.5px white, 1835px 319px 0.5px 0.5px white, 480px 975px 0.5px 0.5px white, 554px 1969px 0.5px 0.5px white, 1096px 235px 0.5px 0.5px white, 1296px 1420px 0.5px 0.5px white, 845px 74px 0.5px 0.5px white, 593px 1564px 0.5px 0.5px white, 924px 660px 0.5px 0.5px white, 1151px 283px 0.5px 0.5px white, 486px 1938px 0.5px 0.5px white, 1637px 1625px 0.5px 0.5px white, 1709px 742px 0.5px 0.5px white, 799px 856px 0.5px 0.5px white, 180px 1046px 0.5px 0.5px white, 157px 1587px 0.5px 0.5px white, 1872px 597px 0.5px 0.5px white, 1365px 425px 0.5px 0.5px white, 758px 1270px 0.5px 0.5px white, 769px 1760px 0.5px 0.5px white, 43px 379px 0.5px 0.5px white, 1574px 1861px 0.5px 0.5px white, 772px 75px 0.5px 0.5px white, 281px 669px 0.5px 0.5px white, 860px 1193px 0.5px 0.5px white, 182px 616px 0.5px 0.5px white, 1558px 276px 0.5px 0.5px white, 1855px 184px 0.5px 0.5px white, 1538px 1344px 0.5px 0.5px white, 756px 1777px 0.5px 0.5px white, 1694px 901px 0.5px 0.5px white, 1899px 220px 0.5px 0.5px white, 1174px 484px 0.5px 0.5px white, 918px 63px 0.5px 0.5px white, 1441px 1341px 0.5px 0.5px white, 342px 18px 0.5px 0.5px white, 490px 1841px 0.5px 0.5px white, 1368px 699px 0.5px 0.5px white, 726px 2031px 0.5px 0.5px white, 607px 627px 0.5px 0.5px white, 870px 1221px 0.5px 0.5px white, 1181px 1656px 0.5px 0.5px white, 1464px 776px 0.5px 0.5px white, 1206px 517px 0.5px 0.5px white, 1103px 1952px 0.5px 0.5px white, 448px 1529px 0.5px 0.5px white, 1305px 1361px 0.5px 0.5px white, 676px 1801px 0.5px 0.5px white, 1825px 498px 0.5px 0.5px white, 1777px 1249px 0.5px 0.5px white, 1347px 1227px 0.5px 0.5px white, 1384px 1079px 0.5px 0.5px white, 521px 776px 0.5px 0.5px white, 757px 200px 0.5px 0.5px white, 916px 121px 0.5px 0.5px white, 711px 2001px 0.5px 0.5px white, 658px 1363px 0.5px 0.5px white, 602px 854px 0.5px 0.5px white, 1153px 846px 0.5px 0.5px white, 1387px 312px 0.5px 0.5px white, 571px 1211px 0.5px 0.5px white, 1642px 1103px 0.5px 0.5px white, 1790px 540px 0.5px 0.5px white, 1367px 111px 0.5px 0.5px white, 519px 1513px 0.5px 0.5px white, 944px 1543px 0.5px 0.5px white, 1142px 1637px 0.5px 0.5px white, 14px 977px 0.5px 0.5px white, 1037px 1705px 0.5px 0.5px white, 1622px 344px 0.5px 0.5px white, 1450px 89px 0.5px 0.5px white, 286px 353px 0.5px 0.5px white, 762px 987px 0.5px 0.5px white, 1123px 643px 0.5px 0.5px white, 1775px 138px 0.5px 0.5px white, 1449px 807px 0.5px 0.5px white, 65px 381px 0.5px 0.5px white, 1451px 1207px 0.5px 0.5px white, 798px 1860px 0.5px 0.5px white, 620px 929px 0.5px 0.5px white, 1998px 561px 0.5px 0.5px white, 355px 1203px 0.5px 0.5px white, 1738px 1730px 0.5px 0.5px white, 225px 729px 0.5px 0.5px white, 1297px 904px 0.5px 0.5px white, 76px 1077px 0.5px 0.5px white, 919px 918px 0.5px 0.5px white, 1069px 640px 0.5px 0.5px white, 428px 1171px 0.5px 0.5px white, 327px 1490px 0.5px 0.5px white, 728px 1475px 0.5px 0.5px white, 1532px 1121px 0.5px 0.5px white, 446px 56px 0.5px 0.5px white, 919px 716px 0.5px 0.5px white, 1196px 1921px 0.5px 0.5px white, 1659px 946px 0.5px 0.5px white, 1877px 362px 0.5px 0.5px white, 829px 1529px 0.5px 0.5px white, 1512px 1144px 0.5px 0.5px white, 1575px 1992px 0.5px 0.5px white, 1377px 1548px 0.5px 0.5px white, 893px 388px 0.5px 0.5px white, 1145px 665px 0.5px 0.5px white, 176px 1422px 0.5px 0.5px white, 1084px 245px 0.5px 0.5px white, 357px 21px 0.5px 0.5px white, 723px 1291px 0.5px 0.5px white, 770px 1998px 0.5px 0.5px white, 1131px 1478px 0.5px 0.5px white, 364px 968px 0.5px 0.5px white, 1499px 616px 0.5px 0.5px white, 1152px 1578px 0.5px 0.5px white, 1512px 75px 0.5px 0.5px white, 257px 541px 0.5px 0.5px white, 1442px 1186px 0.5px 0.5px white, 892px 856px 0.5px 0.5px white, 233px 1152px 0.5px 0.5px white, 791px 1949px 0.5px 0.5px white, 1740px 119px 0.5px 0.5px white, 143px 1042px 0.5px 0.5px white, 1813px 191px 0.5px 0.5px white, 883px 1852px 0.5px 0.5px white, 1720px 278px 0.5px 0.5px white, 234px 922px 0.5px 0.5px white, 874px 94px 0.5px 0.5px white, 1009px 234px 0.5px 0.5px white, 832px 1356px 0.5px 0.5px white, 512px 1845px 0.5px 0.5px white, 1806px 1659px 0.5px 0.5px white, 670px 301px 0.5px 0.5px white, 1692px 1355px 0.5px 0.5px white, 1540px 1008px 0.5px 0.5px white, 1026px 1349px 0.5px 0.5px white, 50px 692px 0.5px 0.5px white, 219px 1035px 0.5px 0.5px white, 1100px 533px 0.5px 0.5px white, 275px 835px 0.5px 0.5px white, 1173px 1442px 0.5px 0.5px white, 1192px 865px 0.5px 0.5px white, 685px 139px 0.5px 0.5px white, 1522px 1824px 0.5px 0.5px white, 1656px 567px 0.5px 0.5px white, 876px 1105px 0.5px 0.5px white, 1882px 386px 0.5px 0.5px white, 149px 375px 0.5px 0.5px white, 2035px 887px 0.5px 0.5px white, 1416px 432px 0.5px 0.5px white, 261px 1371px 0.5px 0.5px white, 937px 1683px 0.5px 0.5px white, 427px 1523px 0.5px 0.5px white, 1081px 1238px 0.5px 0.5px white, 1760px 1727px 0.5px 0.5px white, 2021px 1823px 0.5px 0.5px white, 188px 91px 0.5px 0.5px white, 1880px 1668px 0.5px 0.5px white, 1535px 147px 0.5px 0.5px white, 2044px 895px 0.5px 0.5px white, 495px 664px 0.5px 0.5px white, 1993px 930px 0.5px 0.5px white, 784px 1961px 0.5px 0.5px white, 1649px 119px 0.5px 0.5px white, 2023px 329px 0.5px 0.5px white, 1343px 1015px 0.5px 0.5px white, 1962px 1757px 0.5px 0.5px white, 146px 911px 0.5px 0.5px white, 644px 1564px 0.5px 0.5px white, 1018px 1564px 0.5px 0.5px white, 1779px 1817px 0.5px 0.5px white, 777px 657px 0.5px 0.5px white, 1168px 378px 0.5px 0.5px white, 977px 91px 0.5px 0.5px white, 229px 1447px 0.5px 0.5px white, 238px 365px 0.5px 0.5px white, 903px 823px 0.5px 0.5px white, 120px 221px 0.5px 0.5px white, 451px 957px 0.5px 0.5px white, 263px 1019px 0.5px 0.5px white, 100px 1367px 0.5px 0.5px white, 547px 724px 0.5px 0.5px white, 1002px 1092px 0.5px 0.5px white, 456px 873px 0.5px 0.5px white, 992px 1512px 0.5px 0.5px white, 954px 1712px 0.5px 0.5px white, 41px 1401px 0.5px 0.5px white, 459px 36px 0.5px 0.5px white, 1908px 399px 0.5px 0.5px white, 1034px 2042px 0.5px 0.5px white, 1513px 1437px 0.5px 0.5px white, 1153px 795px 0.5px 0.5px white, 331px 528px 0.5px 0.5px white, 12px 1682px 0.5px 0.5px white, 1621px 1120px 0.5px 0.5px white, 1414px 1826px 0.5px 0.5px white, 272px 1058px 0.5px 0.5px white, 1129px 1217px 0.5px 0.5px white, 1818px 1628px 0.5px 0.5px white, 679px 1986px 0.5px 0.5px white, 500px 1658px 0.5px 0.5px white, 1389px 1241px 0.5px 0.5px white, 943px 1651px 0.5px 0.5px white, 1732px 1428px 0.5px 0.5px white, 943px 73px 0.5px 0.5px white, 1057px 328px 0.5px 0.5px white, 831px 700px 0.5px 0.5px white, 949px 1786px 0.5px 0.5px white, 1131px 1019px 0.5px 0.5px white, 776px 1532px 0.5px 0.5px white, 716px 1230px 0.5px 0.5px white, 1536px 772px 0.5px 0.5px white, 1819px 1295px 0.5px 0.5px white, 258px 1852px 0.5px 0.5px white, 1737px 960px 0.5px 0.5px white, 1851px 400px 0.5px 0.5px white, 27px 1255px 0.5px 0.5px white, 2027px 1657px 0.5px 0.5px white, 1682px 1756px 0.5px 0.5px white, 1398px 793px 0.5px 0.5px white, 168px 776px 0.5px 0.5px white, 1989px 1022px 0.5px 0.5px white, 330px 1240px 0.5px 0.5px white, 118px 3px 0.5px 0.5px white, 1587px 1839px 0.5px 0.5px white, 1610px 1852px 0.5px 0.5px white, 1340px 1068px 0.5px 0.5px white, 230px 1283px 0.5px 0.5px white, 1660px 1407px 0.5px 0.5px white, 1854px 205px 0.5px 0.5px white, 276px 2045px 0.5px 0.5px white, 1916px 1736px 0.5px 0.5px white, 848px 1458px 0.5px 0.5px white, 1415px 892px 0.5px 0.5px white, 1401px 1704px 0.5px 0.5px white, 1374px 1012px 0.5px 0.5px white, 340px 753px 0.5px 0.5px white, 63px 1882px 0.5px 0.5px white, 422px 293px 0.5px 0.5px white, 1860px 200px 0.5px 0.5px white, 1049px 151px 0.5px 0.5px white, 1872px 1988px 0.5px 0.5px white, 257px 982px 0.5px 0.5px white, 1365px 892px 0.5px 0.5px white, 115px 832px 0.5px 0.5px white, 1882px 298px 0.5px 0.5px white, 1240px 1285px 0.5px 0.5px white, 1184px 1244px 0.5px 0.5px white, 462px 477px 0.5px 0.5px white, 109px 1506px 0.5px 0.5px white, 1897px 762px 0.5px 0.5px white, 90px 850px 0.5px 0.5px white, 210px 1115px 0.5px 0.5px white, 209px 1444px 0.5px 0.5px white, 138px 687px 0.5px 0.5px white, 2px 910px 0.5px 0.5px white, 304px 1610px 0.5px 0.5px white, 1160px 981px 0.5px 0.5px white, 956px 674px 0.5px 0.5px white, 344px 798px 0.5px 0.5px white, 810px 224px 0.5px 0.5px white, 1040px 407px 0.5px 0.5px white, 799px 765px 0.5px 0.5px white, 961px 130px 0.5px 0.5px white, 2030px 88px 0.5px 0.5px white, 19px 366px 0.5px 0.5px white, 895px 968px 0.5px 0.5px white, 695px 1516px 0.5px 0.5px white, 1574px 754px 0.5px 0.5px white, 521px 212px 0.5px 0.5px white, 1765px 702px 0.5px 0.5px white, 1451px 544px 0.5px 0.5px white, 1268px 294px 0.5px 0.5px white, 383px 795px 0.5px 0.5px white, 525px 819px 0.5px 0.5px white, 1574px 891px 0.5px 0.5px white, 1061px 1222px 0.5px 0.5px white, 517px 43px 0.5px 0.5px white, 1809px 1155px 0.5px 0.5px white, 1188px 30px 0.5px 0.5px white, 1985px 1187px 0.5px 0.5px white;
  animation: shine 5.2s 0.5s ease-in-out infinite alternate;
}

.star-cluster-white-medium {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  box-shadow: 1989px 1553px 0.5px 0.5px white, 186px 1072px 0.5px 0.5px white, 1560px 907px 0.5px 0.5px white, 1431px 1296px 0.5px 0.5px white, 429px 1614px 0.5px 0.5px white, 1379px 47px 0.5px 0.5px white, 462px 1151px 0.5px 0.5px white, 629px 2019px 0.5px 0.5px white, 1941px 1634px 0.5px 0.5px white, 619px 1867px 0.5px 0.5px white, 2023px 1393px 0.5px 0.5px white, 1994px 1836px 0.5px 0.5px white, 197px 1465px 0.5px 0.5px white, 1188px 1303px 0.5px 0.5px white, 1515px 1812px 0.5px 0.5px white, 74px 1103px 0.5px 0.5px white, 495px 563px 0.5px 0.5px white, 1162px 416px 0.5px 0.5px white, 736px 1365px 0.5px 0.5px white, 553px 1839px 0.5px 0.5px white, 1727px 1329px 0.5px 0.5px white, 1643px 2005px 0.5px 0.5px white, 751px 1530px 0.5px 0.5px white, 141px 1586px 0.5px 0.5px white, 639px 1547px 0.5px 0.5px white, 1974px 1734px 0.5px 0.5px white, 387px 112px 0.5px 0.5px white, 457px 1613px 0.5px 0.5px white, 1931px 1963px 0.5px 0.5px white, 267px 1244px 0.5px 0.5px white, 927px 1881px 0.5px 0.5px white, 1690px 1764px 0.5px 0.5px white, 1004px 1604px 0.5px 0.5px white, 1267px 1230px 0.5px 0.5px white, 71px 128px 0.5px 0.5px white, 492px 555px 0.5px 0.5px white, 1127px 1653px 0.5px 0.5px white, 1707px 1583px 0.5px 0.5px white, 1068px 1564px 0.5px 0.5px white, 967px 1887px 0.5px 0.5px white, 943px 174px 0.5px 0.5px white, 1701px 1380px 0.5px 0.5px white, 1467px 621px 0.5px 0.5px white, 1534px 673px 0.5px 0.5px white, 1056px 871px 0.5px 0.5px white, 1836px 90px 0.5px 0.5px white, 370px 21px 0.5px 0.5px white, 1556px 30px 0.5px 0.5px white, 1245px 371px 0.5px 0.5px white, 1076px 317px 0.5px 0.5px white, 1543px 1576px 0.5px 0.5px white, 215px 978px 0.5px 0.5px white, 1123px 563px 0.5px 0.5px white, 1039px 1156px 0.5px 0.5px white, 60px 1829px 0.5px 0.5px white, 1427px 1233px 0.5px 0.5px white, 533px 2021px 0.5px 0.5px white, 862px 511px 0.5px 0.5px white, 332px 1368px 0.5px 0.5px white, 12px 916px 0.5px 0.5px white, 565px 39px 0.5px 0.5px white, 236px 149px 0.5px 0.5px white, 1996px 629px 0.5px 0.5px white, 1002px 421px 0.5px 0.5px white, 493px 1641px 0.5px 0.5px white, 1836px 620px 0.5px 0.5px white, 1929px 1347px 0.5px 0.5px white, 1063px 501px 0.5px 0.5px white, 473px 1025px 0.5px 0.5px white, 891px 1300px 0.5px 0.5px white, 1541px 871px 0.5px 0.5px white, 45px 705px 0.5px 0.5px white, 1188px 1751px 0.5px 0.5px white, 769px 249px 0.5px 0.5px white, 22px 571px 0.5px 0.5px white, 1856px 892px 0.5px 0.5px white, 1370px 452px 0.5px 0.5px white, 1061px 1079px 0.5px 0.5px white, 1218px 1999px 0.5px 0.5px white, 9px 577px 0.5px 0.5px white, 1983px 1623px 0.5px 0.5px white, 355px 988px 0.5px 0.5px white, 1215px 1479px 0.5px 0.5px white, 1923px 733px 0.5px 0.5px white, 1813px 1433px 0.5px 0.5px white, 45px 1143px 0.5px 0.5px white, 482px 1603px 0.5px 0.5px white, 324px 356px 0.5px 0.5px white, 1337px 849px 0.5px 0.5px white, 1240px 889px 0.5px 0.5px white, 609px 1917px 0.5px 0.5px white, 149px 423px 0.5px 0.5px white, 1520px 755px 0.5px 0.5px white, 247px 1073px 0.5px 0.5px white, 1023px 452px 0.5px 0.5px white, 301px 932px 0.5px 0.5px white, 1230px 653px 0.5px 0.5px white, 2008px 652px 0.5px 0.5px white, 2024px 444px 0.5px 0.5px white, 971px 804px 0.5px 0.5px white, 656px 807px 0.5px 0.5px white, 744px 1151px 0.5px 0.5px white, 831px 1292px 0.5px 0.5px white, 672px 618px 0.5px 0.5px white, 1871px 1033px 0.5px 0.5px white, 449px 196px 0.5px 0.5px white, 1312px 268px 0.5px 0.5px white, 1655px 478px 0.5px 0.5px white, 1631px 527px 0.5px 0.5px white, 1376px 642px 0.5px 0.5px white, 104px 1002px 0.5px 0.5px white, 784px 832px 0.5px 0.5px white, 345px 956px 0.5px 0.5px white, 218px 1631px 0.5px 0.5px white, 1273px 244px 0.5px 0.5px white, 1421px 1505px 0.5px 0.5px white, 889px 1032px 0.5px 0.5px white, 806px 701px 0.5px 0.5px white, 723px 317px 0.5px 0.5px white, 1335px 316px 0.5px 0.5px white, 1371px 852px 0.5px 0.5px white, 845px 205px 0.5px 0.5px white, 110px 905px 0.5px 0.5px white, 256px 1945px 0.5px 0.5px white, 1621px 1414px 0.5px 0.5px white, 1518px 924px 0.5px 0.5px white, 1811px 400px 0.5px 0.5px white, 1644px 120px 0.5px 0.5px white, 920px 477px 0.5px 0.5px white, 975px 199px 0.5px 0.5px white, 1219px 166px 0.5px 0.5px white, 689px 1475px 0.5px 0.5px white, 992px 242px 0.5px 0.5px white, 1948px 89px 0.5px 0.5px white, 855px 153px 0.5px 0.5px white, 1374px 2020px 0.5px 0.5px white, 1553px 1584px 0.5px 0.5px white, 1398px 299px 0.5px 0.5px white, 206px 1308px 0.5px 0.5px white, 1446px 1504px 0.5px 0.5px white, 2039px 1436px 0.5px 0.5px white, 1095px 435px 0.5px 0.5px white, 888px 1241px 0.5px 0.5px white, 885px 585px 0.5px 0.5px white, 1597px 1676px 0.5px 0.5px white, 769px 753px 0.5px 0.5px white, 921px 1012px 0.5px 0.5px white, 1383px 712px 0.5px 0.5px white, 1489px 906px 0.5px 0.5px white, 1238px 1458px 0.5px 0.5px white, 222px 909px 0.5px 0.5px white, 1226px 479px 0.5px 0.5px white, 1518px 407px 0.5px 0.5px white, 614px 360px 0.5px 0.5px white, 617px 684px 0.5px 0.5px white, 1553px 1924px 0.5px 0.5px white, 1177px 664px 0.5px 0.5px white, 245px 59px 0.5px 0.5px white, 472px 842px 0.5px 0.5px white, 594px 1843px 0.5px 0.5px white, 296px 440px 0.5px 0.5px white, 823px 968px 0.5px 0.5px white, 1179px 1007px 0.5px 0.5px white, 926px 1159px 0.5px 0.5px white, 1019px 922px 0.5px 0.5px white, 898px 825px 0.5px 0.5px white, 257px 723px 0.5px 0.5px white, 27px 2008px 0.5px 0.5px white, 1195px 1848px 0.5px 0.5px white, 801px 1842px 0.5px 0.5px white, 1724px 1186px 0.5px 0.5px white, 1181px 1350px 0.5px 0.5px white, 30px 1883px 0.5px 0.5px white, 540px 1008px 0.5px 0.5px white, 1451px 1480px 0.5px 0.5px white, 378px 487px 0.5px 0.5px white, 1739px 1547px 0.5px 0.5px white, 324px 20px 0.5px 0.5px white, 411px 2013px 0.5px 0.5px white, 399px 1951px 0.5px 0.5px white, 1749px 237px 0.5px 0.5px white, 343px 1212px 0.5px 0.5px white, 1696px 455px 0.5px 0.5px white, 56px 681px 0.5px 0.5px white, 1777px 1791px 0.5px 0.5px white, 1915px 432px 0.5px 0.5px white, 1300px 1092px 0.5px 0.5px white, 1927px 939px 0.5px 0.5px white, 1794px 845px 0.5px 0.5px white, 432px 765px 0.5px 0.5px white, 746px 1167px 0.5px 0.5px white, 1323px 194px 0.5px 0.5px white, 1910px 1853px 0.5px 0.5px white, 385px 1183px 0.5px 0.5px white, 753px 612px 0.5px 0.5px white, 49px 1198px 0.5px 0.5px white, 1616px 1900px 0.5px 0.5px white, 920px 95px 0.5px 0.5px white, 474px 300px 0.5px 0.5px white, 1298px 316px 0.5px 0.5px white, 1282px 1342px 0.5px 0.5px white, 372px 1496px 0.5px 0.5px white, 625px 1429px 0.5px 0.5px white, 1153px 1228px 0.5px 0.5px white, 452px 1584px 0.5px 0.5px white, 765px 1653px 0.5px 0.5px white, 483px 99px 0.5px 0.5px white, 1853px 1288px 0.5px 0.5px white, 80px 1768px 0.5px 0.5px white, 1686px 2038px 0.5px 0.5px white, 727px 1491px 0.5px 0.5px white, 45px 2001px 0.5px 0.5px white, 1213px 722px 0.5px 0.5px white, 424px 557px 0.5px 0.5px white, 110px 1106px 0.5px 0.5px white, 1141px 1839px 0.5px 0.5px white, 1164px 1168px 0.5px 0.5px white, 907px 980px 0.5px 0.5px white, 1655px 1260px 0.5px 0.5px white, 1249px 820px 0.5px 0.5px white, 1217px 1160px 0.5px 0.5px white, 419px 607px 0.5px 0.5px white, 868px 2043px 0.5px 0.5px white, 1618px 1px 0.5px 0.5px white, 1639px 670px 0.5px 0.5px white, 1253px 963px 0.5px 0.5px white, 422px 1626px 0.5px 0.5px white, 629px 2016px 0.5px 0.5px white, 1996px 143px 0.5px 0.5px white, 1160px 1072px 0.5px 0.5px white, 1401px 1950px 0.5px 0.5px white, 939px 1304px 0.5px 0.5px white, 1272px 488px 0.5px 0.5px white, 685px 1893px 0.5px 0.5px white, 1470px 1048px 0.5px 0.5px white, 977px 887px 0.5px 0.5px white, 722px 948px 0.5px 0.5px white, 494px 937px 0.5px 0.5px white, 398px 514px 0.5px 0.5px white, 1914px 443px 0.5px 0.5px white, 521px 247px 0.5px 0.5px white, 1417px 377px 0.5px 0.5px white, 1676px 570px 0.5px 0.5px white, 1506px 2006px 0.5px 0.5px white, 1406px 1131px 0.5px 0.5px white, 443px 1196px 0.5px 0.5px white, 404px 837px 0.5px 0.5px white, 1200px 1382px 0.5px 0.5px white, 1064px 832px 0.5px 0.5px white, 478px 316px 0.5px 0.5px white, 30px 991px 0.5px 0.5px white, 1203px 961px 0.5px 0.5px white, 1162px 1298px 0.5px 0.5px white, 1322px 1225px 0.5px 0.5px white, 662px 3px 0.5px 0.5px white, 1122px 856px 0.5px 0.5px white, 393px 2021px 0.5px 0.5px white, 1423px 707px 0.5px 0.5px white, 1136px 1175px 0.5px 0.5px white, 798px 948px 0.5px 0.5px white, 1307px 519px 0.5px 0.5px white, 1562px 1297px 0.5px 0.5px white, 1466px 741px 0.5px 0.5px white, 375px 1460px 0.5px 0.5px white, 1177px 1959px 0.5px 0.5px white, 66px 657px 0.5px 0.5px white, 1330px 1962px 0.5px 0.5px white, 740px 715px 0.5px 0.5px white, 1080px 395px 0.5px 0.5px white, 848px 189px 0.5px 0.5px white, 1940px 627px 0.5px 0.5px white, 2040px 1977px 0.5px 0.5px white, 718px 1661px 0.5px 0.5px white, 2015px 1926px 0.5px 0.5px white, 491px 319px 0.5px 0.5px white, 252px 294px 0.5px 0.5px white, 57px 456px 0.5px 0.5px white, 1101px 1652px 0.5px 0.5px white, 1485px 514px 0.5px 0.5px white, 324px 885px 0.5px 0.5px white, 959px 1859px 0.5px 0.5px white, 1589px 273px 0.5px 0.5px white, 1951px 1950px 0.5px 0.5px white, 205px 925px 0.5px 0.5px white, 901px 685px 0.5px 0.5px white, 42px 186px 0.5px 0.5px white, 1912px 1126px 0.5px 0.5px white, 157px 866px 0.5px 0.5px white, 1327px 941px 0.5px 0.5px white, 1834px 1320px 0.5px 0.5px white, 304px 1420px 0.5px 0.5px white, 1755px 1600px 0.5px 0.5px white, 296px 110px 0.5px 0.5px white, 1555px 1516px 0.5px 0.5px white, 1996px 332px 0.5px 0.5px white, 1729px 911px 0.5px 0.5px white, 1831px 152px 0.5px 0.5px white, 859px 995px 0.5px 0.5px white, 461px 1283px 0.5px 0.5px white;
  animation: shine 3.8s 0.1s ease-in-out infinite alternate;
}

.star-cluster-white-large {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: 393px 60px 0.5px 0.5px white, 1205px 538px 0.5px 0.5px white, 1274px 951px 0.5px 0.5px white, 808px 232px 0.5px 0.5px white, 1869px 365px 0.5px 0.5px white, 184px 57px 0.5px 0.5px white, 1040px 1560px 0.5px 0.5px white, 965px 306px 0.5px 0.5px white, 573px 172px 0.5px 0.5px white, 1701px 1655px 0.5px 0.5px white, 1323px 24px 0.5px 0.5px white, 1979px 90px 0.5px 0.5px white, 135px 675px 0.5px 0.5px white, 1876px 1687px 0.5px 0.5px white, 980px 173px 0.5px 0.5px white, 1581px 1434px 0.5px 0.5px white, 850px 618px 0.5px 0.5px white, 1444px 979px 0.5px 0.5px white, 202px 404px 0.5px 0.5px white, 1566px 1654px 0.5px 0.5px white, 2038px 1760px 0.5px 0.5px white, 1375px 355px 0.5px 0.5px white, 1073px 1922px 0.5px 0.5px white, 438px 1119px 0.5px 0.5px white, 1428px 335px 0.5px 0.5px white, 1385px 1297px 0.5px 0.5px white, 1960px 1588px 0.5px 0.5px white, 123px 154px 0.5px 0.5px white, 1074px 699px 0.5px 0.5px white, 484px 1601px 0.5px 0.5px white, 1347px 1135px 0.5px 0.5px white, 739px 981px 0.5px 0.5px white, 779px 1082px 0.5px 0.5px white, 1202px 282px 0.5px 0.5px white, 1833px 137px 0.5px 0.5px white, 1060px 123px 0.5px 0.5px white, 1093px 885px 0.5px 0.5px white, 173px 884px 0.5px 0.5px white, 722px 197px 0.5px 0.5px white, 1373px 2px 0.5px 0.5px white, 1749px 1298px 0.5px 0.5px white, 914px 1815px 0.5px 0.5px white, 450px 714px 0.5px 0.5px white, 494px 115px 0.5px 0.5px white, 228px 772px 0.5px 0.5px white, 540px 1995px 0.5px 0.5px white, 1253px 1815px 0.5px 0.5px white, 508px 495px 0.5px 0.5px white, 926px 752px 0.5px 0.5px white;
  animation: shine 3.4s 0.2s ease-in-out infinite alternate;
}

.star-cluster-red {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  box-shadow: 1487px 1702px 0.5px 0.5px red, 1775px 803px 0.5px 0.5px red, 1157px 1327px 0.5px 0.5px red, 71px 1927px 0.5px 0.5px red, 1317px 1314px 0.5px 0.5px red, 1740px 1169px 0.5px 0.5px red, 275px 224px 0.5px 0.5px red, 1682px 515px 0.5px 0.5px red, 1587px 951px 0.5px 0.5px red, 206px 1982px 0.5px 0.5px red, 823px 1051px 0.5px 0.5px red, 1090px 1896px 0.5px 0.5px red, 1660px 949px 0.5px 0.5px red, 1893px 1393px 0.5px 0.5px red, 395px 1428px 0.5px 0.5px red, 581px 989px 0.5px 0.5px red, 378px 1111px 0.5px 0.5px red, 355px 1150px 0.5px 0.5px red, 851px 458px 0.5px 0.5px red, 342px 1599px 0.5px 0.5px red, 1609px 1317px 0.5px 0.5px red, 1365px 1436px 0.5px 0.5px red, 97px 727px 0.5px 0.5px red, 1850px 868px 0.5px 0.5px red, 24px 1383px 0.5px 0.5px red, 1120px 1726px 0.5px 0.5px red, 1493px 634px 0.5px 0.5px red, 106px 1729px 0.5px 0.5px red, 84px 374px 0.5px 0.5px red, 955px 992px 0.5px 0.5px red, 817px 1983px 0.5px 0.5px red, 1140px 1340px 0.5px 0.5px red, 865px 1010px 0.5px 0.5px red, 1209px 1689px 0.5px 0.5px red, 1673px 252px 0.5px 0.5px red, 1614px 1242px 0.5px 0.5px red, 985px 1511px 0.5px 0.5px red, 1128px 244px 0.5px 0.5px red, 503px 1070px 0.5px 0.5px red, 1092px 2017px 0.5px 0.5px red, 381px 1888px 0.5px 0.5px red, 889px 2038px 0.5px 0.5px red, 176px 786px 0.5px 0.5px red, 1639px 1114px 0.5px 0.5px red, 645px 381px 0.5px 0.5px red, 114px 1841px 0.5px 0.5px red, 335px 1578px 0.5px 0.5px red, 1547px 133px 0.5px 0.5px red, 1662px 1423px 0.5px 0.5px red;
  animation: shine 4.2s 0.5s ease-in-out infinite alternate;
}

.star-cluster-purple {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  box-shadow: 870px 266px 0.5px 0.5px rgb(191, 0, 255), 1113px 1082px 0.5px 0.5px rgb(191, 0, 255), 1247px 1549px 0.5px 0.5px rgb(191, 0, 255), 1110px 1439px 0.5px 0.5px rgb(191, 0, 255), 30px 1047px 0.5px 0.5px rgb(191, 0, 255), 1404px 1711px 0.5px 0.5px rgb(191, 0, 255), 798px 1644px 0.5px 0.5px rgb(191, 0, 255), 361px 1692px 0.5px 0.5px rgb(191, 0, 255), 4px 59px 0.5px 0.5px rgb(191, 0, 255), 576px 1218px 0.5px 0.5px rgb(191, 0, 255), 595px 759px 0.5px 0.5px rgb(191, 0, 255), 268px 772px 0.5px 0.5px rgb(191, 0, 255), 1102px 627px 0.5px 0.5px rgb(191, 0, 255), 1430px 1911px 0.5px 0.5px rgb(191, 0, 255), 1501px 1815px 0.5px 0.5px rgb(191, 0, 255), 137px 422px 0.5px 0.5px rgb(191, 0, 255), 824px 2041px 0.5px 0.5px rgb(191, 0, 255), 1077px 1119px 0.5px 0.5px rgb(191, 0, 255), 1077px 240px 0.5px 0.5px rgb(191, 0, 255), 86px 1578px 0.5px 0.5px rgb(191, 0, 255), 1195px 1542px 0.5px 0.5px rgb(191, 0, 255), 1378px 433px 0.5px 0.5px rgb(191, 0, 255), 785px 1125px 0.5px 0.5px rgb(191, 0, 255), 1527px 311px 0.5px 0.5px rgb(191, 0, 255), 856px 938px 0.5px 0.5px rgb(191, 0, 255), 1207px 688px 0.5px 0.5px rgb(191, 0, 255), 438px 1388px 0.5px 0.5px rgb(191, 0, 255), 2041px 1523px 0.5px 0.5px rgb(191, 0, 255), 148px 1583px 0.5px 0.5px rgb(191, 0, 255), 1831px 180px 0.5px 0.5px rgb(191, 0, 255), 1376px 762px 0.5px 0.5px rgb(191, 0, 255), 928px 929px 0.5px 0.5px rgb(191, 0, 255), 1360px 1597px 0.5px 0.5px rgb(191, 0, 255), 1495px 858px 0.5px 0.5px rgb(191, 0, 255), 579px 1205px 0.5px 0.5px rgb(191, 0, 255), 816px 642px 0.5px 0.5px rgb(191, 0, 255), 1739px 1086px 0.5px 0.5px rgb(191, 0, 255), 2043px 1992px 0.5px 0.5px rgb(191, 0, 255), 1317px 942px 0.5px 0.5px rgb(191, 0, 255), 923px 864px 0.5px 0.5px rgb(191, 0, 255), 996px 1923px 0.5px 0.5px rgb(191, 0, 255), 923px 176px 0.5px 0.5px rgb(191, 0, 255), 24px 690px 0.5px 0.5px rgb(191, 0, 255), 1313px 280px 0.5px 0.5px rgb(191, 0, 255), 815px 714px 0.5px 0.5px rgb(191, 0, 255), 1996px 1988px 0.5px 0.5px rgb(191, 0, 255), 1054px 1376px 0.5px 0.5px rgb(191, 0, 255), 1175px 1545px 0.5px 0.5px rgb(191, 0, 255), 1018px 988px 0.5px 0.5px rgb(191, 0, 255);
  animation: shine 3.2s 0.8s ease-in-out infinite alternate;
}

.star-cluster-blue {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  box-shadow: 557px 1829px 0.5px 0.5px rgb(4, 209, 158), 1716px 1665px 0.5px 0.5px rgb(4, 209, 158), 1052px 1px 0.5px 0.5px rgb(4, 209, 158), 1204px 1732px 0.5px 0.5px rgb(4, 209, 158), 1692px 1472px 0.5px 0.5px rgb(4, 209, 158), 1399px 508px 0.5px 0.5px rgb(4, 209, 158), 1157px 610px 0.5px 0.5px rgb(4, 209, 158), 998px 8px 0.5px 0.5px rgb(4, 209, 158), 55px 837px 0.5px 0.5px rgb(4, 209, 158), 233px 1756px 0.5px 0.5px rgb(4, 209, 158), 509px 908px 0.5px 0.5px rgb(4, 209, 158), 214px 1709px 0.5px 0.5px rgb(4, 209, 158), 1623px 1618px 0.5px 0.5px rgb(4, 209, 158), 870px 549px 0.5px 0.5px rgb(4, 209, 158), 1305px 894px 0.5px 0.5px rgb(4, 209, 158), 34px 2037px 0.5px 0.5px rgb(4, 209, 158), 132px 703px 0.5px 0.5px rgb(4, 209, 158), 762px 1493px 0.5px 0.5px rgb(4, 209, 158), 274px 319px 0.5px 0.5px rgb(4, 209, 158), 1681px 265px 0.5px 0.5px rgb(4, 209, 158), 1739px 1173px 0.5px 0.5px rgb(4, 209, 158), 1699px 1145px 0.5px 0.5px rgb(4, 209, 158), 1868px 1778px 0.5px 0.5px rgb(4, 209, 158), 573px 122px 0.5px 0.5px rgb(4, 209, 158), 1146px 486px 0.5px 0.5px rgb(4, 209, 158), 976px 168px 0.5px 0.5px rgb(4, 209, 158), 442px 1858px 0.5px 0.5px rgb(4, 209, 158), 1502px 1753px 0.5px 0.5px rgb(4, 209, 158), 565px 1133px 0.5px 0.5px rgb(4, 209, 158), 1903px 704px 0.5px 0.5px rgb(4, 209, 158), 1306px 1768px 0.5px 0.5px rgb(4, 209, 158), 177px 1954px 0.5px 0.5px rgb(4, 209, 158), 618px 347px 0.5px 0.5px rgb(4, 209, 158), 1418px 537px 0.5px 0.5px rgb(4, 209, 158), 1568px 1878px 0.5px 0.5px rgb(4, 209, 158), 508px 600px 0.5px 0.5px rgb(4, 209, 158), 511px 1771px 0.5px 0.5px rgb(4, 209, 158), 671px 1323px 0.5px 0.5px rgb(4, 209, 158), 300px 1649px 0.5px 0.5px rgb(4, 209, 158), 49px 821px 0.5px 0.5px rgb(4, 209, 158), 79px 388px 0.5px 0.5px rgb(4, 209, 158), 1654px 12px 0.5px 0.5px rgb(4, 209, 158), 1346px 896px 0.5px 0.5px rgb(4, 209, 158), 2040px 1586px 0.5px 0.5px rgb(4, 209, 158), 1249px 1217px 0.5px 0.5px rgb(4, 209, 158), 1158px 16px 0.5px 0.5px rgb(4, 209, 158), 27px 458px 0.5px 0.5px rgb(4, 209, 158), 1235px 398px 0.5px 0.5px rgb(4, 209, 158), 722px 652px 0.5px 0.5px rgb(4, 209, 158), 326px 1786px 0.5px 0.5px rgb(4, 209, 158), 1420px 664px 0.5px 0.5px rgb(4, 209, 158), 953px 1097px 0.5px 0.5px rgb(4, 209, 158), 911px 220px 0.5px 0.5px rgb(4, 209, 158), 353px 135px 0.5px 0.5px rgb(4, 209, 158), 32px 854px 0.5px 0.5px rgb(4, 209, 158), 271px 1559px 0.5px 0.5px rgb(4, 209, 158), 550px 1209px 0.5px 0.5px rgb(4, 209, 158), 864px 2043px 0.5px 0.5px rgb(4, 209, 158), 1618px 630px 0.5px 0.5px rgb(4, 209, 158), 493px 111px 0.5px 0.5px rgb(4, 209, 158), 934px 700px 0.5px 0.5px rgb(4, 209, 158), 31px 1036px 0.5px 0.5px rgb(4, 209, 158), 1788px 22px 0.5px 0.5px rgb(4, 209, 158), 292px 986px 0.5px 0.5px rgb(4, 209, 158), 1420px 283px 0.5px 0.5px rgb(4, 209, 158), 1022px 33px 0.5px 0.5px rgb(4, 209, 158), 649px 1149px 0.5px 0.5px rgb(4, 209, 158), 675px 437px 0.5px 0.5px rgb(4, 209, 158), 382px 740px 0.5px 0.5px rgb(4, 209, 158), 1408px 1102px 0.5px 0.5px rgb(4, 209, 158), 1824px 1095px 0.5px 0.5px rgb(4, 209, 158), 196px 1595px 0.5px 0.5px rgb(4, 209, 158), 642px 206px 0.5px 0.5px rgb(4, 209, 158), 1114px 1664px 0.5px 0.5px rgb(4, 209, 158), 1516px 123px 0.5px 0.5px rgb(4, 209, 158), 1393px 393px 0.5px 0.5px rgb(4, 209, 158), 844px 1927px 0.5px 0.5px rgb(4, 209, 158), 1356px 618px 0.5px 0.5px rgb(4, 209, 158), 92px 1199px 0.5px 0.5px rgb(4, 209, 158), 1011px 240px 0.5px 0.5px rgb(4, 209, 158), 1666px 926px 0.5px 0.5px rgb(4, 209, 158), 722px 1598px 0.5px 0.5px rgb(4, 209, 158), 1331px 285px 0.5px 0.5px rgb(4, 209, 158), 1904px 1603px 0.5px 0.5px rgb(4, 209, 158), 1730px 1850px 0.5px 0.5px rgb(4, 209, 158), 1512px 874px 0.5px 0.5px rgb(4, 209, 158), 1688px 1141px 0.5px 0.5px rgb(4, 209, 158), 248px 751px 0.5px 0.5px rgb(4, 209, 158), 1595px 705px 0.5px 0.5px rgb(4, 209, 158), 1347px 412px 0.5px 0.5px rgb(4, 209, 158), 249px 997px 0.5px 0.5px rgb(4, 209, 158), 488px 1715px 0.5px 0.5px rgb(4, 209, 158), 2048px 388px 0.5px 0.5px rgb(4, 209, 158), 44px 2031px 0.5px 0.5px rgb(4, 209, 158), 1063px 224px 0.5px 0.5px rgb(4, 209, 158), 257px 1968px 0.5px 0.5px rgb(4, 209, 158), 373px 1159px 0.5px 0.5px rgb(4, 209, 158), 1002px 1383px 0.5px 0.5px rgb(4, 209, 158), 1364px 1345px 0.5px 0.5px rgb(4, 209, 158);
  animation: shine 2.2s 0.5s ease-in-out infinite alternate;
}

@keyframes shine {
  0%, 28%, 45%, 76%, 95% {
    opacity: 1;
  }
  15%, 60%, 84%, 100% {
    opacity: 0.2;
  }
}
.shooting-star-white {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 3px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.82);
  border-radius: 50%;
  animation: shooting-star-path 15s 10s linear infinite forwards;
  animation-iteration-count: 1;
}
.shooting-star-white:after {
  content: "";
  display: block;
  width: 5px;
  height: 100px;
  background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.82));
  opacity: 0.5;
  transform: translate(-2px, -100px) rotate(-45deg);
  transform-origin: bottom;
}
@media screen and (max-width: 500px) {
  .shooting-star-white {
    animation: shooting-star-path-mobile 15s 10s linear infinite forwards;
  }
}

.shooting-star-purple {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 4px;
  height: 4px;
  background-color: rgb(251, 17, 173);
  border-radius: 50%;
  animation: shooting-star-path 15s 40s linear infinite forwards;
  animation-iteration-count: 1;
}
.shooting-star-purple:after {
  content: "";
  display: block;
  width: 5px;
  height: 100px;
  background: linear-gradient(to bottom, transparent, rgb(251, 17, 173));
  opacity: 0.5;
  transform: translate(-2px, -100px) rotate(-45deg);
  transform-origin: bottom;
}
@media screen and (max-width: 500px) {
  .shooting-star-purple {
    animation: shooting-star-path-mobile 15s 40s linear infinite forwards;
  }
}

.shooting-star-blue {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 3px;
  height: 3px;
  background-color: rgb(4, 209, 158);
  border-radius: 50%;
  animation: shooting-star-path 20s 80s linear infinite forwards;
  animation-iteration-count: 1;
}
.shooting-star-blue:after {
  content: "";
  display: block;
  width: 5px;
  height: 100px;
  background: linear-gradient(to bottom, transparent, rgb(4, 209, 158));
  opacity: 0.5;
  transform: translate(-2px, -100px) rotate(-45deg);
  transform-origin: bottom;
}
@media screen and (max-width: 500px) {
  .shooting-star-blue {
    animation: shooting-star-path-mobile 20s 80s linear infinite forwards;
  }
}

.shooting-star-test {
  width: 50px;
  height: 50px;
  background-color: white;
  animation: shooting-star-path 10s 1s linear infinite;
}

@keyframes shooting-star-path {
  0% {
    transform: translate(-20px, -20px);
  }
  100% {
    transform: translate(70vw, 110vh);
  }
}
@keyframes shooting-star-path-mobile {
  0% {
    transform: translate(-20px, 20px);
  }
  100% {
    transform: translate(120vw, 60vh);
  }
}
.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

svg text {
  font-size: 55px;
  fill: transparent;
  animation: stroke-animation 3s forwards;
}

@keyframes stroke-animation {
  0% {
    stroke: white;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 1;
  }
  50% {
    fill: transparent;
  }
  70% {
    stroke: white;
  }
  80% {
    stroke: white;
    stroke-width: 1;
  }
  100% {
    fill: white;
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}
.svg-smiley {
  stroke: white;
  animation: fade-in 2s ease-in;
}

.bio {
  margin: 30px 0;
  color: rgb(190, 190, 190);
  animation: fade-in 2s ease-in;
}

.bio {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bio .divider {
  position: relative;
  display: block;
  width: 3px;
  height: 40px;
  background-color: white;
  transform: rotate(-90deg) scaleY(0);
  animation: divider-spin 1s 2s ease-in-out forwards;
}
.bio .divider:nth-of-type(1) .divider--top {
  position: absolute;
  top: 0;
}
.bio .divider:nth-of-type(1) .divider--top::before {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: right;
  animation: divider-scale 1s 3s ease-in forwards;
}
.bio .divider:nth-of-type(1) .divider--top::after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 50px;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  animation: divider-scale 1s 3s ease-in forwards;
}
.bio .divider:nth-of-type(1) .divider--bottom {
  position: absolute;
  bottom: 0;
}
.bio .divider:nth-of-type(1) .divider--bottom::before {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 80px;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: right;
  animation: divider-scale 1s 3s ease-in forwards;
}
.bio .divider:nth-of-type(1) .divider--bottom::after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 120px;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  animation: divider-scale 1s 3s ease-in forwards;
}
.bio .divider:nth-of-type(2) .divider--top {
  position: absolute;
  top: 0;
}
.bio .divider:nth-of-type(2) .divider--top::before {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 80px;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: right;
  animation: divider-scale 1s 3s ease-in forwards;
}
.bio .divider:nth-of-type(2) .divider--top::after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 80px;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  animation: divider-scale 1s 3s ease-in forwards;
}
.bio .divider:nth-of-type(2) .divider--bottom {
  position: absolute;
  bottom: 0;
}
.bio .divider:nth-of-type(2) .divider--bottom::before {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 20px;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: right;
  animation: divider-scale 1s 3s ease-in forwards;
}
.bio .divider:nth-of-type(2) .divider--bottom::after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 40px;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  animation: divider-scale 1s 3s ease-in forwards;
}
.bio .bio-item {
  color: rgb(244, 244, 244);
  overflow: hidden;
}
.bio .bio-item .role {
  padding: 20px;
}
.bio .bio-item:nth-of-type(1) .role {
  transform: translateX(100%);
  animation: role-slide-left 0.5s 3s ease-in forwards;
}
.bio .bio-item:nth-of-type(2) .role {
  opacity: 0;
  animation: fade-in 0.5s 3s ease-in forwards;
}
.bio .bio-item:nth-of-type(3) .role {
  transform: translateX(-100%);
  animation: role-slide-right 0.5s 3s ease-in forwards;
}

@keyframes divider-spin {
  0% {
    transform: rotate(-90deg) scaleY(0);
  }
  50% {
    transform: rotate(-90deg) scaleY(1);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes divider-scale {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes role-slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes role-slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navigation-links a {
  text-decoration: none;
  padding: 15px;
  border-radius: 50%;
  border: 1px solid rgb(204, 204, 204);
  color: white;
  font-size: 26px;
  margin: 20px;
  opacity: 0;
  animation: slide-in 1s ease-in forwards;
}
.navigation-links a:hover {
  color: rgb(128, 199, 253);
}

.navigation-links a:nth-child(1) {
  animation-delay: 4s;
}

.navigation-links a:nth-child(2) {
  animation-delay: 4.3s;
}

.navigation-links a:nth-child(3) {
  animation-delay: 4.6s;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(300%);
  }
  60% {
    opacity: 1;
    transform: scaleY(1) translateY(-100%);
  }
  61% {
    transform: scaleY(0.8) translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: scaleY(1) translateY(0%);
  }
}
@media screen and (max-width: 500px) {
  section.landing {
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 70%;
  }
  .svg-text {
    padding: 0 20px;
  }
  .svg-text text {
    font-size: 40px;
  }
}

/*# sourceMappingURL=landing.css.map */
