* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.animated-role {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.cursor {
    width: 2px;
    height: 20px;
    background-color: grey;
}

.blink {
    animation: 750ms linear 0s infinite alternate blink;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#Head {
    transform-origin: bottom;
    animation: 1s linear 0s infinite alternate animateHead;
}

@keyframes animateHead {
    0% {
        transform: translateY(6px) rotate(0deg);
    }
    100% {
        transform: translateY(7px) rotate(1deg);
    }
}