section.landing {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, black, rgb(2, 150, 169));
}

.star-cluster-white-small {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  box-shadow: 498px 309px 0.5px 0.5px white, 286px 1513px 0.5px 0.5px white, 476px 1107px 0.5px 0.5px white, 1371px 1456px 0.5px 0.5px white, 1306px 554px 0.5px 0.5px white, 827px 1084px 0.5px 0.5px white, 786px 503px 0.5px 0.5px white, 579px 323px 0.5px 0.5px white, 1814px 1647px 0.5px 0.5px white, 826px 855px 0.5px 0.5px white, 1938px 1223px 0.5px 0.5px white, 244px 1782px 0.5px 0.5px white, 1538px 1289px 0.5px 0.5px white, 1830px 743px 0.5px 0.5px white, 405px 1042px 0.5px 0.5px white, 1809px 1233px 0.5px 0.5px white, 1671px 13px 0.5px 0.5px white, 1517px 1326px 0.5px 0.5px white, 1601px 474px 0.5px 0.5px white, 1944px 1546px 0.5px 0.5px white, 489px 1007px 0.5px 0.5px white, 624px 720px 0.5px 0.5px white, 194px 1909px 0.5px 0.5px white, 275px 1365px 0.5px 0.5px white, 1831px 733px 0.5px 0.5px white, 1269px 1336px 0.5px 0.5px white, 319px 2030px 0.5px 0.5px white, 831px 2033px 0.5px 0.5px white, 1247px 1188px 0.5px 0.5px white, 1901px 330px 0.5px 0.5px white, 1159px 929px 0.5px 0.5px white, 958px 610px 0.5px 0.5px white, 81px 1282px 0.5px 0.5px white, 878px 212px 0.5px 0.5px white, 1241px 20px 0.5px 0.5px white, 114px 957px 0.5px 0.5px white, 1293px 1763px 0.5px 0.5px white, 1188px 751px 0.5px 0.5px white, 1188px 1711px 0.5px 0.5px white, 150px 1086px 0.5px 0.5px white, 317px 843px 0.5px 0.5px white, 630px 673px 0.5px 0.5px white, 89px 1693px 0.5px 0.5px white, 768px 359px 0.5px 0.5px white, 945px 904px 0.5px 0.5px white, 1572px 1572px 0.5px 0.5px white, 756px 426px 0.5px 0.5px white, 1762px 135px 0.5px 0.5px white, 1271px 1639px 0.5px 0.5px white, 353px 651px 0.5px 0.5px white, 1985px 802px 0.5px 0.5px white, 1765px 627px 0.5px 0.5px white, 1444px 1538px 0.5px 0.5px white, 728px 937px 0.5px 0.5px white, 1432px 1454px 0.5px 0.5px white, 975px 1975px 0.5px 0.5px white, 812px 1729px 0.5px 0.5px white, 1856px 925px 0.5px 0.5px white, 1323px 1553px 0.5px 0.5px white, 700px 1633px 0.5px 0.5px white, 1921px 1669px 0.5px 0.5px white, 85px 69px 0.5px 0.5px white, 631px 776px 0.5px 0.5px white, 1846px 1018px 0.5px 0.5px white, 1720px 233px 0.5px 0.5px white, 316px 870px 0.5px 0.5px white, 1408px 413px 0.5px 0.5px white, 78px 1125px 0.5px 0.5px white, 1555px 63px 0.5px 0.5px white, 1089px 1839px 0.5px 0.5px white, 490px 293px 0.5px 0.5px white, 232px 1506px 0.5px 0.5px white, 640px 494px 0.5px 0.5px white, 1786px 1363px 0.5px 0.5px white, 319px 424px 0.5px 0.5px white, 692px 1698px 0.5px 0.5px white, 555px 1226px 0.5px 0.5px white, 1170px 1347px 0.5px 0.5px white, 969px 2008px 0.5px 0.5px white, 1191px 1295px 0.5px 0.5px white, 1932px 1508px 0.5px 0.5px white, 1233px 677px 0.5px 0.5px white, 1178px 1726px 0.5px 0.5px white, 1671px 494px 0.5px 0.5px white, 621px 1297px 0.5px 0.5px white, 1218px 1547px 0.5px 0.5px white, 1865px 772px 0.5px 0.5px white, 299px 433px 0.5px 0.5px white, 1742px 177px 0.5px 0.5px white, 303px 170px 0.5px 0.5px white, 263px 892px 0.5px 0.5px white, 4px 1113px 0.5px 0.5px white, 2001px 802px 0.5px 0.5px white, 934px 1060px 0.5px 0.5px white, 1770px 972px 0.5px 0.5px white, 1447px 887px 0.5px 0.5px white, 1390px 1874px 0.5px 0.5px white, 340px 1024px 0.5px 0.5px white, 721px 1866px 0.5px 0.5px white, 1901px 953px 0.5px 0.5px white, 1129px 1907px 0.5px 0.5px white, 1479px 318px 0.5px 0.5px white, 2002px 1861px 0.5px 0.5px white, 565px 941px 0.5px 0.5px white, 1292px 1132px 0.5px 0.5px white, 454px 1290px 0.5px 0.5px white, 747px 1450px 0.5px 0.5px white, 765px 312px 0.5px 0.5px white, 902px 875px 0.5px 0.5px white, 665px 1756px 0.5px 0.5px white, 568px 1890px 0.5px 0.5px white, 1976px 958px 0.5px 0.5px white, 713px 485px 0.5px 0.5px white, 2001px 26px 0.5px 0.5px white, 808px 1806px 0.5px 0.5px white, 461px 1788px 0.5px 0.5px white, 262px 1754px 0.5px 0.5px white, 637px 1399px 0.5px 0.5px white, 1640px 1029px 0.5px 0.5px white, 1910px 372px 0.5px 0.5px white, 66px 362px 0.5px 0.5px white, 1288px 1667px 0.5px 0.5px white, 947px 1156px 0.5px 0.5px white, 192px 1917px 0.5px 0.5px white, 484px 1583px 0.5px 0.5px white, 1580px 354px 0.5px 0.5px white, 276px 277px 0.5px 0.5px white, 1224px 278px 0.5px 0.5px white, 1520px 282px 0.5px 0.5px white, 1995px 259px 0.5px 0.5px white, 1248px 1314px 0.5px 0.5px white, 264px 679px 0.5px 0.5px white, 1000px 795px 0.5px 0.5px white, 1636px 117px 0.5px 0.5px white, 282px 1277px 0.5px 0.5px white, 1305px 1463px 0.5px 0.5px white, 1484px 725px 0.5px 0.5px white, 1536px 1465px 0.5px 0.5px white, 2042px 2009px 0.5px 0.5px white, 164px 1830px 0.5px 0.5px white, 87px 1908px 0.5px 0.5px white, 1137px 804px 0.5px 0.5px white, 475px 1558px 0.5px 0.5px white, 991px 408px 0.5px 0.5px white, 266px 206px 0.5px 0.5px white, 1410px 1120px 0.5px 0.5px white, 1402px 1556px 0.5px 0.5px white, 406px 1236px 0.5px 0.5px white, 518px 695px 0.5px 0.5px white, 689px 364px 0.5px 0.5px white, 7px 1519px 0.5px 0.5px white, 1557px 34px 0.5px 0.5px white, 2010px 1613px 0.5px 0.5px white, 638px 364px 0.5px 0.5px white, 936px 31px 0.5px 0.5px white, 1817px 1844px 0.5px 0.5px white, 151px 1895px 0.5px 0.5px white, 363px 845px 0.5px 0.5px white, 1934px 317px 0.5px 0.5px white, 975px 1024px 0.5px 0.5px white, 1058px 1983px 0.5px 0.5px white, 1746px 1771px 0.5px 0.5px white, 751px 1709px 0.5px 0.5px white, 1619px 1671px 0.5px 0.5px white, 212px 670px 0.5px 0.5px white, 1231px 748px 0.5px 0.5px white, 805px 1211px 0.5px 0.5px white, 70px 73px 0.5px 0.5px white, 1928px 1012px 0.5px 0.5px white, 2020px 24px 0.5px 0.5px white, 1756px 364px 0.5px 0.5px white, 314px 681px 0.5px 0.5px white, 1561px 1480px 0.5px 0.5px white, 1669px 187px 0.5px 0.5px white, 1841px 612px 0.5px 0.5px white, 1221px 1312px 0.5px 0.5px white, 806px 1435px 0.5px 0.5px white, 206px 1993px 0.5px 0.5px white, 274px 635px 0.5px 0.5px white, 469px 1908px 0.5px 0.5px white, 187px 218px 0.5px 0.5px white, 1863px 1624px 0.5px 0.5px white, 1870px 195px 0.5px 0.5px white, 496px 1609px 0.5px 0.5px white, 323px 1054px 0.5px 0.5px white, 71px 1183px 0.5px 0.5px white, 1846px 1428px 0.5px 0.5px white, 1419px 254px 0.5px 0.5px white, 696px 428px 0.5px 0.5px white, 240px 1354px 0.5px 0.5px white, 88px 61px 0.5px 0.5px white, 1130px 1445px 0.5px 0.5px white, 1725px 126px 0.5px 0.5px white, 1606px 282px 0.5px 0.5px white, 2041px 331px 0.5px 0.5px white, 36px 992px 0.5px 0.5px white, 1998px 614px 0.5px 0.5px white, 101px 358px 0.5px 0.5px white, 920px 1013px 0.5px 0.5px white, 1165px 654px 0.5px 0.5px white, 594px 1001px 0.5px 0.5px white, 1561px 25px 0.5px 0.5px white, 944px 692px 0.5px 0.5px white, 1352px 47px 0.5px 0.5px white, 1533px 148px 0.5px 0.5px white, 1747px 1625px 0.5px 0.5px white, 1573px 1136px 0.5px 0.5px white, 759px 1326px 0.5px 0.5px white, 1242px 585px 0.5px 0.5px white, 2047px 506px 0.5px 0.5px white, 1488px 88px 0.5px 0.5px white, 1519px 1652px 0.5px 0.5px white, 1572px 374px 0.5px 0.5px white, 1141px 1837px 0.5px 0.5px white, 105px 676px 0.5px 0.5px white, 539px 1978px 0.5px 0.5px white, 473px 1895px 0.5px 0.5px white, 1669px 42px 0.5px 0.5px white, 256px 1607px 0.5px 0.5px white, 366px 2027px 0.5px 0.5px white, 2030px 927px 0.5px 0.5px white, 1277px 1755px 0.5px 0.5px white, 1996px 624px 0.5px 0.5px white, 690px 1067px 0.5px 0.5px white, 427px 189px 0.5px 0.5px white, 159px 1545px 0.5px 0.5px white, 156px 1894px 0.5px 0.5px white, 580px 203px 0.5px 0.5px white, 488px 453px 0.5px 0.5px white, 593px 1608px 0.5px 0.5px white, 460px 1607px 0.5px 0.5px white, 790px 916px 0.5px 0.5px white, 240px 676px 0.5px 0.5px white, 1662px 537px 0.5px 0.5px white, 1638px 1197px 0.5px 0.5px white, 309px 1804px 0.5px 0.5px white, 621px 1553px 0.5px 0.5px white, 337px 1694px 0.5px 0.5px white, 1611px 685px 0.5px 0.5px white, 162px 1191px 0.5px 0.5px white, 1603px 1222px 0.5px 0.5px white, 250px 20px 0.5px 0.5px white, 2024px 204px 0.5px 0.5px white, 189px 390px 0.5px 0.5px white, 1824px 1894px 0.5px 0.5px white, 1464px 156px 0.5px 0.5px white, 1918px 1963px 0.5px 0.5px white, 1964px 1197px 0.5px 0.5px white, 794px 1019px 0.5px 0.5px white, 1571px 76px 0.5px 0.5px white, 510px 1469px 0.5px 0.5px white, 1785px 338px 0.5px 0.5px white, 218px 20px 0.5px 0.5px white, 407px 195px 0.5px 0.5px white, 657px 1558px 0.5px 0.5px white, 1986px 1934px 0.5px 0.5px white, 77px 1183px 0.5px 0.5px white, 1442px 487px 0.5px 0.5px white, 1162px 394px 0.5px 0.5px white, 929px 1513px 0.5px 0.5px white, 878px 1169px 0.5px 0.5px white, 82px 634px 0.5px 0.5px white, 824px 451px 0.5px 0.5px white, 839px 1555px 0.5px 0.5px white, 928px 1581px 0.5px 0.5px white, 1382px 1476px 0.5px 0.5px white, 220px 1490px 0.5px 0.5px white, 1414px 1426px 0.5px 0.5px white, 922px 60px 0.5px 0.5px white, 242px 1946px 0.5px 0.5px white, 1937px 94px 0.5px 0.5px white, 1992px 706px 0.5px 0.5px white, 113px 1803px 0.5px 0.5px white, 916px 151px 0.5px 0.5px white, 1992px 887px 0.5px 0.5px white, 1847px 1924px 0.5px 0.5px white, 2044px 1867px 0.5px 0.5px white, 1682px 929px 0.5px 0.5px white, 1461px 1547px 0.5px 0.5px white, 1758px 434px 0.5px 0.5px white, 1119px 1789px 0.5px 0.5px white, 1182px 666px 0.5px 0.5px white, 769px 873px 0.5px 0.5px white, 1221px 359px 0.5px 0.5px white, 1250px 1239px 0.5px 0.5px white, 559px 1849px 0.5px 0.5px white, 842px 474px 0.5px 0.5px white, 193px 329px 0.5px 0.5px white, 1181px 521px 0.5px 0.5px white, 734px 1697px 0.5px 0.5px white, 1899px 379px 0.5px 0.5px white, 892px 1875px 0.5px 0.5px white, 1715px 1146px 0.5px 0.5px white, 138px 788px 0.5px 0.5px white, 641px 795px 0.5px 0.5px white, 1725px 1081px 0.5px 0.5px white, 593px 1903px 0.5px 0.5px white, 357px 1386px 0.5px 0.5px white, 1938px 1039px 0.5px 0.5px white, 1909px 1780px 0.5px 0.5px white, 1992px 2010px 0.5px 0.5px white, 942px 1875px 0.5px 0.5px white, 1785px 31px 0.5px 0.5px white, 1468px 1953px 0.5px 0.5px white, 1780px 272px 0.5px 0.5px white, 1946px 1509px 0.5px 0.5px white, 736px 525px 0.5px 0.5px white, 957px 1159px 0.5px 0.5px white, 324px 1671px 0.5px 0.5px white, 733px 1519px 0.5px 0.5px white, 175px 630px 0.5px 0.5px white, 1456px 1372px 0.5px 0.5px white, 1304px 1437px 0.5px 0.5px white, 1483px 1378px 0.5px 0.5px white, 608px 1511px 0.5px 0.5px white, 1658px 331px 0.5px 0.5px white, 156px 1945px 0.5px 0.5px white, 429px 1795px 0.5px 0.5px white, 1201px 237px 0.5px 0.5px white, 163px 973px 0.5px 0.5px white, 1056px 1201px 0.5px 0.5px white, 1591px 1743px 0.5px 0.5px white, 105px 1490px 0.5px 0.5px white, 184px 1352px 0.5px 0.5px white, 283px 1947px 0.5px 0.5px white, 820px 1331px 0.5px 0.5px white, 615px 1858px 0.5px 0.5px white, 1084px 431px 0.5px 0.5px white, 1194px 323px 0.5px 0.5px white, 797px 1509px 0.5px 0.5px white, 1377px 1541px 0.5px 0.5px white, 719px 670px 0.5px 0.5px white, 1897px 136px 0.5px 0.5px white, 1781px 1781px 0.5px 0.5px white, 1016px 1075px 0.5px 0.5px white, 1810px 30px 0.5px 0.5px white, 1236px 1228px 0.5px 0.5px white, 961px 1978px 0.5px 0.5px white, 1250px 178px 0.5px 0.5px white, 1677px 128px 0.5px 0.5px white, 86px 994px 0.5px 0.5px white, 1500px 736px 0.5px 0.5px white, 994px 220px 0.5px 0.5px white, 1573px 1990px 0.5px 0.5px white, 1097px 828px 0.5px 0.5px white, 414px 323px 0.5px 0.5px white, 927px 2010px 0.5px 0.5px white, 1979px 1174px 0.5px 0.5px white, 382px 2042px 0.5px 0.5px white, 2009px 766px 0.5px 0.5px white, 589px 220px 0.5px 0.5px white, 51px 1911px 0.5px 0.5px white, 562px 1078px 0.5px 0.5px white, 1672px 630px 0.5px 0.5px white, 639px 1201px 0.5px 0.5px white, 1347px 835px 0.5px 0.5px white, 1092px 1420px 0.5px 0.5px white, 178px 1248px 0.5px 0.5px white, 1763px 1098px 0.5px 0.5px white, 75px 1096px 0.5px 0.5px white, 475px 643px 0.5px 0.5px white, 216px 73px 0.5px 0.5px white, 1489px 1489px 0.5px 0.5px white, 1592px 616px 0.5px 0.5px white, 1591px 692px 0.5px 0.5px white, 172px 299px 0.5px 0.5px white, 1294px 858px 0.5px 0.5px white, 835px 1268px 0.5px 0.5px white, 1717px 196px 0.5px 0.5px white, 517px 802px 0.5px 0.5px white, 308px 1307px 0.5px 0.5px white, 1368px 776px 0.5px 0.5px white, 1562px 733px 0.5px 0.5px white, 1067px 46px 0.5px 0.5px white, 232px 447px 0.5px 0.5px white, 1271px 1589px 0.5px 0.5px white, 1800px 551px 0.5px 0.5px white, 948px 54px 0.5px 0.5px white, 1852px 610px 0.5px 0.5px white, 1406px 1999px 0.5px 0.5px white, 268px 375px 0.5px 0.5px white, 1791px 1802px 0.5px 0.5px white, 2031px 703px 0.5px 0.5px white, 1277px 844px 0.5px 0.5px white, 48px 651px 0.5px 0.5px white, 815px 1184px 0.5px 0.5px white, 1352px 1321px 0.5px 0.5px white, 61px 611px 0.5px 0.5px white, 592px 632px 0.5px 0.5px white, 975px 1266px 0.5px 0.5px white, 372px 182px 0.5px 0.5px white, 34px 1920px 0.5px 0.5px white, 1089px 1641px 0.5px 0.5px white, 153px 797px 0.5px 0.5px white, 1177px 1912px 0.5px 0.5px white, 1027px 1790px 0.5px 0.5px white, 1467px 2019px 0.5px 0.5px white, 431px 1018px 0.5px 0.5px white, 1689px 1201px 0.5px 0.5px white;
  animation: shine 5.2s 0.5s ease-in-out infinite alternate;
}

.star-cluster-white-medium {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  box-shadow: 1257px 777px 0.5px 0.5px white, 1068px 1966px 0.5px 0.5px white, 1778px 1108px 0.5px 0.5px white, 1923px 1411px 0.5px 0.5px white, 259px 106px 0.5px 0.5px white, 31px 856px 0.5px 0.5px white, 763px 1611px 0.5px 0.5px white, 219px 1100px 0.5px 0.5px white, 1907px 142px 0.5px 0.5px white, 1197px 44px 0.5px 0.5px white, 954px 1195px 0.5px 0.5px white, 299px 1854px 0.5px 0.5px white, 1248px 2029px 0.5px 0.5px white, 1751px 710px 0.5px 0.5px white, 359px 1886px 0.5px 0.5px white, 269px 1324px 0.5px 0.5px white, 103px 287px 0.5px 0.5px white, 542px 1007px 0.5px 0.5px white, 784px 1742px 0.5px 0.5px white, 587px 1604px 0.5px 0.5px white, 117px 2028px 0.5px 0.5px white, 1188px 711px 0.5px 0.5px white, 1959px 1462px 0.5px 0.5px white, 1893px 1207px 0.5px 0.5px white, 124px 165px 0.5px 0.5px white, 349px 251px 0.5px 0.5px white, 1648px 1775px 0.5px 0.5px white, 692px 303px 0.5px 0.5px white, 1267px 1786px 0.5px 0.5px white, 1450px 479px 0.5px 0.5px white, 406px 673px 0.5px 0.5px white, 1014px 383px 0.5px 0.5px white, 1619px 2048px 0.5px 0.5px white, 252px 634px 0.5px 0.5px white, 1578px 28px 0.5px 0.5px white, 1635px 567px 0.5px 0.5px white, 1618px 1047px 0.5px 0.5px white, 769px 1596px 0.5px 0.5px white, 1801px 1447px 0.5px 0.5px white, 1526px 977px 0.5px 0.5px white, 1789px 879px 0.5px 0.5px white, 1026px 1953px 0.5px 0.5px white, 807px 1275px 0.5px 0.5px white, 1742px 1036px 0.5px 0.5px white, 368px 1710px 0.5px 0.5px white, 715px 1376px 0.5px 0.5px white, 475px 1377px 0.5px 0.5px white, 684px 1726px 0.5px 0.5px white, 455px 635px 0.5px 0.5px white, 745px 1429px 0.5px 0.5px white, 1702px 1386px 0.5px 0.5px white, 1917px 660px 0.5px 0.5px white, 1584px 1609px 0.5px 0.5px white, 1998px 1389px 0.5px 0.5px white, 388px 814px 0.5px 0.5px white, 1017px 950px 0.5px 0.5px white, 1867px 107px 0.5px 0.5px white, 1451px 938px 0.5px 0.5px white, 1252px 498px 0.5px 0.5px white, 998px 1002px 0.5px 0.5px white, 1553px 1403px 0.5px 0.5px white, 1174px 1239px 0.5px 0.5px white, 1214px 796px 0.5px 0.5px white, 1478px 33px 0.5px 0.5px white, 253px 796px 0.5px 0.5px white, 215px 1023px 0.5px 0.5px white, 43px 325px 0.5px 0.5px white, 1487px 10px 0.5px 0.5px white, 1689px 94px 0.5px 0.5px white, 539px 1457px 0.5px 0.5px white, 999px 961px 0.5px 0.5px white, 169px 294px 0.5px 0.5px white, 1144px 1835px 0.5px 0.5px white, 958px 238px 0.5px 0.5px white, 1881px 1600px 0.5px 0.5px white, 1123px 444px 0.5px 0.5px white, 844px 437px 0.5px 0.5px white, 759px 806px 0.5px 0.5px white, 1310px 2022px 0.5px 0.5px white, 587px 1390px 0.5px 0.5px white, 1753px 1952px 0.5px 0.5px white, 799px 1677px 0.5px 0.5px white, 484px 996px 0.5px 0.5px white, 625px 1622px 0.5px 0.5px white, 2014px 1445px 0.5px 0.5px white, 48px 803px 0.5px 0.5px white, 754px 1959px 0.5px 0.5px white, 551px 792px 0.5px 0.5px white, 1816px 1051px 0.5px 0.5px white, 674px 354px 0.5px 0.5px white, 50px 1060px 0.5px 0.5px white, 41px 1975px 0.5px 0.5px white, 626px 1527px 0.5px 0.5px white, 1686px 1242px 0.5px 0.5px white, 369px 1422px 0.5px 0.5px white, 481px 1778px 0.5px 0.5px white, 5px 1621px 0.5px 0.5px white, 475px 636px 0.5px 0.5px white, 146px 1760px 0.5px 0.5px white, 726px 1569px 0.5px 0.5px white, 1509px 700px 0.5px 0.5px white, 1218px 292px 0.5px 0.5px white, 103px 1603px 0.5px 0.5px white, 1740px 896px 0.5px 0.5px white, 296px 886px 0.5px 0.5px white, 1934px 1631px 0.5px 0.5px white, 1445px 231px 0.5px 0.5px white, 1931px 571px 0.5px 0.5px white, 773px 947px 0.5px 0.5px white, 1521px 580px 0.5px 0.5px white, 734px 1162px 0.5px 0.5px white, 1794px 1381px 0.5px 0.5px white, 888px 1383px 0.5px 0.5px white, 1223px 1469px 0.5px 0.5px white, 1230px 1544px 0.5px 0.5px white, 433px 1108px 0.5px 0.5px white, 111px 1096px 0.5px 0.5px white, 557px 733px 0.5px 0.5px white, 719px 1907px 0.5px 0.5px white, 250px 1486px 0.5px 0.5px white, 251px 1749px 0.5px 0.5px white, 386px 601px 0.5px 0.5px white, 900px 423px 0.5px 0.5px white, 1272px 81px 0.5px 0.5px white, 32px 405px 0.5px 0.5px white, 867px 1312px 0.5px 0.5px white, 161px 1971px 0.5px 0.5px white, 6px 813px 0.5px 0.5px white, 373px 1510px 0.5px 0.5px white, 711px 688px 0.5px 0.5px white, 339px 904px 0.5px 0.5px white, 125px 1828px 0.5px 0.5px white, 682px 367px 0.5px 0.5px white, 1674px 556px 0.5px 0.5px white, 2018px 1030px 0.5px 0.5px white, 1007px 224px 0.5px 0.5px white, 1310px 936px 0.5px 0.5px white, 1328px 1332px 0.5px 0.5px white, 117px 682px 0.5px 0.5px white, 1742px 1413px 0.5px 0.5px white, 924px 1171px 0.5px 0.5px white, 645px 1104px 0.5px 0.5px white, 1300px 596px 0.5px 0.5px white, 345px 844px 0.5px 0.5px white, 980px 310px 0.5px 0.5px white, 1337px 93px 0.5px 0.5px white, 314px 314px 0.5px 0.5px white, 1267px 1370px 0.5px 0.5px white, 1603px 267px 0.5px 0.5px white, 799px 1411px 0.5px 0.5px white, 1382px 1334px 0.5px 0.5px white, 1070px 375px 0.5px 0.5px white, 1569px 1871px 0.5px 0.5px white, 1125px 521px 0.5px 0.5px white, 1819px 579px 0.5px 0.5px white, 1176px 1553px 0.5px 0.5px white, 1705px 1444px 0.5px 0.5px white, 1251px 1142px 0.5px 0.5px white, 1276px 496px 0.5px 0.5px white, 108px 1313px 0.5px 0.5px white, 745px 1481px 0.5px 0.5px white, 327px 847px 0.5px 0.5px white, 36px 1998px 0.5px 0.5px white, 1603px 1452px 0.5px 0.5px white, 822px 1243px 0.5px 0.5px white, 1699px 222px 0.5px 0.5px white, 487px 91px 0.5px 0.5px white, 1396px 1399px 0.5px 0.5px white, 702px 772px 0.5px 0.5px white, 1056px 663px 0.5px 0.5px white, 599px 41px 0.5px 0.5px white, 487px 1376px 0.5px 0.5px white, 1296px 1998px 0.5px 0.5px white, 1837px 906px 0.5px 0.5px white, 583px 556px 0.5px 0.5px white, 1031px 1933px 0.5px 0.5px white, 247px 847px 0.5px 0.5px white, 1897px 1970px 0.5px 0.5px white, 1552px 1398px 0.5px 0.5px white, 349px 756px 0.5px 0.5px white, 1685px 1866px 0.5px 0.5px white, 190px 540px 0.5px 0.5px white, 1648px 401px 0.5px 0.5px white, 1958px 719px 0.5px 0.5px white, 1982px 770px 0.5px 0.5px white, 108px 54px 0.5px 0.5px white, 1222px 1217px 0.5px 0.5px white, 849px 1419px 0.5px 0.5px white, 1999px 1426px 0.5px 0.5px white, 1066px 1508px 0.5px 0.5px white, 1823px 1610px 0.5px 0.5px white, 1641px 1995px 0.5px 0.5px white, 460px 2007px 0.5px 0.5px white, 1748px 1361px 0.5px 0.5px white, 435px 68px 0.5px 0.5px white, 82px 751px 0.5px 0.5px white, 805px 1220px 0.5px 0.5px white, 1535px 482px 0.5px 0.5px white, 845px 71px 0.5px 0.5px white, 1224px 1744px 0.5px 0.5px white, 529px 508px 0.5px 0.5px white, 1173px 1261px 0.5px 0.5px white, 1151px 650px 0.5px 0.5px white, 261px 1239px 0.5px 0.5px white, 4px 1746px 0.5px 0.5px white, 933px 818px 0.5px 0.5px white, 130px 1774px 0.5px 0.5px white, 591px 398px 0.5px 0.5px white, 274px 2016px 0.5px 0.5px white, 20px 961px 0.5px 0.5px white, 1134px 229px 0.5px 0.5px white, 1079px 513px 0.5px 0.5px white, 1539px 1619px 0.5px 0.5px white, 1253px 717px 0.5px 0.5px white, 1350px 1418px 0.5px 0.5px white, 590px 1334px 0.5px 0.5px white, 1348px 1519px 0.5px 0.5px white, 454px 104px 0.5px 0.5px white, 1423px 40px 0.5px 0.5px white, 1033px 729px 0.5px 0.5px white, 768px 549px 0.5px 0.5px white, 1731px 697px 0.5px 0.5px white, 1542px 1342px 0.5px 0.5px white, 1863px 795px 0.5px 0.5px white, 1437px 2008px 0.5px 0.5px white, 512px 1924px 0.5px 0.5px white, 1945px 1369px 0.5px 0.5px white, 457px 1153px 0.5px 0.5px white, 1327px 1683px 0.5px 0.5px white, 52px 970px 0.5px 0.5px white, 1779px 770px 0.5px 0.5px white, 43px 1782px 0.5px 0.5px white, 81px 1012px 0.5px 0.5px white, 1884px 850px 0.5px 0.5px white, 1184px 1700px 0.5px 0.5px white, 946px 1171px 0.5px 0.5px white, 379px 693px 0.5px 0.5px white, 224px 135px 0.5px 0.5px white, 1667px 1873px 0.5px 0.5px white, 1551px 1723px 0.5px 0.5px white, 101px 46px 0.5px 0.5px white, 938px 1513px 0.5px 0.5px white, 347px 1606px 0.5px 0.5px white, 605px 27px 0.5px 0.5px white, 1167px 519px 0.5px 0.5px white, 2014px 1347px 0.5px 0.5px white, 52px 992px 0.5px 0.5px white, 641px 1294px 0.5px 0.5px white, 1143px 1902px 0.5px 0.5px white, 1224px 439px 0.5px 0.5px white, 1297px 1388px 0.5px 0.5px white, 1690px 244px 0.5px 0.5px white, 875px 655px 0.5px 0.5px white, 385px 1589px 0.5px 0.5px white, 490px 1638px 0.5px 0.5px white, 308px 86px 0.5px 0.5px white, 903px 948px 0.5px 0.5px white, 81px 788px 0.5px 0.5px white, 1065px 805px 0.5px 0.5px white, 689px 151px 0.5px 0.5px white, 427px 604px 0.5px 0.5px white, 1470px 1998px 0.5px 0.5px white, 1006px 151px 0.5px 0.5px white, 131px 882px 0.5px 0.5px white, 131px 649px 0.5px 0.5px white, 962px 941px 0.5px 0.5px white, 635px 1309px 0.5px 0.5px white, 93px 754px 0.5px 0.5px white, 972px 335px 0.5px 0.5px white, 1810px 514px 0.5px 0.5px white, 1136px 416px 0.5px 0.5px white, 1221px 245px 0.5px 0.5px white, 463px 151px 0.5px 0.5px white, 535px 1219px 0.5px 0.5px white, 548px 1993px 0.5px 0.5px white, 1170px 1322px 0.5px 0.5px white, 111px 1800px 0.5px 0.5px white, 482px 1150px 0.5px 0.5px white, 1430px 1889px 0.5px 0.5px white, 1825px 1665px 0.5px 0.5px white, 1558px 1054px 0.5px 0.5px white, 568px 544px 0.5px 0.5px white, 774px 1873px 0.5px 0.5px white, 807px 509px 0.5px 0.5px white, 1107px 1499px 0.5px 0.5px white, 1185px 331px 0.5px 0.5px white, 1857px 1210px 0.5px 0.5px white, 938px 1314px 0.5px 0.5px white, 946px 679px 0.5px 0.5px white, 1322px 787px 0.5px 0.5px white, 321px 1939px 0.5px 0.5px white, 675px 790px 0.5px 0.5px white, 1854px 253px 0.5px 0.5px white, 1540px 516px 0.5px 0.5px white, 533px 646px 0.5px 0.5px white, 205px 1843px 0.5px 0.5px white, 1768px 1831px 0.5px 0.5px white, 1271px 477px 0.5px 0.5px white, 60px 1380px 0.5px 0.5px white;
  animation: shine 3.8s 0.1s ease-in-out infinite alternate;
}

.star-cluster-white-large {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: 1998px 612px 0.5px 0.5px white, 1922px 800px 0.5px 0.5px white, 89px 1412px 0.5px 0.5px white, 1766px 1422px 0.5px 0.5px white, 1283px 538px 0.5px 0.5px white, 1699px 657px 0.5px 0.5px white, 372px 680px 0.5px 0.5px white, 907px 989px 0.5px 0.5px white, 533px 297px 0.5px 0.5px white, 641px 1422px 0.5px 0.5px white, 1551px 450px 0.5px 0.5px white, 370px 707px 0.5px 0.5px white, 117px 1354px 0.5px 0.5px white, 1253px 1767px 0.5px 0.5px white, 885px 137px 0.5px 0.5px white, 1158px 1685px 0.5px 0.5px white, 1558px 1090px 0.5px 0.5px white, 1017px 453px 0.5px 0.5px white, 147px 816px 0.5px 0.5px white, 1053px 680px 0.5px 0.5px white, 603px 58px 0.5px 0.5px white, 203px 27px 0.5px 0.5px white, 579px 1051px 0.5px 0.5px white, 5px 1959px 0.5px 0.5px white, 658px 720px 0.5px 0.5px white, 1738px 1894px 0.5px 0.5px white, 1529px 1495px 0.5px 0.5px white, 1461px 313px 0.5px 0.5px white, 1664px 360px 0.5px 0.5px white, 1103px 1489px 0.5px 0.5px white, 201px 3px 0.5px 0.5px white, 999px 1567px 0.5px 0.5px white, 417px 313px 0.5px 0.5px white, 719px 1984px 0.5px 0.5px white, 545px 194px 0.5px 0.5px white, 671px 221px 0.5px 0.5px white, 1700px 92px 0.5px 0.5px white, 1975px 905px 0.5px 0.5px white, 1301px 1357px 0.5px 0.5px white, 931px 964px 0.5px 0.5px white, 1485px 1229px 0.5px 0.5px white, 950px 1150px 0.5px 0.5px white, 309px 1399px 0.5px 0.5px white, 590px 1302px 0.5px 0.5px white, 1413px 1762px 0.5px 0.5px white, 342px 462px 0.5px 0.5px white, 1510px 794px 0.5px 0.5px white, 1573px 730px 0.5px 0.5px white, 1652px 1130px 0.5px 0.5px white;
  animation: shine 3.4s 0.2s ease-in-out infinite alternate;
}

.star-cluster-red {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  box-shadow: 1249px 1216px 0.5px 0.5px red, 927px 993px 0.5px 0.5px red, 141px 570px 0.5px 0.5px red, 326px 784px 0.5px 0.5px red, 172px 2034px 0.5px 0.5px red, 716px 1405px 0.5px 0.5px red, 916px 1855px 0.5px 0.5px red, 1786px 705px 0.5px 0.5px red, 1872px 608px 0.5px 0.5px red, 1507px 826px 0.5px 0.5px red, 1170px 1358px 0.5px 0.5px red, 469px 599px 0.5px 0.5px red, 1732px 1514px 0.5px 0.5px red, 1642px 2002px 0.5px 0.5px red, 11px 216px 0.5px 0.5px red, 1172px 532px 0.5px 0.5px red, 1573px 1025px 0.5px 0.5px red, 1648px 1802px 0.5px 0.5px red, 1048px 1608px 0.5px 0.5px red, 1547px 1365px 0.5px 0.5px red, 1966px 433px 0.5px 0.5px red, 1673px 970px 0.5px 0.5px red, 218px 1938px 0.5px 0.5px red, 1372px 1283px 0.5px 0.5px red, 1625px 1089px 0.5px 0.5px red, 1436px 118px 0.5px 0.5px red, 1895px 755px 0.5px 0.5px red, 764px 1147px 0.5px 0.5px red, 1878px 1150px 0.5px 0.5px red, 859px 1592px 0.5px 0.5px red, 790px 1521px 0.5px 0.5px red, 183px 1159px 0.5px 0.5px red, 1118px 76px 0.5px 0.5px red, 1011px 1984px 0.5px 0.5px red, 1904px 1583px 0.5px 0.5px red, 2033px 7px 0.5px 0.5px red, 1599px 1495px 0.5px 0.5px red, 1940px 1537px 0.5px 0.5px red, 1330px 551px 0.5px 0.5px red, 1847px 1354px 0.5px 0.5px red, 434px 816px 0.5px 0.5px red, 47px 749px 0.5px 0.5px red, 913px 61px 0.5px 0.5px red, 800px 1957px 0.5px 0.5px red, 176px 410px 0.5px 0.5px red, 365px 1381px 0.5px 0.5px red, 535px 93px 0.5px 0.5px red, 212px 25px 0.5px 0.5px red, 426px 1141px 0.5px 0.5px red;
  animation: shine 4.2s 0.5s ease-in-out infinite alternate;
}

.star-cluster-purple {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  box-shadow: 1569px 1210px 0.5px 0.5px rgb(191, 0, 255), 136px 1462px 0.5px 0.5px rgb(191, 0, 255), 1112px 763px 0.5px 0.5px rgb(191, 0, 255), 211px 981px 0.5px 0.5px rgb(191, 0, 255), 2024px 1750px 0.5px 0.5px rgb(191, 0, 255), 962px 1891px 0.5px 0.5px rgb(191, 0, 255), 1674px 136px 0.5px 0.5px rgb(191, 0, 255), 219px 713px 0.5px 0.5px rgb(191, 0, 255), 729px 1403px 0.5px 0.5px rgb(191, 0, 255), 89px 2010px 0.5px 0.5px rgb(191, 0, 255), 1175px 1046px 0.5px 0.5px rgb(191, 0, 255), 1517px 37px 0.5px 0.5px rgb(191, 0, 255), 1010px 1401px 0.5px 0.5px rgb(191, 0, 255), 1575px 2002px 0.5px 0.5px rgb(191, 0, 255), 1716px 1988px 0.5px 0.5px rgb(191, 0, 255), 1344px 908px 0.5px 0.5px rgb(191, 0, 255), 990px 510px 0.5px 0.5px rgb(191, 0, 255), 1974px 272px 0.5px 0.5px rgb(191, 0, 255), 893px 1813px 0.5px 0.5px rgb(191, 0, 255), 1680px 295px 0.5px 0.5px rgb(191, 0, 255), 1102px 1203px 0.5px 0.5px rgb(191, 0, 255), 1843px 626px 0.5px 0.5px rgb(191, 0, 255), 1494px 993px 0.5px 0.5px rgb(191, 0, 255), 1017px 1535px 0.5px 0.5px rgb(191, 0, 255), 1197px 334px 0.5px 0.5px rgb(191, 0, 255), 993px 1602px 0.5px 0.5px rgb(191, 0, 255), 1250px 763px 0.5px 0.5px rgb(191, 0, 255), 1479px 815px 0.5px 0.5px rgb(191, 0, 255), 799px 1952px 0.5px 0.5px rgb(191, 0, 255), 178px 1413px 0.5px 0.5px rgb(191, 0, 255), 384px 1554px 0.5px 0.5px rgb(191, 0, 255), 731px 1869px 0.5px 0.5px rgb(191, 0, 255), 1233px 938px 0.5px 0.5px rgb(191, 0, 255), 1465px 1538px 0.5px 0.5px rgb(191, 0, 255), 1123px 361px 0.5px 0.5px rgb(191, 0, 255), 1059px 784px 0.5px 0.5px rgb(191, 0, 255), 1448px 783px 0.5px 0.5px rgb(191, 0, 255), 1951px 1051px 0.5px 0.5px rgb(191, 0, 255), 991px 853px 0.5px 0.5px rgb(191, 0, 255), 1395px 236px 0.5px 0.5px rgb(191, 0, 255), 1606px 369px 0.5px 0.5px rgb(191, 0, 255), 1454px 764px 0.5px 0.5px rgb(191, 0, 255), 485px 713px 0.5px 0.5px rgb(191, 0, 255), 1534px 746px 0.5px 0.5px rgb(191, 0, 255), 1980px 593px 0.5px 0.5px rgb(191, 0, 255), 1494px 1861px 0.5px 0.5px rgb(191, 0, 255), 106px 1263px 0.5px 0.5px rgb(191, 0, 255), 1873px 1574px 0.5px 0.5px rgb(191, 0, 255), 1334px 1460px 0.5px 0.5px rgb(191, 0, 255);
  animation: shine 3.2s 0.8s ease-in-out infinite alternate;
}

.star-cluster-blue {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  box-shadow: 1443px 1596px 0.5px 0.5px rgb(4, 209, 158), 1151px 144px 0.5px 0.5px rgb(4, 209, 158), 1322px 1987px 0.5px 0.5px rgb(4, 209, 158), 280px 629px 0.5px 0.5px rgb(4, 209, 158), 1786px 1261px 0.5px 0.5px rgb(4, 209, 158), 1853px 657px 0.5px 0.5px rgb(4, 209, 158), 141px 1730px 0.5px 0.5px rgb(4, 209, 158), 48px 579px 0.5px 0.5px rgb(4, 209, 158), 139px 922px 0.5px 0.5px rgb(4, 209, 158), 659px 1856px 0.5px 0.5px rgb(4, 209, 158), 1814px 893px 0.5px 0.5px rgb(4, 209, 158), 1716px 1845px 0.5px 0.5px rgb(4, 209, 158), 175px 33px 0.5px 0.5px rgb(4, 209, 158), 430px 1099px 0.5px 0.5px rgb(4, 209, 158), 928px 836px 0.5px 0.5px rgb(4, 209, 158), 391px 1001px 0.5px 0.5px rgb(4, 209, 158), 1942px 351px 0.5px 0.5px rgb(4, 209, 158), 928px 1185px 0.5px 0.5px rgb(4, 209, 158), 948px 58px 0.5px 0.5px rgb(4, 209, 158), 1641px 1358px 0.5px 0.5px rgb(4, 209, 158), 1147px 1204px 0.5px 0.5px rgb(4, 209, 158), 1642px 1050px 0.5px 0.5px rgb(4, 209, 158), 1586px 1380px 0.5px 0.5px rgb(4, 209, 158), 1395px 1906px 0.5px 0.5px rgb(4, 209, 158), 213px 543px 0.5px 0.5px rgb(4, 209, 158), 1152px 1231px 0.5px 0.5px rgb(4, 209, 158), 430px 1121px 0.5px 0.5px rgb(4, 209, 158), 1420px 1920px 0.5px 0.5px rgb(4, 209, 158), 746px 691px 0.5px 0.5px rgb(4, 209, 158), 674px 1644px 0.5px 0.5px rgb(4, 209, 158), 900px 762px 0.5px 0.5px rgb(4, 209, 158), 1863px 284px 0.5px 0.5px rgb(4, 209, 158), 1002px 1949px 0.5px 0.5px rgb(4, 209, 158), 988px 1737px 0.5px 0.5px rgb(4, 209, 158), 1626px 1358px 0.5px 0.5px rgb(4, 209, 158), 1417px 1923px 0.5px 0.5px rgb(4, 209, 158), 1649px 1746px 0.5px 0.5px rgb(4, 209, 158), 1036px 685px 0.5px 0.5px rgb(4, 209, 158), 1751px 919px 0.5px 0.5px rgb(4, 209, 158), 41px 1401px 0.5px 0.5px rgb(4, 209, 158), 547px 1946px 0.5px 0.5px rgb(4, 209, 158), 901px 1797px 0.5px 0.5px rgb(4, 209, 158), 260px 1869px 0.5px 0.5px rgb(4, 209, 158), 727px 493px 0.5px 0.5px rgb(4, 209, 158), 93px 615px 0.5px 0.5px rgb(4, 209, 158), 737px 841px 0.5px 0.5px rgb(4, 209, 158), 751px 611px 0.5px 0.5px rgb(4, 209, 158), 1023px 1770px 0.5px 0.5px rgb(4, 209, 158), 1152px 252px 0.5px 0.5px rgb(4, 209, 158), 1569px 1258px 0.5px 0.5px rgb(4, 209, 158), 1020px 503px 0.5px 0.5px rgb(4, 209, 158), 773px 169px 0.5px 0.5px rgb(4, 209, 158), 128px 1114px 0.5px 0.5px rgb(4, 209, 158), 564px 578px 0.5px 0.5px rgb(4, 209, 158), 1436px 2033px 0.5px 0.5px rgb(4, 209, 158), 281px 1607px 0.5px 0.5px rgb(4, 209, 158), 1309px 488px 0.5px 0.5px rgb(4, 209, 158), 237px 2028px 0.5px 0.5px rgb(4, 209, 158), 461px 946px 0.5px 0.5px rgb(4, 209, 158), 1230px 1973px 0.5px 0.5px rgb(4, 209, 158), 938px 1463px 0.5px 0.5px rgb(4, 209, 158), 1px 1686px 0.5px 0.5px rgb(4, 209, 158), 882px 1481px 0.5px 0.5px rgb(4, 209, 158), 637px 889px 0.5px 0.5px rgb(4, 209, 158), 238px 1709px 0.5px 0.5px rgb(4, 209, 158), 598px 1996px 0.5px 0.5px rgb(4, 209, 158), 552px 553px 0.5px 0.5px rgb(4, 209, 158), 1810px 1083px 0.5px 0.5px rgb(4, 209, 158), 917px 491px 0.5px 0.5px rgb(4, 209, 158), 1762px 799px 0.5px 0.5px rgb(4, 209, 158), 588px 1705px 0.5px 0.5px rgb(4, 209, 158), 561px 22px 0.5px 0.5px rgb(4, 209, 158), 1896px 632px 0.5px 0.5px rgb(4, 209, 158), 1878px 1590px 0.5px 0.5px rgb(4, 209, 158), 572px 1111px 0.5px 0.5px rgb(4, 209, 158), 1985px 175px 0.5px 0.5px rgb(4, 209, 158), 1858px 1667px 0.5px 0.5px rgb(4, 209, 158), 672px 486px 0.5px 0.5px rgb(4, 209, 158), 666px 1101px 0.5px 0.5px rgb(4, 209, 158), 989px 752px 0.5px 0.5px rgb(4, 209, 158), 364px 265px 0.5px 0.5px rgb(4, 209, 158), 1008px 941px 0.5px 0.5px rgb(4, 209, 158), 1696px 1429px 0.5px 0.5px rgb(4, 209, 158), 1858px 167px 0.5px 0.5px rgb(4, 209, 158), 123px 1516px 0.5px 0.5px rgb(4, 209, 158), 1411px 899px 0.5px 0.5px rgb(4, 209, 158), 1822px 1735px 0.5px 0.5px rgb(4, 209, 158), 479px 1374px 0.5px 0.5px rgb(4, 209, 158), 1364px 1327px 0.5px 0.5px rgb(4, 209, 158), 1446px 1751px 0.5px 0.5px rgb(4, 209, 158), 1574px 794px 0.5px 0.5px rgb(4, 209, 158), 1450px 1847px 0.5px 0.5px rgb(4, 209, 158), 1537px 1154px 0.5px 0.5px rgb(4, 209, 158), 896px 1283px 0.5px 0.5px rgb(4, 209, 158), 85px 1572px 0.5px 0.5px rgb(4, 209, 158), 2026px 372px 0.5px 0.5px rgb(4, 209, 158), 159px 853px 0.5px 0.5px rgb(4, 209, 158), 88px 613px 0.5px 0.5px rgb(4, 209, 158), 179px 833px 0.5px 0.5px rgb(4, 209, 158);
  animation: shine 2.2s 0.5s ease-in-out infinite alternate;
}

@keyframes shine {
  0%, 28%, 45%, 76%, 95% {
    opacity: 1;
  }
  15%, 60%, 84%, 100% {
    opacity: 0.2;
  }
}
.shooting-star-white {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 3px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.82);
  border-radius: 50%;
  animation: move 15s 10s linear infinite forwards;
  animation-iteration-count: 1;
}
.shooting-star-white:after {
  content: "";
  display: block;
  width: 5px;
  height: 100px;
  background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.82));
  opacity: 0.5;
  transform: translate(-2px, -100px) rotate(-45deg);
  transform-origin: bottom;
}

.shooting-star-purple {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 4px;
  height: 4px;
  background-color: rgb(251, 17, 173);
  border-radius: 50%;
  animation: move 15s 40s linear infinite forwards;
  animation-iteration-count: 1;
}
.shooting-star-purple:after {
  content: "";
  display: block;
  width: 5px;
  height: 100px;
  background: linear-gradient(to bottom, transparent, rgb(251, 17, 173));
  opacity: 0.5;
  transform: translate(-2px, -100px) rotate(-45deg);
  transform-origin: bottom;
}

.shooting-star-blue {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 3px;
  height: 3px;
  background-color: rgb(4, 209, 158);
  border-radius: 50%;
  animation: move 20s 80s linear infinite forwards;
  animation-iteration-count: 1;
}
.shooting-star-blue:after {
  content: "";
  display: block;
  width: 5px;
  height: 100px;
  background: linear-gradient(to bottom, transparent, rgb(4, 209, 158));
  opacity: 0.5;
  transform: translate(-2px, -100px) rotate(-45deg);
  transform-origin: bottom;
}

.shooting-star-test {
  width: 50px;
  height: 50px;
  background-color: white;
  animation: move 10s 1s linear infinite;
}

@keyframes move {
  0% {
    transform: translate(-20px, -20px);
  }
  100% {
    transform: translate(70vw, 110vh);
  }
}
.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

svg text {
  font-size: 55px;
  fill: transparent;
  animation: stroke-animation 3s forwards;
}

.svg-smiley {
  stroke: white;
  animation: fade-in 2s ease-in;
}

.bio {
  margin: 20px;
  color: rgb(190, 190, 190);
  animation: fade-in 2s ease-in;
}

.bio-new {
  margin: 30px;
  color: rgb(250, 250, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  overflow: hidden;
}
.bio-new .bio-item {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bio-new .bio-item .bar {
  position: absolute;
  top: 0;
  background-color: white;
  width: 100%;
  height: 3px;
}
.bio-new .bio-item .role {
  margin: 0 30px;
}
.bio-new .bio-item:nth-of-type(1) .bar {
  transform-origin: right;
  animation: bar-animation 1s 2s ease-out forwards;
}
.bio-new .bio-item:nth-of-type(1) .role {
  transform: translateY(-50px);
  animation: role-slide-down 1s 1s ease-in forwards;
}
.bio-new .bio-item:nth-of-type(2) .bar {
  transform-origin: right;
  animation: bar-slide-down 0.5s 1s ease-out forwards, bar-slide-down-after 1s 2s ease-out forwards;
}
.bio-new .bio-item:nth-of-type(2) .role {
  transform: translateY(50px);
  animation: role-slide-up 1s 1s ease-in forwards;
}
.bio-new .bio-item:nth-of-type(3) .bar {
  transform-origin: left;
  animation: bar-animation 1s 2s ease-out forwards;
}
.bio-new .bio-item:nth-of-type(3) .role {
  transform: translateY(-50px);
  animation: role-slide-down 1s 1s ease-in forwards;
}
.bio-new .divider-1 {
  width: 3px;
  height: 50px;
  background-color: white;
  position: relative;
  transform: scaleY(0.06);
  transform-origin: top;
  animation: divider-scale 0.5s 1s ease-out forwards;
}
.bio-new .divider-1::before {
  content: "";
  display: block;
  position: absolute;
  left: -80px;
  width: 80px;
  height: 3px;
  background-color: white;
}
.bio-new .divider-1::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 20px;
  height: 3px;
  background-color: white;
}
.bio-new .divider-2 {
  width: 3px;
  height: 50px;
  background-color: white;
  position: relative;
  transform: scaleY(0.06);
  transform-origin: top;
  animation: divider-scale 0.5s 1s ease-out forwards;
}
.bio-new .divider-2::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: white;
}
.bio-new .divider-2::after {
  content: "";
  display: block;
  position: absolute;
  left: -80px;
  bottom: 0;
  width: 80px;
  height: 3px;
  background-color: white;
}

@keyframes bar-slide-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(47px);
  }
}
@keyframes bar-slide-down-after {
  0% {
    transform: translateY(47px) scaleX(1);
  }
  100% {
    transform: translateY(47px) scaleX(0);
  }
}
@keyframes bar-animation {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes role-slide-down {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes role-slide-up {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes divider-scale {
  0% {
    transform: scaleY(0.06);
  }
  100% {
    transform: scaleY(1);
  }
}
.navigation-links a {
  text-decoration: none;
  padding: 15px;
  border-radius: 50%;
  border: 1px solid rgb(204, 204, 204);
  color: rgb(212, 212, 212);
  font-size: 26px;
  margin: 20px;
  opacity: 0;
  animation: slide-in 2s ease-in forwards;
}

.navigation-links a:nth-child(1) {
  animation-delay: 0s;
}

.navigation-links a:nth-child(2) {
  animation-delay: 0.3s;
}

.navigation-links a:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes stroke-animation {
  0% {
    stroke: rgb(226, 226, 226);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 1;
  }
  50% {
    fill: transparent;
  }
  70% {
    stroke: rgb(226, 226, 226);
  }
  80% {
    stroke: rgb(226, 226, 226);
    stroke-width: 1;
  }
  100% {
    fill: rgb(207, 206, 206);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@media screen and (max-width: 500px) {
  .svg-text {
    padding: 0 20px;
  }
  .svg-text text {
    font-size: 40px;
  }
}

/*# sourceMappingURL=landing.css.map */
