* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    height: 100%;
}

body {
  height: 100%;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='87' height='50.232' patternTransform='scale(3) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(187, 13%, 93%, 1)'/><path d='M0 54.424l14.5-8.373c4.813 2.767 9.705 5.573 14.5 8.37l14.5-8.373V29.303M0 4.193v16.744l-14.5 8.373L0 37.68l14.5-8.374V12.562l29-16.746m43.5 58.6l-14.5-8.37v-33.49c-4.795-2.797-9.687-5.603-14.5-8.37m43.5 25.111L87 37.67c-4.795-2.797-24.187-13.973-29-16.74l-14.5 8.373-14.5-8.37v-33.489m72.5 8.365L87 4.183l-14.5-8.37M87 4.183v16.745L58 37.673v16.744m0-66.976V4.185L43.5 12.56c-4.795-2.797-24.187-13.973-29-16.74L0 4.192l-14.5-8.37m29 33.484c4.813 2.767 9.705 5.573 14.5 8.37V54.42'  stroke-linecap='square' stroke-width='0.5' stroke='hsla(187, 100%, 42%, 0.23)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.container {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}

.banner {
    position: relative;
    flex: 1 0 auto;
    width: 50%;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='87' height='50.232' patternTransform='scale(3) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(187, 100%, 42%, 1)'/><path d='M0 54.424l14.5-8.373c4.813 2.767 9.705 5.573 14.5 8.37l14.5-8.373V29.303M0 4.193v16.744l-14.5 8.373L0 37.68l14.5-8.374V12.562l29-16.746m43.5 58.6l-14.5-8.37v-33.49c-4.795-2.797-9.687-5.603-14.5-8.37m43.5 25.111L87 37.67c-4.795-2.797-24.187-13.973-29-16.74l-14.5 8.373-14.5-8.37v-33.489m72.5 8.365L87 4.183l-14.5-8.37M87 4.183v16.745L58 37.673v16.744m0-66.976V4.185L43.5 12.56c-4.795-2.797-24.187-13.973-29-16.74L0 4.192l-14.5-8.37m29 33.484c4.813 2.767 9.705 5.573 14.5 8.37V54.42'  stroke-linecap='square' stroke-width='0.5' stroke='hsla(174, 100%, 29%, 0.32)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    height: 100%;
    border-top-right-radius: 60%;
    border-bottom-right-radius: 40%;
}

.developer-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#developer {
    width: 600px;
    height: 600px;
}

.content {
    flex: 1 0 auto;
    width: 50%;
    position: relative;
    height: 100%;
}

.text-content {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.greeeting {
    font-family: 'The Nautigal', cursive;
    font-size: 85px;
    margin-bottom: 20px;
}

.animated-role {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    height: 30px;
    color: rgb(1, 161, 205);
}

.cursor {
    width: 2.5px;
    height: 30px;
    background-color: rgb(235, 51, 51);
}

.blink {
    animation: 750ms linear 0s infinite alternate blink;
}

@keyframes blink {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.navigation-links {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 2;
}

.navigation-links a {
  text-decoration: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  border: 1px solid grey;
  color: black;
  font-size: 26px;
  margin: 15px;
  opacity: 0;
  animation: slide-in 2s ease-in forwards;
}

.navigation-links a:hover {
    color: rgb(1, 161, 205);
}

.navigation-links a:nth-child(1) {
  animation-delay: 0s;
}

.navigation-links a:nth-child(2) {
  animation-delay: 0.3s;
}

.navigation-links a:nth-child(3) {
  animation-delay: 0.6s;
}

.navigation-links a:nth-child(4) {
  animation-delay: 0.9s;
}

@keyframes slide-in {
  0% {
      opacity: 0;
      transform: translateY(100%);
  }
  100% {
      opacity: 1;
      transform: translateY(0%);
  }
}

#Head {
    transform-origin: bottom;
    animation: 1s linear 0s infinite alternate animateHead;
}

@keyframes animateHead {
    0% {
        transform: translateY(1px) rotate(0deg);
    }
    100% {
        transform: translateY(1.5px) rotate(0.5deg);
    }
}

@media screen and (max-width: 1200px) {
    .greeeting {
        font-size: 60px;
    }

    .animated-role {
        font-size: 20px;
    }

    .navigation-links a {
        font-size: 18px;
        padding: 10px;
        margin: 10px;
    }
}

@media screen and (max-width: 1400px) {
    #developer {
        width: 500px;
        height: 500px;
    }
}

@media screen and (max-width: 1200px) {
    #developer {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 900px) {
    .container {
        flex-direction: column-reverse;
    }

    .banner {
        display: none;
    }

    .content {
        width: 100%;
        background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='87' height='50.232' patternTransform='scale(3) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(187, 100%, 42%, 1)'/><path d='M0 54.424l14.5-8.373c4.813 2.767 9.705 5.573 14.5 8.37l14.5-8.373V29.303M0 4.193v16.744l-14.5 8.373L0 37.68l14.5-8.374V12.562l29-16.746m43.5 58.6l-14.5-8.37v-33.49c-4.795-2.797-9.687-5.603-14.5-8.37m43.5 25.111L87 37.67c-4.795-2.797-24.187-13.973-29-16.74l-14.5 8.373-14.5-8.37v-33.489m72.5 8.365L87 4.183l-14.5-8.37M87 4.183v16.745L58 37.673v16.744m0-66.976V4.185L43.5 12.56c-4.795-2.797-24.187-13.973-29-16.74L0 4.192l-14.5-8.37m29 33.484c4.813 2.767 9.705 5.573 14.5 8.37V54.42'  stroke-linecap='square' stroke-width='0.5' stroke='hsla(174, 100%, 29%, 0.32)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
        height: 100%;
        border-top-right-radius: 60%;
        border-bottom-right-radius: 40%;
    }

    .animated-role {
        color: rgb(230, 230, 230);
    }
}