// Bcckground - Star clusters and shooting stars
section.landing {
    width: 100vw;
    height: 100vh;
    // background: linear-gradient(to bottom, black, rgba(186, 14, 160, 0.686)); // purple

    background: linear-gradient(to bottom, black, rgb(2, 150, 169)); // blue
}

@function generate-stars($width, $height, $density, $color, $delay) {
    $stars: '#{random($width)}px #{random($height)}px 0.5px 0.5px #{$color}';

    @for $i from 2 to $density {
        $stars: '#{$stars}, #{random($width)}px #{random($height)}px 0.5px 0.5px #{$color}';
    }

    @return unquote($stars);
}

@mixin star-content($color, $size, $density, $duration, $delay) {
    width: unquote('#{$size}px');
    height: unquote('#{$size}px');
    border-radius: 50%;
    box-shadow: generate-stars(2048, 2048, $density, $color, $duration);
    animation: unquote('shine #{$duration + $size*0.1}s #{$delay}s ease-in-out infinite alternate');
}

.star-cluster-white-small {
    @include star-content(white, 2, 400, 5, 0.5)
}

.star-cluster-white-medium {
    @include star-content(white, 3, 300, 3.5, 0.1)
}

.star-cluster-white-large {
    @include star-content(white, 4, 50, 3, 0.2)
}

.star-cluster-red {
    @include star-content(red, 2, 50, 4, 0.5)
}

.star-cluster-purple {
    @include star-content(rgb(191, 0, 255), 2, 50, 3, 0.8)
}

.star-cluster-blue {
    @include star-content(rgb(4, 209, 158), 2, 100, 2, 0.5)
}

@keyframes shine {
    0%, 28%, 45%, 76%, 95% {
        opacity: 1;
    }
    15%, 60%, 84%, 100% {
        opacity: 0.2;
    }
}

@mixin shooting-star-content($color, $size, $duration, $delay) {
    position: absolute;
    top: -20px;
    left: -20px;
    width: unquote('#{$size}px');
    height: unquote('#{$size}px');
    background-color: $color;
    border-radius: 50%;
    animation: move unquote('#{$duration}s') unquote('#{$delay}s') linear infinite forwards;
    animation-iteration-count: 1;

    &:after {
        content: '';
        display: block;
        width: 5px;
        height: 100px;
        background: linear-gradient(to bottom, transparent, $color);
        opacity: 0.5;
        transform: translate(-2px, -100px) rotate(-45deg);
        transform-origin: bottom;
    }
}

.shooting-star-white {
    @include shooting-star-content(rgba(255, 255, 255, 0.82), 3, 10, 10);
}
.shooting-star-purple {
    @include shooting-star-content(rgb(251, 17, 173), 4, 15, 40);
}
.shooting-star-blue {
    @include shooting-star-content(rgb(4, 209, 158), 3, 20, 80);
}

@keyframes move {
    0% {
        transform: translate(-20px, -20px);
    }
    100% {
        transform: translate(70vw, 110vh);
    }
}


// Content - Greeting with links
.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

svg text {
    font-size: 55px;
    fill: transparent;
    animation: stroke-animation 3s forwards;
}

.svg-smiley {
    // margin-left: -10px;
    stroke: white;
    animation: fade-in 2s ease-in;
}

.bio {
    margin: 20px;
    color: rgb(190, 190, 190);
    animation: fade-in 2s ease-in;
}

.navigation-links a {
    text-decoration: none;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid rgb(204, 204, 204);
    color: rgb(212, 212, 212);
    font-size: 26px;
    margin: 20px;
    opacity: 0;
    animation: slide-in 2s ease-in forwards;
}

.navigation-links a:nth-child(1) {
    animation-delay: 0s;
}

.navigation-links a:nth-child(2) {
    animation-delay: 0.3s;
}

.navigation-links a:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes stroke-animation {
    0%   {
        stroke: rgb(226, 226, 226);
		stroke-dashoffset: 25%; 
        stroke-dasharray: 0 50%; 
        stroke-width: 1;
	}
    50% {
        fill: transparent;
    }
	70%  {
        stroke: rgb(226, 226, 226);
    }
	80%  {
        stroke: rgb(226, 226, 226);
        stroke-width: 1; 
    }
	100% {
        fill: rgb(207, 206, 206);
		stroke-dashoffset: -25%; 
        stroke-dasharray: 50% 0; 
        stroke-width: 0;
	}
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


@media screen and (max-width: 500px) {
    .svg-text {
        padding: 0 20px;
    }

    .svg-text text {
        font-size: 40px;
    }
}